This notebook is for data preprocessing

In [2]:
import numpy as np 
import pandas as pd 
import csv
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [10]:
data = pd.read_csv(r"../../InputData/AdultDataset/ForClassification/CleanAdult_numerical.csv")
print(data.shape)
data[:4]

(45222, 15)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,2,226802,1,7,4,6,3,2,1,0,0,40,38,0
1,38,2,89814,11,9,2,4,0,4,1,0,0,50,38,0
2,28,1,336951,7,12,2,10,0,4,1,0,0,40,38,1
3,44,2,160323,15,10,2,6,0,2,1,7688,0,40,38,1

In [11]:
mis = pd.read_csv(r"../../InputData/AdultDataset/ForClassification/CleanAdult_numerical_mis.csv")
print(mis.shape)
mis[:4]

(4340, 15)

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,act,pred
0,40,2,15,10,4,3,1,4,0,0,1340,40,38,0,[1]
1,43,2,11,9,2,13,0,1,1,0,0,99,38,0,[1]
2,34,2,11,9,2,2,0,4,1,0,0,50,38,1,[0]
3,33,2,12,14,2,9,0,4,1,0,0,45,38,1,[0]

In [12]:
data.describe()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
count,45222.000000,45222.000000,4.522200e+04,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000
mean,38.547941,2.204502,1.897347e+05,10.313321,10.118460,2.585180,5.969572,1.412697,3.680288,0.675048,1101.430344,88.595418,40.938017,36.401022,0.247844
std,13.217870,0.958122,1.056392e+05,3.817014,2.552881,1.500458,4.026400,1.597227,0.832353,0.468362,7506.430084,404.956092,12.007508,6.079856,0.431766
min,17.000000,0.000000,1.349200e+04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,28.000000,2.000000,1.173882e+05,9.000000,9.000000,2.000000,2.000000,0.000000,4.000000,0.000000,0.000000,0.000000,40.000000,38.000000,0.000000
50%,37.000000,2.000000,1.783160e+05,11.000000,10.000000,2.000000,6.000000,1.000000,4.000000,1.000000,0.000000,0.000000,40.000000,38.000000,0.000000
75%,47.000000,2.000000,2.379260e+05,12.000000,13.000000,4.000000,9.000000,3.000000,4.000000,1.000000,0.000000,0.000000,45.000000,38.000000,0.000000
max,90.000000,6.000000,1.490400e+06,15.000000,16.000000,6.000000,13.000000,5.000000,4.000000,1.000000,99999.000000,4356.000000,99.000000,40.000000,1.000000

In [15]:
print(len(data))
print(len(data[data['capital-gain'] == 0]))

print(len(data))
print(len(data[data['capital-loss'] == 0]))

45222
41432
45222
43082

## categorize attributes:

age, capital-gain, capital-loss, hours-per-week

attributes already categorized:
category_col =['workclass', 'race', 'education','marital-status', 'occupation',
               'relationship', 'gender', 'native-country', 'income']

In [17]:
def age(x):
    if x <= 30:
        return 0
    elif x <= 50:
        return 1
    else:
        return 2


def capitalgain(x):
    if x == 0:
        return 0
    else:
        return 1


def capitalloss(x):
    if x == 0:
        return 0
    else:
        return 1


def hoursperweek(x):
    if x < 50:
        return 0
    else:
        return 1

In [18]:
def categorize(data):
    data['age'] = data['age'].map(lambda x: age(x))
    data['capital-gain'] = data['capital-gain'].map(lambda x: capitalgain(x))
    data['capital-loss'] = data['capital-loss'].map(lambda x: capitalloss(x))
    data['hours-per-week'] = data['hours-per-week'].map(lambda x: hoursperweek(x))

In [ ]:
categorize(data)
data.describe()

In [ ]:
data.to_csv(r"../../InputData/AdultDataset/ForClassification/CleanAdult_numerical_cat.csv")

In [21]:
categorize(mis)
mis.describe()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,act
count,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000
mean,1.126959,2.245161,10.697926,10.786175,2.127189,6.293779,0.842857,3.736636,0.812903,0.035714,0.028802,0.298618,36.249309,0.496774
std,0.598270,1.068214,3.183306,2.404362,1.074950,4.147445,1.588507,0.785613,0.390034,0.185598,0.167268,0.457704,6.520064,0.500047
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,9.000000,9.000000,2.000000,3.000000,0.000000,4.000000,1.000000,0.000000,0.000000,0.000000,38.000000,0.000000
50%,1.000000,2.000000,11.000000,10.000000,2.000000,6.000000,0.000000,4.000000,1.000000,0.000000,0.000000,0.000000,38.000000,0.000000
75%,2.000000,2.000000,12.000000,13.000000,2.000000,10.000000,1.000000,4.000000,1.000000,0.000000,0.000000,1.000000,38.000000,1.000000
max,2.000000,6.000000,15.000000,16.000000,6.000000,13.000000,5.000000,4.000000,1.000000,1.000000,1.000000,1.000000,39.000000,1.000000

In [22]:
mis.to_csv(r"../../InputData/AdultDataset/ForClassification/CleanAdult_numerical_mis_cat.csv")

In [28]:

### out put clean data into CleanAdult.csv
mc.to_csv (r'miss_class2.csv', index = False, header=True)

In [37]:
mcdes = mc.describe()
mcdes

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,act
count,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000
mean,0.657604,2.242166,10.715207,10.805760,2.131106,6.300000,0.858065,3.743088,0.808065,0.146544,0.090553,2.013594,36.329954,0.494931
std,0.627994,1.068142,3.174135,2.408848,1.069858,4.157129,1.605517,0.776549,0.393868,0.751552,0.513342,0.595016,6.375431,0.500032
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,9.000000,9.000000,2.000000,3.000000,0.000000,4.000000,1.000000,0.000000,0.000000,2.000000,38.000000,0.000000
50%,1.000000,2.000000,11.000000,10.000000,2.000000,6.000000,0.000000,4.000000,1.000000,0.000000,0.000000,2.000000,38.000000,0.000000
75%,1.000000,2.000000,12.000000,13.000000,2.000000,10.000000,1.000000,4.000000,1.000000,0.000000,0.000000,2.000000,38.000000,1.000000
max,3.000000,6.000000,15.000000,16.000000,6.000000,13.000000,5.000000,4.000000,1.000000,4.000000,3.000000,4.000000,39.000000,1.000000

In [56]:
attributes = mcdes.columns.values
print(mcdes[attributes[0]]['max'])

3.0