In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
compas_data = pd.read_csv("../../InputData/CompasData/RecidivismData_Original-categorized.csv")
print(len(compas_data))

compas_data.describe()

6889

,age,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_days_from_compas,is_recid,is_violent_recid,...,start,end,event,two_year_recid,Violence_score,Recidivism_score,sexC,ageC,raceC,MC
count,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6595.000000,6868.000000,6889.000000,6889.000000,...,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000
mean,34.869792,0.068225,4.507621,0.090289,0.111047,3.466686,2.206065,57.663221,0.479895,0.112353,...,11.567281,554.479315,0.382204,0.450428,-2.368951,-0.693594,0.192771,1.284221,0.693424,0.537233
std,11.924183,0.480444,2.855803,0.484343,0.508643,4.881592,71.840165,331.867889,0.499632,0.315823,...,47.454454,399.199550,0.485961,0.497573,0.871101,0.843544,0.394503,0.575019,0.860519,1.296868
min,18.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-414.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-4.630000,-3.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,0.000000,2.000000,0.000000,0.000000,0.000000,-1.000000,1.000000,0.000000,0.000000,...,0.000000,149.000000,0.000000,0.000000,-2.990000,-1.280000,0.000000,1.000000,0.000000,0.000000
50%,31.000000,0.000000,4.000000,0.000000,0.000000,2.000000,-1.000000,1.000000,0.000000,0.000000,...,0.000000,532.000000,0.000000,0.000000,-2.330000,-0.640000,0.000000,1.000000,0.000000,0.000000
75%,43.000000,0.000000,7.000000,0.000000,0.000000,5.000000,-1.000000,2.000000,1.000000,0.000000,...,2.000000,914.000000,1.000000,1.000000,-1.740000,-0.080000,0.000000,2.000000,1.000000,0.000000
max,83.000000,20.000000,10.000000,13.000000,17.000000,38.000000,1057.000000,9485.000000,1.000000,1.000000,...,937.000000,1186.000000,1.000000,1.000000,0.930000,1.690000,1.000000,3.000000,3.000000,6.000000

In [3]:
compas_data.columns

Index(['name', 'FirstName', 'LastName', 'sex', 'DateOfBirth', 'age', 'race',
       'juv_fel_count', 'decile_score', 'juv_misd_count', 'juv_other_count',
       'priors_count', 'days_b_screening_arrest', 'c_days_from_compas',
       'c_charge_degree', 'is_recid', 'is_violent_recid', 'v_decile_score',
       'priors_count_C', 'start', 'end', 'event', 'two_year_recid',
       'Violence_score', 'Recidivism_score', 'MarriageStatus', 'sexC', 'ageC',
       'raceC', 'MC'],
      dtype='object')

In [19]:
all_attributes = ['sex', 'age', 'race',
       'juv_fel_count', 'decile_score', 'juv_misd_count', 'juv_other_count',
       'priors_count', 'days_b_screening_arrest', 'c_days_from_compas',
       'c_charge_degree', 'is_recid', 'is_violent_recid', 'v_decile_score',
       'priors_count_C', 'start', 'end', 'event', 'two_year_recid',
       'Violence_score', 'Recidivism_score', 'MarriageStatus', 'sexC', 'ageC',
       'raceC', 'MC']

In [20]:
# put only 4 attributes into a file
attributes = ['sexC', 'ageC','raceC', 'MC','priors_count_C']
effective_data = compas_data[attributes].copy()
effective_data.to_csv(r"../../InputData/CompasData/RecidivismData_4att_classified.csv")

In [21]:
col_to_category =['priors_count', 'priors_count_C']
data_to_category = compas_data[col_to_category].copy()
data_to_category.describe()

       priors_count  priors_count_C
count   6889.000000     6889.000000
mean       3.466686        3.466686
std        4.881592        4.881592
min        0.000000        0.000000
25%        0.000000        0.000000
50%        2.000000        2.000000
75%        5.000000        5.000000
max       38.000000       38.000000

In [22]:
compas_data['juv_fel_count_C'] = [0]*6889
compas_data['juv_misd_count_C'] = [0]*6889
compas_data['juv_other_count_C'] = [0]*6889
compas_data['c_charge_degree_C'] = [0]*6889
compas_data['c_days_from_compas_C'] = [0]*6889

In [23]:
compas_data[:4]

,name,FirstName,LastName,sex,DateOfBirth,age,race,juv_fel_count,decile_score,juv_misd_count,...,MarriageStatus,sexC,ageC,raceC,MC,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,c_charge_degree_C,c_days_from_compas_C
0,miguel hernandez,miguel,hernandez,Male,4/18/1947,69,Other,0,1,0,...,Single,0,3,3,0,0,0,0,0,0
1,kevon dixon,kevon,dixon,Male,1/22/1982,34,African-American,0,3,0,...,Single,0,1,0,0,0,0,0,0,0
2,ed philo,ed,philo,Male,5/14/1991,24,African-American,0,4,0,...,Single,0,1,0,0,0,0,0,0,0
3,marcu brown,marcu,brown,Male,1/21/1993,23,African-American,0,8,1,...,Single,0,1,0,0,0,0,0,0,0

### group some non-discrete numbers

In [24]:

def juv_fel_count(x):
    if x < 5:
        return 0
    elif x < 10:
        return 1
    elif x < 15:
        return 2
    else:
        return 3


print(compas_data['juv_fel_count_C'])
compas_data['juv_fel_count_C'] = compas_data['juv_fel_count'].map(lambda x: juv_fel_count(x))
print(compas_data['juv_fel_count_C'])

0       0
1       0
2       0
3       0
4       0
       ..
6884    0
6885    0
6886    0
6887    0
6888    0
Name: juv_fel_count_C, Length: 6889, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
6884    0
6885    0
6886    0
6887    0
6888    0
Name: juv_fel_count_C, Length: 6889, dtype: int64

In [25]:
evi = compas_data[compas_data['juv_fel_count_C'] > 0]
print(evi)

                    name FirstName    LastName   sex DateOfBirth  age  \
535        travis holmes    travis      holmes  Male   12/7/1987   28
1421      markel landers    markel     landers  Male  12/29/1995   20
1714    fandy fleurinord     fandy  fleurinord  Male   2/12/1991   25
3118          gary riess      gary       riess  Male   7/10/1976   39
3196      gavin williams     gavin    williams  Male  10/30/1984   31
3548      zachary brooks   zachary      brooks  Male    8/1/1997   18
3565     emmanuel colson  emmanuel      colson  Male  10/30/1979   36
3698     shanard twensey   shanard     twensey  Male    2/5/1992   24
4992  bradley mammarelli   bradley  mammarelli  Male   5/19/1992   23
5469    timothy kendrick   timothy    kendrick  Male   1/22/1986   30
5523     william cesaire   william     cesaire  Male   7/12/1991   24
6007       tavaris evans   tavaris       evans  Male   1/20/1998   18

                  race  juv_fel_count  decile_score  juv_misd_count  ...  \
535   African-American              8             8               0  ...
1421  African-American              9             4               0  ...
1714             Other             20            10               0  ...
3118         Caucasian              6             7               1  ...
3196  African-American              5             9               0  ...
3548         Caucasian              5             8               0  ...
3565  African-American             10             7               0  ...
3698  African-American              5             8               0  ...
4992         Caucasian              8            10               2  ...
5469  African-American              6             9               0  ...
5523  African-American              5            10               1  ...
6007  African-American              5             5               0  ...

      MarriageStatus  sexC  ageC  raceC MC  juv_fel_count_C  juv_misd_count_C  \
535           Single     0     1      0  0                1                 0
1421          Single     0     0      0  0                1                 0
1714          Single     0     1      3  0                3                 0
3118        Divorced     0     1      1  5                1                 0
3196          Single     0     1      0  0                1                 0
3548          Single     0     0      1  0                1                 0
3565          Single     0     1      0  0                2                 0
3698          Single     0     1      0  0                1                 0
4992        Divorced     0     1      1  5                1                 0
5469          Single     0     1      0  0                1                 0
5523          Single     0     1      0  0                1                 0
6007          Single     0     0      0  0                1                 0

      juv_other_count_C  c_charge_degree_C  c_days_from_compas_C
535                   0                  0                     0
1421                  0                  0                     0
1714                  0                  0                     0
3118                  0                  0                     0
3196                  0                  0                     0
3548                  0                  0                     0
3565                  0                  0                     0
3698                  0                  0                     0
4992                  0                  0                     0
5469                  0                  0                     0
5523                  0                  0                     0
6007                  0                  0                     0

[12 rows x 35 columns]

In [26]:

def juv_misd_count(x):
    if x < 5:
        return 0
    elif x < 10:
        return 1
    else:
        return 2


print(compas_data['juv_misd_count_C'])
compas_data['juv_misd_count_C'] = compas_data['juv_misd_count'].map(lambda x: juv_misd_count(x))
print(compas_data['juv_misd_count_C'])

0       0
1       0
2       0
3       0
4       0
       ..
6884    0
6885    0
6886    0
6887    0
6888    0
Name: juv_misd_count_C, Length: 6889, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
6884    0
6885    0
6886    0
6887    0
6888    0
Name: juv_misd_count_C, Length: 6889, dtype: int64

In [27]:
evi = compas_data[compas_data['juv_misd_count_C'] > 0]
print(evi)

                   name    FirstName   LastName   sex DateOfBirth  age  \
76       kambrel tarver      kambrel     tarver  Male   1/30/1991   25
108     ramon wilkerson        ramon  wilkerson  Male   5/17/1982   33
1178        renee sopon        renee      sopon  Male   5/23/1995   20
1392        james scott        james      scott  Male   1/17/1992   24
2094        deon warren         deon     warren  Male    8/6/1977   38
2975     ellis carswell        ellis   carswell  Male   8/22/1990   25
3221      henry randall        henry    randall  Male   9/27/1978   37
4856     evans mesadieu        evans   mesadieu  Male   9/16/1977   38
4899     marshall higgs     marshall      higgs  Male  11/26/1988   27
4996  christopher kirby  christopher      kirby  Male   3/18/1979   37
5098     matthew thomas      matthew     thomas  Male  11/23/1983   32
5194     frantz abelard       frantz    abelard  Male  11/26/1987   28
6223         kevin soto        kevin       soto  Male   7/27/1991   24

                  race  juv_fel_count  decile_score  juv_misd_count  ...  \
76    African-American              1            10               6  ...
108   African-American              0             8              12  ...
1178             Other              0            10               8  ...
1392  African-American              0             9               5  ...
2094  African-American              0             7               5  ...
2975  African-American              0             9              13  ...
3221  African-American              1             8               8  ...
4856  African-American              1             6               5  ...
4899  African-American              0            10               5  ...
4996         Caucasian              1             7               6  ...
5098  African-American              0             8               6  ...
5194  African-American              0            10               8  ...
6223  African-American              0            10               5  ...

         MarriageStatus  sexC  ageC  raceC MC  juv_fel_count_C  \
76               Single     0     1      0  0                0
108            Divorced     0     1      0  5                0
1178             Single     0     0      3  0                0
1392             Single     0     1      0  0                0
2094  Significant Other     0     1      0  4                0
2975             Single     0     1      0  0                0
3221             Single     0     1      0  0                0
4856  Significant Other     0     1      0  4                0
4899             Single     0     1      0  0                0
4996             Single     0     1      1  0                0
5098             Single     0     1      0  0                0
5194             Single     0     1      0  0                0
6223             Single     0     1      0  0                0

      juv_misd_count_C  juv_other_count_C  c_charge_degree_C  \
76                   1                  0                  0
108                  2                  0                  0
1178                 1                  0                  0
1392                 1                  0                  0
2094                 1                  0                  0
2975                 2                  0                  0
3221                 1                  0                  0
4856                 1                  0                  0
4899                 1                  0                  0
4996                 1                  0                  0
5098                 1                  0                  0
5194                 1                  0                  0
6223                 1                  0                  0

      c_days_from_compas_C
76                       0
108                      0
1178                     0
1392                     0
2094                     0
2975                     0
3221                     0
4856                     0
4899                     0
4996                     0
5098                     0
5194                     0
6223                     0

[13 rows x 35 columns]

In [28]:

def juv_other_count(x):
    if x < 6:
        return 0
    elif x < 12:
        return 1
    else:
        return 2


print(compas_data['juv_other_count_C'])
compas_data['juv_other_count_C'] = compas_data['juv_other_count'].map(lambda x: juv_other_count(x))
print(compas_data['juv_other_count_C'])

0       0
1       0
2       0
3       0
4       0
       ..
6884    0
6885    0
6886    0
6887    0
6888    0
Name: juv_other_count_C, Length: 6889, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
6884    0
6885    0
6886    0
6887    0
6888    0
Name: juv_other_count_C, Length: 6889, dtype: int64

In [29]:
evi = compas_data[compas_data['juv_other_count_C'] > 0]
print(evi)

                  name    FirstName  LastName   sex DateOfBirth  age  \
1516    gregory barnes      gregory    barnes  Male   7/30/1980   35
2689        dale janki         dale     janki  Male    1/3/1992   24
5480   steven ferguson       steven  ferguson  Male  12/17/1994   21
5717        evan blake         evan     blake  Male   2/27/1995   21
6508  christopher leal  christopher      leal  Male  11/15/1992   23

                  race  juv_fel_count  decile_score  juv_misd_count  ...  \
1516  African-American              0             9               4  ...
2689             Other              0            10               1  ...
5480  African-American              0             9               2  ...
5717         Caucasian              0             9               2  ...
6508         Caucasian              0             7               0  ...

      MarriageStatus  sexC  ageC  raceC MC  juv_fel_count_C  juv_misd_count_C  \
1516          Single     0     1      0  0                0                 0
2689          Single     0     1      3  0                0                 0
5480          Single     0     1      0  0                0                 0
5717          Single     0     1      1  0                0                 0
6508          Single     0     1      1  0                0                 0

      juv_other_count_C  c_charge_degree_C  c_days_from_compas_C
1516                  2                  0                     0
2689                  1                  0                     0
5480                  1                  0                     0
5717                  1                  0                     0
6508                  1                  0                     0

[5 rows x 35 columns]

In [30]:

def priors_count(x):
    if x < 8:
        return 0
    elif x < 16:
        return 1
    elif x < 24:
        return 2
    elif x < 32:
        return 3
    else:
        return 4


print(compas_data['priors_count_C'])
compas_data['priors_count_C'] = compas_data['priors_count'].map(lambda x: priors_count(x))
print(compas_data['priors_count_C'])

0       0
1       0
2       4
3       1
4       2
       ..
6884    0
6885    0
6886    0
6887    3
6888    2
Name: priors_count_C, Length: 6889, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
6884    0
6885    0
6886    0
6887    0
6888    0
Name: priors_count_C, Length: 6889, dtype: int64

In [31]:
evi = compas_data[compas_data['priors_count_C'] == 5]
print(evi['priors_count_C'])

Series([], Name: priors_count_C, dtype: int64)

In [32]:

def c_days_from_compas(x):
    if x < 1000:
        return 0
    elif x < 2000:
        return 1
    elif x < 3000:
        return 2
    elif x < 4000:
        return 3
    elif x < 5000:
        return 4
    elif x < 6000:
        return 5
    elif x < 7000:
        return 6
    elif x < 8000:
        return 7
    elif x < 9000:
        return 8
    else:
        return 9


print(compas_data['c_days_from_compas_C'])
compas_data['c_days_from_compas_C'] = compas_data['c_days_from_compas'].map(lambda x: c_days_from_compas(x))
print(compas_data['c_days_from_compas_C'])

0       0
1       0
2       0
3       0
4       0
       ..
6884    0
6885    0
6886    0
6887    0
6888    0
Name: c_days_from_compas_C, Length: 6889, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
6884    0
6885    0
6886    0
6887    0
6888    0
Name: c_days_from_compas_C, Length: 6889, dtype: int64

In [33]:
evi = compas_data[compas_data['c_days_from_compas_C'] == 5]
print(evi['c_days_from_compas_C'])

73      5
1641    5
2704    5
Name: c_days_from_compas_C, dtype: int64

In [34]:
# change compas_data['c_charge_degree'] from F, M to 0, 1

b, c = np.unique(compas_data['c_charge_degree'], return_inverse=True)
compas_data['c_charge_degree'] = c # use number to represent content

In [35]:
compas_data[:5]

,name,FirstName,LastName,sex,DateOfBirth,age,race,juv_fel_count,decile_score,juv_misd_count,...,MarriageStatus,sexC,ageC,raceC,MC,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,c_charge_degree_C,c_days_from_compas_C
0,miguel hernandez,miguel,hernandez,Male,4/18/1947,69,Other,0,1,0,...,Single,0,3,3,0,0,0,0,0,0
1,kevon dixon,kevon,dixon,Male,1/22/1982,34,African-American,0,3,0,...,Single,0,1,0,0,0,0,0,0,0
2,ed philo,ed,philo,Male,5/14/1991,24,African-American,0,4,0,...,Single,0,1,0,0,0,0,0,0,0
3,marcu brown,marcu,brown,Male,1/21/1993,23,African-American,0,8,1,...,Single,0,1,0,0,0,0,0,0,0
4,bouthy pierrelouis,bouthy,pierrelouis,Male,1/22/1973,43,Other,0,1,0,...,Married,0,2,3,1,0,0,0,0,0

In [38]:
#write new data into file

category_col =['sexC', 'ageC','raceC', 'MC', 'priors_count_C', 'c_charge_degree', 'decile_score', 'c_days_from_compas_C',
 'juv_fel_count_C', 'juv_misd_count_C', 'juv_other_count_C', 'is_recid', 'is_violent_recid']

effective_data = compas_data[category_col].copy()
effective_data.to_csv(r"../../InputData/CompasData/RecidivismData_13att_classified.csv", index=False)

,sexC,ageC,raceC,MC,priors_count_C,c_charge_degree,decile_score,c_days_from_compas_C,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,is_recid,is_violent_recid
0,0,3,3,0,0,0,1,0,0,0,0,0,0
1,0,1,0,0,0,0,3,0,0,0,0,1,1
2,0,1,0,0,0,0,4,0,0,0,0,1,0
3,0,1,0,0,0,0,8,0,0,0,0,0,0
4,0,2,3,1,0,0,1,0,0,0,0,0,0

In [114]:
len(effective_data)

6889

In [9]:
HF_test = X_test[(X_test['raceC'] == 2) & (X_test['sexC'] == 1)]
HF_test.shape

(43, 5)

In [21]:
clf = DecisionTreeClassifier()
#clf = DecisionTreeClassifier(max_depth=10)
clf = clf.fit(X_train, y_train)

In [23]:
accuracy_score(y_test, clf.predict(X_test))

0.6438316400580552

In [24]:
test_res = X_test.copy()
test_res['label'] = y_test
test_res['predication'] = clf.predict(X_test)

In [25]:
miss = test_res[test_res['label'] != test_res['predication']]

In [26]:
(1-miss.shape[0]/test_res.shape[0])*100

64.38316400580551

In [14]:
miss_HF = miss[(miss['raceC']==2) & (miss['sexC']==1)]
test_HF = test_res[(test_res['raceC']==2) & (test_res['sexC']==1)]

In [15]:
(1-miss_HF.shape[0]/test_HF.shape[0])*100

55.81395348837209

In [16]:
test = X_test.copy()
test['label'] = y_test.copy()
train = X_train.copy()
train['label'] = y_train.copy()
test_HF = test[(test['raceC']==2) & (test['sexC']==1)]
train_HF = train[(train['raceC']==2) & (train['sexC']==1)]
X_HF_train = train_HF[features].copy()
X_HF_test = test_HF[features].copy()
y_HF_train = train_HF['label'].copy()
y_HF_test = test_HF['label'].copy()

In [17]:
train_HF.shape

(57, 6)

In [18]:
clf = clf.fit(X_HF_train, y_HF_train)

In [19]:
accuracy_score(y_HF_test, clf.predict(X_HF_test))

0.5813953488372093

# prediction

In [213]:


compas_data = pd.read_csv("../../InputData/CompasData/LargerDatasets/20000.csv")
print(len(compas_data))

compas_data[:3]

20000

,Unnamed: 0,sexC,ageC,raceC,MC,priors_count_C,c_charge_degree,decile_score,c_days_from_compas_C,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,is_recid,is_violent_recid
0,0,0,3,3,0,0,0,1,0,0,0,0,0,0
1,1,0,1,0,0,0,0,3,0,0,0,0,1,1
2,2,0,1,0,0,0,0,4,0,0,0,0,1,0

In [215]:
# features = ['sexC', 'ageC','raceC', 'MC','priors_count_C']


features =['sexC', 'ageC','raceC', 'MC', 'priors_count_C', 'c_charge_degree', 'decile_score', 'c_days_from_compas_C',
 'juv_fel_count_C', 'juv_misd_count_C', 'juv_other_count_C']


X = compas_data[features].copy()
y = compas_data['is_recid'].copy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=1)

In [216]:
compas_data.describe()

,sexC,ageC,raceC,MC,priors_count_C,c_charge_degree,decile_score,c_days_from_compas_C,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,is_recid,is_violent_recid
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,0.389800,1.430200,1.218250,2.146150,1.379400,0.448200,5.112500,2.948300,0.972250,0.655750,0.648650,0.495650,0.370650
std,0.487717,0.972356,1.104979,2.138392,1.459645,0.497322,2.883359,3.152257,1.145795,0.816563,0.809837,0.499994,0.482991
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,1.000000,2.000000,1.000000,0.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,2.000000,2.000000,4.000000,3.000000,1.000000,8.000000,6.000000,2.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,3.000000,3.000000,6.000000,4.000000,1.000000,10.000000,9.000000,3.000000,2.000000,2.000000,1.000000,1.000000

In [217]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [218]:
X_test_res = X_test.copy()

In [219]:
X_test_res['act'] = y_test

In [220]:
X_test_res

,sexC,ageC,raceC,MC,priors_count_C,c_charge_degree,decile_score,c_days_from_compas_C,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,act
11456,0,2,3,2,2,0,7,4,2,0,0,1
16528,0,0,2,0,1,0,2,5,0,1,1,0
3253,0,2,0,4,0,0,1,0,0,0,0,0
18614,0,3,1,1,4,0,8,0,0,2,2,1
1544,0,2,3,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
18041,0,2,3,5,0,0,9,2,2,2,2,1
19107,0,2,2,4,1,1,2,1,0,0,0,0
16085,0,3,3,5,2,0,4,4,1,1,0,0
18006,1,1,2,0,1,1,5,5,3,2,0,0
3502,0,1,1,0,0,1,10,0,0,0,0,1

In [221]:
X_test_res['pred'] = X_test.apply(lambda x: clf.predict([x.to_list()]), axis=1)

In [222]:
mis_class=X_test_res.loc[X_test_res['act']!=X_test_res['pred']]

In [223]:
mis_class.describe()

,sexC,ageC,raceC,MC,priors_count_C,c_charge_degree,decile_score,c_days_from_compas_C,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,act
count,4536.000000,4536.000000,4536.000000,4536.000000,4536.000000,4536.000000,4536.000000,4536.000000,4536.000000,4536.000000,4536.000000,4536.000000
mean,0.408289,1.441358,1.282187,2.334877,1.501543,0.455467,5.179674,3.221340,1.084436,0.740079,0.729277,0.513668
std,0.491571,0.997284,1.111313,2.143081,1.474815,0.498068,2.800794,3.140579,1.167802,0.840086,0.826191,0.499868
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,1.000000,2.000000,1.000000,0.000000,5.000000,3.000000,1.000000,0.000000,0.000000,1.000000
75%,1.000000,2.000000,2.000000,4.000000,3.000000,1.000000,8.000000,6.000000,2.000000,2.000000,1.000000,1.000000
max,1.000000,3.000000,3.000000,6.000000,4.000000,1.000000,10.000000,9.000000,3.000000,2.000000,2.000000,1.000000

In [224]:
len(mis_class)

4536

In [225]:
mis_class.to_csv(r"../../InputData/CompasData/LargerDatasets/20000_mis.csv", index=False)

# add another 5 att to

effective_data.to_csv(r"../../InputData/CompasData/RecidivismData_13att_classified.csv", index=False)

In [6]:

all_attributes = ['sex', 'age', 'race',
       'juv_fel_count', 'decile_score', 'juv_misd_count', 'juv_other_count',
       'priors_count', 'days_b_screening_arrest', 'c_days_from_compas',
       'c_charge_degree', 'is_recid', 'is_violent_recid', 'v_decile_score',
       'priors_count_C', 'start', 'end', 'event', 'two_year_recid',
       'Violence_score', 'Recidivism_score', 'MarriageStatus', 'sexC', 'ageC',
       'raceC', 'MC']


features =['sexC', 'ageC','raceC', 'MC', 'priors_count_C', 'c_charge_degree', 'decile_score', 'c_days_from_compas_C',
 'juv_fel_count_C', 'juv_misd_count_C', 'juv_other_count_C']

In [7]:
AddedAtt = ['start', 'end', 'event', 'v_decile_score', 'Violence_score']

In [8]:
compas_data = pd.read_csv("../../InputData/CompasData/RecidivismData_Original-categorized.csv")
print(len(compas_data))

compas_data.describe()

6889

,age,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_days_from_compas,is_recid,is_violent_recid,...,start,end,event,two_year_recid,Violence_score,Recidivism_score,sexC,ageC,raceC,MC
count,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6595.000000,6868.000000,6889.000000,6889.000000,...,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000
mean,34.869792,0.068225,4.507621,0.090289,0.111047,3.466686,2.206065,57.663221,0.479895,0.112353,...,11.567281,554.479315,0.382204,0.450428,-2.368951,-0.693594,0.192771,1.284221,0.693424,0.537233
std,11.924183,0.480444,2.855803,0.484343,0.508643,4.881592,71.840165,331.867889,0.499632,0.315823,...,47.454454,399.199550,0.485961,0.497573,0.871101,0.843544,0.394503,0.575019,0.860519,1.296868
min,18.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-414.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-4.630000,-3.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,0.000000,2.000000,0.000000,0.000000,0.000000,-1.000000,1.000000,0.000000,0.000000,...,0.000000,149.000000,0.000000,0.000000,-2.990000,-1.280000,0.000000,1.000000,0.000000,0.000000
50%,31.000000,0.000000,4.000000,0.000000,0.000000,2.000000,-1.000000,1.000000,0.000000,0.000000,...,0.000000,532.000000,0.000000,0.000000,-2.330000,-0.640000,0.000000,1.000000,0.000000,0.000000
75%,43.000000,0.000000,7.000000,0.000000,0.000000,5.000000,-1.000000,2.000000,1.000000,0.000000,...,2.000000,914.000000,1.000000,1.000000,-1.740000,-0.080000,0.000000,2.000000,1.000000,0.000000
max,83.000000,20.000000,10.000000,13.000000,17.000000,38.000000,1057.000000,9485.000000,1.000000,1.000000,...,937.000000,1186.000000,1.000000,1.000000,0.930000,1.690000,1.000000,3.000000,3.000000,6.000000

In [9]:
compas_data.columns

Index(['name', 'FirstName', 'LastName', 'sex', 'DateOfBirth', 'age', 'race',
       'juv_fel_count', 'decile_score', 'juv_misd_count', 'juv_other_count',
       'priors_count', 'days_b_screening_arrest', 'c_days_from_compas',
       'c_charge_degree', 'is_recid', 'is_violent_recid', 'v_decile_score',
       'priors_count_C', 'start', 'end', 'event', 'two_year_recid',
       'Violence_score', 'Recidivism_score', 'MarriageStatus', 'sexC', 'ageC',
       'raceC', 'MC'],
      dtype='object')

In [10]:
compas_data['start_C'] = compas_data['start']
compas_data['end_C'] = compas_data['end']
compas_data['event_C'] = compas_data['event'] # this is already categorical
compas_data['v_decile_score_C'] = compas_data['v_decile_score']
compas_data['Violence_score_C'] = compas_data['Violence_score']

In [11]:
compas_data[:3]

,name,FirstName,LastName,sex,DateOfBirth,age,race,juv_fel_count,decile_score,juv_misd_count,...,MarriageStatus,sexC,ageC,raceC,MC,start_C,end_C,event_C,v_decile_score_C,Violence_score_C
0,miguel hernandez,miguel,hernandez,Male,4/18/1947,69,Other,0,1,0,...,Single,0,3,3,0,0,327,0,1,-4.31
1,kevon dixon,kevon,dixon,Male,1/22/1982,34,African-American,0,3,0,...,Single,0,1,0,0,9,159,1,1,-3.07
2,ed philo,ed,philo,Male,5/14/1991,24,African-American,0,4,0,...,Single,0,1,0,0,0,63,0,3,-1.31

In [13]:
compas_data[['start', 'end', 'v_decile_score', 'Violence_score']].describe()

             start          end  v_decile_score  Violence_score
count  6889.000000  6889.000000     6889.000000     6889.000000
mean     11.567281   554.479315        3.691682       -2.368951
std      47.454454   399.199550        2.512545        0.871101
min       0.000000     0.000000        1.000000       -4.630000
25%       0.000000   149.000000        1.000000       -2.990000
50%       0.000000   532.000000        3.000000       -2.330000
75%       2.000000   914.000000        5.000000       -1.740000
max     937.000000  1186.000000       10.000000        0.930000

In [15]:

def start(x):
    if x < 300:
        return 0
    elif x < 600:
        return 1
    else:
        return 2


print(compas_data['start_C'])
compas_data['start_C'] = compas_data['start'].map(lambda x: start(x))
print(compas_data['start_C'])

0       0
1       9
2       0
3       0
4       0
       ..
6884    1
6885    1
6886    0
6887    0
6888    0
Name: start_C, Length: 6889, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
6884    0
6885    0
6886    0
6887    0
6888    0
Name: start_C, Length: 6889, dtype: int64

In [16]:

def end(x):
    if x < 400:
        return 0
    elif x < 800:
        return 1
    else:
        return 2


print(compas_data['end_C'])
compas_data['end_C'] = compas_data['end'].map(lambda x: end(x))
print(compas_data['end_C'])

0        327
1        159
2         63
3       1174
4       1102
        ...
6884     860
6885     790
6886     808
6887     754
6888     258
Name: end_C, Length: 6889, dtype: int64
0       0
1       0
2       0
3       2
4       2
       ..
6884    2
6885    1
6886    2
6887    1
6888    0
Name: end_C, Length: 6889, dtype: int64

In [17]:

def v_decile_score(x):
    if x <= 5:
        return 0
    else:
        return 1


print(compas_data['v_decile_score_C'])
compas_data['v_decile_score_C'] = compas_data['v_decile_score'].map(lambda x: v_decile_score(x))
print(compas_data['v_decile_score_C'])

0       1
1       1
2       3
3       6
4       1
       ..
6884    5
6885    5
6886    1
6887    2
6888    4
Name: v_decile_score_C, Length: 6889, dtype: int64
0       0
1       0
2       0
3       1
4       0
       ..
6884    0
6885    0
6886    0
6887    0
6888    0
Name: v_decile_score_C, Length: 6889, dtype: int64

In [18]:

def Violence_score(x):
    if x <= -2:
        return 0
    else:
        return 1


print(compas_data['Violence_score_C'])
compas_data['Violence_score_C'] = compas_data['Violence_score'].map(lambda x: Violence_score(x))
print(compas_data['Violence_score_C'])

0      -4.31
1      -3.07
2      -1.31
3      -1.59
4      -3.23
        ...
6884   -1.86
6885   -1.90
6886   -4.11
6887   -2.92
6888   -2.12
Name: Violence_score_C, Length: 6889, dtype: float64
0       0
1       0
2       1
3       1
4       0
       ..
6884    1
6885    1
6886    0
6887    0
6888    0
Name: Violence_score_C, Length: 6889, dtype: int64

In [19]:
compas_data.to_csv("../../InputData/CompasData/RecidivismData_Original_all_att_categorized.csv")

In [21]:

to_add = pd.read_csv(r"../../InputData/CompasData/Preprocessed_classified/RecidivismData_13att_classified.csv")
to_add[:3]

,sexC,ageC,raceC,MC,priors_count_C,c_charge_degree,decile_score,c_days_from_compas_C,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,is_recid,is_violent_recid
0,0,3,3,0,0,0,1,0,0,0,0,0,0
1,0,1,0,0,0,0,3,0,0,0,0,1,1
2,0,1,0,0,0,0,4,0,0,0,0,1,0

In [22]:
li = list(compas_data['start_C'])
print(li)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0

In [23]:
to_add['start_C'] = list(compas_data['start_C'])

to_add[:3]

,sexC,ageC,raceC,MC,priors_count_C,c_charge_degree,decile_score,c_days_from_compas_C,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,is_recid,is_violent_recid,start_C
0,0,3,3,0,0,0,1,0,0,0,0,0,0,0
1,0,1,0,0,0,0,3,0,0,0,0,1,1,0
2,0,1,0,0,0,0,4,0,0,0,0,1,0,0

In [24]:
to_add['end_C'] = list(compas_data['end_C'])

to_add[:3]

,sexC,ageC,raceC,MC,priors_count_C,c_charge_degree,decile_score,c_days_from_compas_C,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,is_recid,is_violent_recid,start_C,end_C
0,0,3,3,0,0,0,1,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,3,0,0,0,0,1,1,0,0
2,0,1,0,0,0,0,4,0,0,0,0,1,0,0,0

In [25]:
to_add['v_decile_score_C'] = list(compas_data['v_decile_score_C'])

to_add[:3]

,sexC,ageC,raceC,MC,priors_count_C,c_charge_degree,decile_score,c_days_from_compas_C,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,is_recid,is_violent_recid,start_C,end_C,v_decile_score_C
0,0,3,3,0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,3,0,0,0,0,1,1,0,0,0
2,0,1,0,0,0,0,4,0,0,0,0,1,0,0,0,0

In [26]:

to_add['Violence_score_C'] = list(compas_data['Violence_score_C'])

to_add[:3]

,sexC,ageC,raceC,MC,priors_count_C,c_charge_degree,decile_score,c_days_from_compas_C,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,is_recid,is_violent_recid,start_C,end_C,v_decile_score_C,Violence_score_C
0,0,3,3,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,3,0,0,0,0,1,1,0,0,0,0
2,0,1,0,0,0,0,4,0,0,0,0,1,0,0,0,0,1

In [29]:

to_add['event_C'] = list(compas_data['event_C'])

to_add[:3]

,sexC,ageC,raceC,MC,priors_count_C,c_charge_degree,decile_score,c_days_from_compas_C,juv_fel_count_C,juv_misd_count_C,juv_other_count_C,is_recid,is_violent_recid,start_C,end_C,v_decile_score_C,Violence_score_C,event_C
0,0,3,3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,3,0,0,0,0,1,1,0,0,0,0,1
2,0,1,0,0,0,0,4,0,0,0,0,1,0,0,0,0,1,0

In [30]:
to_add.to_csv(r"../../InputData/CompasData/Preprocessed_classified/RecidivismData_17att_classified.csv", index=False)

In [31]:
print(to_add.columns.tolist())

['sexC', 'ageC', 'raceC', 'MC', 'priors_count_C', 'c_charge_degree', 'decile_score', 'c_days_from_compas_C', 'juv_fel_count_C', 'juv_misd_count_C', 'juv_other_count_C', 'is_recid', 'is_violent_recid', 'start_C', 'end_C', 'v_decile_score_C', 'Violence_score_C', 'event_C']