
This notebook aims to create datasets with different sizes

# 1. Small Dataset to Check Implementation Correctness

In [1]:
import numpy as np
import pandas as pd
import random
from Algorithms import pattern_count

# 1.1 small dataset

In [ ]:
adult3 = pd.read_csv("../../InputData/AdultDataset/CleanAdult3.csv")

print(adult3.shape)
print(adult3[:5])

In [ ]:
SmallWhole_3_20 = adult3[adult3.columns[0:3]].head(20)

In [ ]:
# this is dataset with only attributes
SmallWhole_3_20.to_csv (r'../InputData/SmallDataset/SmallWhole_3_20.csv', index = False, header=True)

In [ ]:
# suppose mis-classified tuples are the first 10
SmallMisClass_3_20 = SmallWhole_3_20[:10]
SmallMisClass_3_20.to_csv(r'../InputData/SmallDataset/SmallMisClass_3_20.csv', index = False, header=True)

In [ ]:
SmallWholes_13_100 = adult3[adult3.columns].head(100)
SmallWholes_13_100.to_csv(r'../InputData/SmallDataset/SmallWhole_13_100.csv', index = False, header=True)
SmallWholes_13_100.to_csv(r'../InputData/SmallDataset/SmallMisClass_13_50.csv', index = False, header=True)

In [ ]:

SmallWholes_13_1000 = adult3[adult3.columns].head(1000)
SmallWholes_13_1000.to_csv(r'../InputData/SmallDataset/SmallWhole_13_1000.csv', index = False, header=True)
SmallWholes_13_1000.head(500).to_csv(r'../InputData/SmallDataset/SmallMisClass_13_500.csv', index = False, header=True)

In [ ]:

SmallWholes_13_1000 = adult3[adult3.columns].head(10000)
SmallWholes_13_1000.to_csv(r'../InputData/SmallDataset/SmallWhole_13_10000.csv', index = False, header=True)
SmallWholes_13_1000.head(5000).to_csv(r'../InputData/SmallDataset/SmallMisClass_13_5000.csv', index = False, header=True)

In [ ]:
# this is dataset with income levels
adult2 = pd.read_csv("../../InputData/AdultDataset/CleanAdult2.csv")

s = adult2.columns[0:5].tolist()
s.append('income')

In [ ]:
Small_5_20_income = adult2[s].head(20)
Small_5_20_income

In [ ]:

Small_5_20_income.to_csv("../../InputData/AdultDataset/SmallDataset/Small_5_20_income.csv")

# 2. Less attributes datasets

In [ ]:
adult3 = pd.read_csv("../InputData/CleanAdult3.csv")
print(adult3.shape)
print(adult3[:5])
selected_attributes = ['age', 'education', 'marital-status', 'race', 'gender']
LessAttributeDataset = adult3[selected_attributes]
LessAttributeDataset.describe()

# 3. smaller data sizes

## 3.1 Adult data

In [ ]:
# 45222 rows

data = pd.read_csv("../../InputData/AdultDataset/CleanAdult2.csv")

In [ ]:
def makeDataSetWithSize(datasize, wholesize, filepath, output_pre):
    index_list = random.sample(range(0, wholesize), datasize)
    wholedata = pd.read_csv(filepath)
    newdata = wholedata.iloc[index_list, : ]
    output_path = output_pre + str(datasize) + ".csv"
    newdata.to_csv(output_path)

In [ ]:
file_path = r"../../InputData/CleanAdult2.csv"
output_pre = r"../../InputData/DifferentDataSizes/"
makeDataSetWithSize(40000, 45222, file_path, output_pre)

## 3.1 Compas data

In [ ]:
# 6889 rows
compas_data = pd.read_csv("../../InputData/RecidivismData/RecidivismData_att_classified.csv")

len(compas_data)

In [ ]:
file_path = r"../../InputData/RecidivismData/RecidivismData_att_classified.csv"
output_pre = r"../../InputData/RecidivismData/DifferentDataSizes/"
makeDataSetWithSize(6000, 6889, file_path, output_pre)

## define categorizations

In [ ]:

def age(x):
    if x <= 30:
        return 0
    elif x <= 50:
        return 1
    else:
        return 2


def capitalgain(x):
    if x == 0:
        return 0
    else:
        return 1


def capitalloss(x):
    if x == 0:
        return 0
    else:
        return 1


def hoursperweek(x):
    if x < 50:
        return 0
    else:
        return 1

In [ ]:
def categorize(data):
    data['age'] = data['age'].map(lambda x: age(x))
    data['capital-gain'] = data['capital-gain'].map(lambda x: capitalgain(x))
    data['capital-loss'] = data['capital-loss'].map(lambda x: capitalloss(x))
    data['hours-per-week'] = data['hours-per-week'].map(lambda x: hoursperweek(x))

# 4. larger data sizes, by generating new tuples

## 4.1 Adult data

In [ ]:
# 45222 rows
original_adult_data = pd.read_csv(r"../../InputData/AdultDataset/ForClassification/CleanAdult_numerical.csv")

print(len(original_adult_data))
original_adult_data.describe()

In [ ]:
len(original_adult_data)
for index, row in original_adult_data.iterrows():
    rowlist = row.tolist()
    print(rowlist)

In [6]:
def generateTuple(original_data):
    describe_data = original_data.describe()
    attributes = original_data.columns.tolist()
    tuple = list()
    for att in attributes:
        min = int(describe_data[att]['min'])
        max = int(describe_data[att]['max'])
        a = random.randint(min, max)
        tuple.append(a)
    return tuple

In [7]:
# def PatternEqual(m, P):
#     length = len(m)
#     if len(P) != length:
#         return False
#     for i in range(length):
#         if m[i] != P[i]:
#             return False
#     return True
#
# def patterns_in_data(p, data):
#     for index, row in data.iterrows():
#         rowlist = row.tolist()
#         if PatternEqual(p, rowlist):
#             return True
#     return False

In [8]:
def extendDataset(newsize, filepath, output_pre):
    global tp
    original_data = pd.read_csv(filepath)

    original_data_pc = pattern_count.PatternCounter(original_data, encoded=False)
    original_data_pc.parse_data()

    oldsize = len(original_data)
    num_new_tuples = newsize - oldsize
    print(num_new_tuples)
    for i in range(num_new_tuples):
        tp = generateTuple(original_data)
        original_data.loc[len(original_data)] = tp
        if i % 1000 == 0:
            print(i, tp)
    output_path = output_pre + str(newsize) + ".csv"
    original_data.to_csv(output_path, index=False)

In [ ]:
file_path = r"../../InputData/AdultDataset/ForClassification/CleanAdult_numerical.csv"

output_pre = r"../../InputData/AdultDataset/LargeDatasets_without_cat/"
extendDataset(50000, file_path, output_pre)

In [105]:
f = pd.read_csv(r"../../InputData/AdultDataset/LargeDatasets_without_cat/80000_mis.csv")
f[:4]

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,act,pred
0,65,4,13,8,5,12,3,2,1,70842,575,9,21,0,[1]
1,84,3,13,10,2,6,1,1,1,70966,663,12,3,1,[0]
2,71,5,3,4,3,12,1,0,0,14560,2444,62,39,0,[1]
3,45,2,8,11,0,0,4,4,0,0,0,55,38,1,[0]

In [106]:
print(len(f))

print(f.describe())

categorize(f)

f.to_csv(r"../../InputData/AdultDataset/LargeDatasets_cat/80000_mis.csv", index=False)

12965
                age     workclass     education  educational-num  \
count  12965.000000  12965.000000  12965.000000     12965.000000
mean      50.164597      2.730505      8.539144         9.251600
std       19.284451      1.797792      4.473476         4.131546
min       17.000000      0.000000      0.000000         1.000000
25%       35.000000      2.000000      5.000000         6.000000
50%       48.000000      2.000000      9.000000        10.000000
75%       64.000000      4.000000     12.000000        13.000000
max       90.000000      6.000000     15.000000        16.000000

       marital-status    occupation  relationship          race        gender  \
count    12965.000000  12965.000000  12965.000000  12965.000000  12965.000000
mean         2.737293      6.450212      1.966525      2.558349      0.603085
std          1.804363      4.097217      1.854418      1.490304      0.489277
min          0.000000      0.000000      0.000000      0.000000      0.000000
25%          2.000000      3.000000      0.000000      1.000000      0.000000
50%          2.000000      6.000000      1.000000      3.000000      1.000000
75%          4.000000     10.000000      4.000000      4.000000      1.000000
max          6.000000     13.000000      5.000000      4.000000      1.000000

       capital-gain  capital-loss  hours-per-week  native-country  \
count  12965.000000  12965.000000    12965.000000    12965.000000
mean   33780.142923   1470.652526       47.985808       25.300116
std    33276.004649   1439.023245       24.532971       12.945091
min        0.000000      0.000000        1.000000        0.000000
25%        0.000000      0.000000       34.000000       14.000000
50%    26243.000000   1162.000000       44.000000       29.000000
75%    62797.000000   2714.000000       65.000000       38.000000
max    99999.000000   4355.000000       99.000000       40.000000

                act
count  12965.000000
mean       0.499576
std        0.500019
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [88]:
print(f.describe())

               age    workclass    education  educational-num  marital-status  \
count  6577.000000  6577.000000  6577.000000      6577.000000     6577.000000
mean      1.216208     2.523643     9.489281         9.884142        2.456439
std       0.679307     1.508117     4.081766         3.578451        1.520829
min       0.000000     0.000000     0.000000         1.000000        0.000000
25%       1.000000     2.000000     7.000000         9.000000        2.000000
50%       1.000000     2.000000    10.000000        10.000000        2.000000
75%       2.000000     4.000000    12.000000        13.000000        3.000000
max       2.000000     6.000000    15.000000        16.000000        6.000000

        occupation  relationship         race       gender  capital-gain  \
count  6577.000000   6577.000000  6577.000000  6577.000000   6577.000000
mean      6.375095      1.411890     3.101110     0.704272      0.382393
std       4.126343      1.803753     1.351182     0.456404      0.486009
min       0.000000      0.000000     0.000000     0.000000      0.000000
25%       3.000000      0.000000     2.000000     0.000000      0.000000
50%       6.000000      0.000000     4.000000     1.000000      0.000000
75%      10.000000      3.000000     4.000000     1.000000      1.000000
max      13.000000      5.000000     4.000000     1.000000      1.000000

       capital-loss  hours-per-week  native-country          act
count   6577.000000     6577.000000     6577.000000  6577.000000
mean       0.388019        0.381785       30.405504     0.509655
std        0.487336        0.485861       11.786611     0.499945
min        0.000000        0.000000        0.000000     0.000000
25%        0.000000        0.000000       24.000000     0.000000
50%        0.000000        0.000000       38.000000     1.000000
75%        1.000000        1.000000       38.000000     1.000000
max        1.000000        1.000000       40.000000     1.000000

In [ ]:

file_path = r"../../InputData/AdultDataset/LargeDatasets_without_cat/95000.csv"
output_pre = r"../../InputData/AdultDataset/LargeDatasets_without_cat/"
extendDataset(100000, file_path, output_pre)

In [ ]:

f = pd.read_csv(r"../../InputData/AdultDataset/LargeDatasets_without_cat/100000.csv")
f[:4]

In [ ]:
print(len(f))

print(f.describe())

categorize(f)

f.to_csv(r"../../InputData/AdultDataset/LargeDatasets_cat/100000.csv")

## 4.2 Compas Data

In [ ]:
# 45222 rows
original_compas_data = pd.read_csv(r"../../InputData/RecidivismData/RecidivismData_att_classified.csv")

original_compas_data.describe()

# 6889
print(len(original_compas_data))

In [ ]:
original_compas_data[:6000].to_csv(r"../../InputData/RecidivismData/LargerDatasets/6000.csv")

In [ ]:
file_path = r"../../InputData/RecidivismData/RecidivismData_att_classified.csv"
output_pre = r"../../InputData/RecidivismData/LargerDatasets/"
extendDataset(8000, file_path, output_pre)

## 4.2 Creditcard Data

In [108]:
# 45222 rows
original_creditcard_data = pd.read_csv(r"../../InputData/CreditcardDataset/ForClassification/credit_card_clients_categorized.csv")

original_creditcard_data.describe()

,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
mean,0.444100,1.603733,1.853133,1.551867,0.31610,1.983300,1.866233,1.833800,1.779333,1.733800,...,1.014967,0.031767,0.984733,1.001533,0.000467,0.001533,0.001267,0.007200,0.009933,0.221200
std,0.631259,0.489129,0.790349,0.521970,0.48866,1.123802,1.197186,1.196868,1.169139,1.133187,...,0.258221,0.190155,0.174646,0.044696,0.033662,0.046163,0.039981,0.104953,0.124238,0.415062
min,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,2.000000,2.000000,2.000000,0.00000,2.000000,2.000000,2.000000,2.000000,2.000000,...,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,2.000000,2.000000,2.000000,1.00000,2.000000,2.000000,2.000000,2.000000,2.000000,...,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.000000,2.000000,6.000000,3.000000,2.00000,10.000000,10.000000,10.000000,10.000000,10.000000,...,5.000000,4.000000,3.000000,4.000000,3.000000,3.000000,2.000000,3.000000,4.000000,1.000000

In [109]:
# 30000
print(len(original_creditcard_data))

30000

In [111]:
original_creditcard_data.to_csv(r"../../InputData/CreditcardDataset/LargeDatasets_cat/30000.csv")

In [112]:
file_path = r"../../InputData/CreditcardDataset/LargeDatasets_cat/30000.csv"
output_pre = r"../../InputData/CreditcardDataset/LargeDatasets_cat/"
extendDataset(35000, file_path, output_pre)

5000
0 [13766, 3, 2, 6, 0, 2, 2, 7, 1, 1, 9, 3, 5, 0, 1, 0, 1, 2, 3, 1, 3, 0, 0, 3, 1]
1000 [16117, 0, 1, 4, 0, 2, 4, 5, 5, 8, 4, 7, 1, 3, 0, 4, 0, 0, 1, 0, 0, 1, 1, 4, 0]
2000 [13253, 3, 1, 5, 0, 1, 6, 3, 1, 4, 5, 4, 3, 3, 1, 1, 4, 2, 2, 0, 3, 2, 0, 3, 0]
3000 [23493, 1, 1, 4, 0, 0, 0, 1, 10, 2, 1, 2, 5, 0, 0, 5, 3, 3, 2, 1, 3, 1, 1, 4, 1]
4000 [27007, 1, 1, 5, 1, 2, 8, 7, 1, 8, 4, 3, 4, 3, 0, 1, 4, 3, 4, 3, 1, 1, 3, 3, 0]

In [ ]:
f = pd.read_csv(r"../../InputData/CreditcardDataset/LargeDatasets_cat/35000.csv")
f[:4]

In [116]:
file_path = r"../../InputData/CreditcardDataset/LargeDatasets_cat/35000.csv"
output_pre = r"../../InputData/CreditcardDataset/LargeDatasets_cat/"
extendDataset(40000, file_path, output_pre)

5000
0 [13747, 2, 1, 3, 1, 2, 9, 7, 5, 7, 7, 7, 5, 4, 0, 2, 1, 2, 3, 2, 0, 1, 3, 0, 1]
1000 [10543, 3, 1, 5, 1, 2, 8, 0, 6, 5, 7, 9, 3, 4, 2, 5, 1, 3, 1, 2, 3, 2, 1, 4, 1]
2000 [12420, 3, 1, 0, 0, 1, 3, 4, 2, 10, 8, 4, 0, 4, 2, 4, 3, 2, 3, 3, 0, 2, 3, 1, 0]
3000 [3460, 2, 2, 5, 3, 0, 6, 3, 1, 9, 1, 3, 0, 1, 2, 2, 4, 0, 4, 0, 3, 2, 2, 2, 0]
4000 [22875, 4, 2, 6, 0, 0, 7, 2, 2, 3, 0, 6, 1, 1, 1, 2, 4, 1, 4, 3, 1, 0, 3, 3, 0]

In [117]:
f = pd.read_csv(r"../../InputData/CreditcardDataset/LargeDatasets_cat/40000.csv")
f[:4]

,Unnamed: 0,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
0,0,0,2,2,1,0,4,4,1,1,...,1,0,1,1,0,0,0,0,0,1
1,1,0,2,2,2,0,1,4,2,2,...,1,0,1,1,0,0,0,0,0,1
2,2,0,2,2,2,0,2,2,2,2,...,1,0,1,1,0,0,0,0,0,0
3,3,0,2,2,1,0,2,2,2,2,...,1,0,1,1,0,0,0,0,0,0

In [118]:
file_path = r"../../InputData/CreditcardDataset/LargeDatasets_cat/40000.csv"
output_pre = r"../../InputData/CreditcardDataset/LargeDatasets_cat/"
extendDataset(45000, file_path, output_pre)

5000
0 [25807, 3, 1, 1, 0, 1, 9, 2, 7, 4, 0, 1, 5, 4, 0, 3, 0, 0, 4, 2, 2, 2, 1, 1, 0]
1000 [3758, 1, 2, 5, 1, 1, 1, 2, 5, 10, 0, 3, 0, 2, 1, 3, 2, 0, 4, 0, 1, 2, 0, 2, 0]
2000 [16693, 1, 2, 3, 3, 0, 9, 0, 6, 2, 5, 0, 0, 1, 1, 2, 3, 0, 2, 2, 2, 0, 2, 4, 1]
3000 [8883, 4, 2, 5, 0, 1, 1, 0, 0, 4, 3, 0, 5, 2, 1, 3, 1, 3, 2, 1, 3, 0, 0, 0, 0]
4000 [4092, 2, 1, 3, 0, 2, 10, 2, 1, 10, 10, 6, 4, 1, 0, 0, 0, 2, 4, 2, 1, 0, 1, 2, 1]

In [119]:
f = pd.read_csv(r"../../InputData/CreditcardDataset/LargeDatasets_cat/45000.csv")
f[:4]

,Unnamed: 0,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
0,0,0,2,2,1,0,4,4,1,1,...,1,0,1,1,0,0,0,0,0,1
1,1,0,2,2,2,0,1,4,2,2,...,1,0,1,1,0,0,0,0,0,1
2,2,0,2,2,2,0,2,2,2,2,...,1,0,1,1,0,0,0,0,0,0
3,3,0,2,2,1,0,2,2,2,2,...,1,0,1,1,0,0,0,0,0,0

In [120]:
file_path = r"../../InputData/CreditcardDataset/LargeDatasets_cat/45000.csv"
output_pre = r"../../InputData/CreditcardDataset/LargeDatasets_cat/"
extendDataset(50000, file_path, output_pre)

5000
0 [17895, 1, 2, 4, 2, 1, 2, 5, 6, 4, 9, 4, 5, 3, 1, 1, 0, 2, 4, 1, 2, 0, 0, 4, 1]
1000 [18788, 3, 2, 1, 1, 0, 1, 10, 0, 5, 3, 9, 4, 4, 0, 0, 1, 3, 1, 2, 2, 0, 1, 2, 1]
2000 [1255, 3, 1, 0, 2, 2, 3, 7, 5, 9, 5, 8, 5, 1, 1, 1, 2, 0, 4, 2, 2, 2, 2, 2, 1]
3000 [22511, 2, 1, 4, 2, 2, 10, 7, 6, 9, 4, 4, 1, 0, 2, 0, 2, 0, 4, 3, 1, 0, 1, 0, 1]
4000 [1264, 1, 1, 0, 3, 0, 8, 4, 10, 8, 2, 5, 4, 4, 2, 2, 3, 3, 4, 0, 0, 2, 2, 3, 1]

In [121]:
f = pd.read_csv(r"../../InputData/CreditcardDataset/LargeDatasets_cat/50000.csv")
f[:4]

,Unnamed: 0,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
0,0,0,2,2,1,0,4,4,1,1,...,1,0,1,1,0,0,0,0,0,1
1,1,0,2,2,2,0,1,4,2,2,...,1,0,1,1,0,0,0,0,0,1
2,2,0,2,2,2,0,2,2,2,2,...,1,0,1,1,0,0,0,0,0,0
3,3,0,2,2,1,0,2,2,2,2,...,1,0,1,1,0,0,0,0,0,0

In [122]:
file_path = r"../../InputData/CreditcardDataset/LargeDatasets_cat/50000.csv"
output_pre = r"../../InputData/CreditcardDataset/LargeDatasets_cat/"
extendDataset(55000, file_path, output_pre)

5000
0 [14043, 2, 2, 5, 0, 1, 4, 8, 1, 3, 9, 9, 2, 3, 1, 0, 4, 3, 4, 0, 0, 0, 0, 3, 0]
1000 [26692, 2, 1, 2, 0, 2, 2, 0, 9, 3, 6, 7, 4, 0, 1, 0, 2, 2, 2, 3, 0, 0, 0, 1, 0]
2000 [13736, 4, 1, 5, 3, 1, 4, 3, 5, 4, 0, 6, 5, 3, 0, 1, 2, 0, 1, 2, 0, 0, 3, 1, 1]
3000 [5680, 0, 1, 1, 3, 2, 10, 1, 4, 8, 8, 5, 0, 3, 1, 5, 3, 2, 3, 3, 2, 0, 0, 1, 0]
4000 [29156, 3, 1, 3, 2, 2, 10, 9, 5, 4, 1, 8, 0, 1, 0, 0, 0, 3, 2, 2, 0, 1, 3, 4, 0]

In [123]:
f = pd.read_csv(r"../../InputData/CreditcardDataset/LargeDatasets_cat/55000.csv")
f[:4]

,Unnamed: 0,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
0,0,0,2,2,1,0,4,4,1,1,...,1,0,1,1,0,0,0,0,0,1
1,1,0,2,2,2,0,1,4,2,2,...,1,0,1,1,0,0,0,0,0,1
2,2,0,2,2,2,0,2,2,2,2,...,1,0,1,1,0,0,0,0,0,0
3,3,0,2,2,1,0,2,2,2,2,...,1,0,1,1,0,0,0,0,0,0

In [124]:
file_path = r"../../InputData/CreditcardDataset/LargeDatasets_cat/55000.csv"
output_pre = r"../../InputData/CreditcardDataset/LargeDatasets_cat/"
extendDataset(60000, file_path, output_pre)

5000
0 [12607, 1, 2, 1, 0, 0, 9, 3, 5, 7, 10, 9, 1, 1, 0, 2, 1, 3, 3, 2, 3, 0, 2, 2, 1]
1000 [9849, 3, 2, 1, 1, 2, 9, 10, 3, 6, 1, 2, 2, 1, 1, 4, 3, 3, 3, 2, 1, 0, 3, 3, 1]
2000 [11788, 1, 2, 3, 1, 0, 9, 1, 5, 10, 3, 10, 1, 4, 1, 1, 2, 3, 1, 1, 2, 0, 3, 4, 1]
3000 [22402, 2, 1, 1, 1, 1, 8, 3, 0, 5, 0, 7, 3, 4, 2, 3, 4, 2, 1, 2, 2, 2, 3, 0, 1]
4000 [20730, 1, 2, 2, 2, 0, 4, 2, 3, 4, 9, 10, 4, 2, 0, 0, 3, 2, 4, 3, 2, 2, 0, 3, 1]

In [125]:
f = pd.read_csv(r"../../InputData/CreditcardDataset/LargeDatasets_cat/60000.csv")
f[:4]

,Unnamed: 0,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
0,0,0,2,2,1,0,4,4,1,1,...,1,0,1,1,0,0,0,0,0,1
1,1,0,2,2,2,0,1,4,2,2,...,1,0,1,1,0,0,0,0,0,1
2,2,0,2,2,2,0,2,2,2,2,...,1,0,1,1,0,0,0,0,0,0
3,3,0,2,2,1,0,2,2,2,2,...,1,0,1,1,0,0,0,0,0,0

## Apply classifier to large creditcard datasets

In [133]:

data = pd.read_csv(r"../../InputData/CreditcardDataset/LargeDatasets_cat/60000.csv")
data[:4]

,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
0,0,2,2,1,0,4,4,1,1,0,...,1,0,1,1,0,0,0,0,0,1
1,0,2,2,2,0,1,4,2,2,2,...,1,0,1,1,0,0,0,0,0,1
2,0,2,2,2,0,2,2,2,2,2,...,1,0,1,1,0,0,0,0,0,0
3,0,2,2,1,0,2,2,2,2,2,...,1,0,1,1,0,0,0,0,0,0

In [134]:
data.columns

Index(['limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_0', 'pay_2',
       'pay_3', 'pay_4', 'pay_5', 'pay_6', 'bill_amt1', 'bill_amt2',
       'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1',
       'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6',
       'default payment next month'],
      dtype='object')

In [ ]:
predictors = ['limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_0', 'pay_2',
       'pay_3', 'pay_4', 'pay_5', 'pay_6', 'bill_amt1', 'bill_amt2',
       'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1',
       'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6',
       'default payment next month']

## 4.3 Student data

In [18]:
# 45222 rows
original_student_data = pd.read_csv(r"../../InputData/StudentDataset/LargeDatasets/student-mat_cat_withrank.csv")

original_student_data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,freetime_C,goout_C,Dalc_C,Walc_C,health_C,absences_C,G1_C,G2_C,G3_C,rank
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,...,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,...,3.235443,3.108861,1.481013,2.291139,3.554430,0.202532,0.640506,0.630380,0.670886,198.000000
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,...,0.998862,1.113278,0.890741,1.287897,1.390303,3.774681,0.480461,0.483314,0.470487,114.170924
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,...,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,99.500000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,...,3.000000,3.000000,1.000000,2.000000,4.000000,0.000000,1.000000,1.000000,1.000000,198.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,...,4.000000,4.000000,2.000000,3.000000,5.000000,0.000000,1.000000,1.000000,1.000000,296.500000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,1.000000,1.000000,1.000000,395.000000

In [19]:
# 395
print(len(original_student_data))

395

In [20]:
print(original_student_data.columns.tolist())
# ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian',
# 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher',
# 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3',
# 'school_C', 'sex_C', 'age_C', 'address_C', 'famsize_C', 'Pstatus_C', 'Medu_C', 'Fedu_C', 'Mjob_C', 'Fjob_C',
# 'reason_C', 'guardian_C', 'traveltime_C', 'studytime_C', 'failures_C', 'schoolsup_C', 'famsup_C', 'paid_C',
# 'activities_C', 'nursery_C', 'higher_C', 'internet_C', 'romantic_C', 'famrel_C', 'freetime_C', 'goout_C',
# 'Dalc_C', 'Walc_C', 'health_C', 'absences_C', 'G1_C', 'G2_C', 'G3_C', 'rank']

['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'school_C', 'sex_C', 'age_C', 'address_C', 'famsize_C', 'Pstatus_C', 'Medu_C', 'Fedu_C', 'Mjob_C', 'Fjob_C', 'reason_C', 'guardian_C', 'traveltime_C', 'studytime_C', 'failures_C', 'schoolsup_C', 'famsup_C', 'paid_C', 'activities_C', 'nursery_C', 'higher_C', 'internet_C', 'romantic_C', 'famrel_C', 'freetime_C', 'goout_C', 'Dalc_C', 'Walc_C', 'health_C', 'absences_C', 'G1_C', 'G2_C', 'G3_C', 'rank']

In [21]:
numeric_att = [ 'school_C', 'sex_C', 'age_C', 'address_C', 'famsize_C', 'Pstatus_C', 'Medu_C', 'Fedu_C', 'Mjob_C', 'Fjob_C',
 'reason_C', 'guardian_C', 'traveltime_C', 'studytime_C', 'failures_C', 'schoolsup_C', 'famsup_C', 'paid_C',
 'activities_C', 'nursery_C', 'higher_C', 'internet_C', 'romantic_C', 'famrel_C', 'freetime_C', 'goout_C',
 'Dalc_C', 'Walc_C', 'health_C', 'absences_C', 'G1_C', 'G2_C', 'G3_C', 'G1', 'G2', 'G3', 'rank']

print(len(numeric_att))

37

In [22]:
student_data_numeric = original_student_data[numeric_att]
print(student_data_numeric.shape)

(395, 37)

In [23]:
student_data_numeric.to_csv("../../InputData/StudentDataset/LargeDatasets/student-mat_cat_numeric_withrank.csv", index=False)

In [24]:
file_path = r"../../InputData/StudentDataset/LargeDatasets/student-mat_cat_numeric_withrank.csv"
output_pre = r"../../InputData/StudentDataset/LargeDatasets/"
extendDataset(400, file_path, output_pre)

5
0 [1, 0, 0, 1, 0, 0, 0, 3, 2, 2, 0, 2, 2, 2, 3, 1, 0, 1, 0, 1, 1, 1, 1, 4, 5, 3, 1, 1, 1, 62, 1, 1, 0, 19, 5, 1, 62]

In [26]:
def UpdateAndRank(file_path, ranked_by):
    data = pd.read_csv(file_path)
    data['rank'] = data[ranked_by].rank(method='first', na_option='bottom', ascending=False)
    data = data.sort_values(by='rank', ascending=True)
    data.to_csv(file_path, index=False)


def ExtendAndRank(size, input_file_path, output_pre, ranked_by_att):
    extendDataset(size, input_file_path, output_pre)
    new_file_path = output_pre + str(size) + '.csv'
    UpdateAndRank(new_file_path, ranked_by_att)

In [27]:
UpdateAndRank("../../InputData/StudentDataset/LargeDatasets/400.csv", 'G3')

In [35]:
input_file_path = "../../InputData/StudentDataset/LargeDatasets/1100.csv"
output_pre = r"../../InputData/StudentDataset/LargeDatasets/"
ExtendAndRank(1200, input_file_path, output_pre, 'G3')

100
0 [1, 0, 1, 1, 0, 1, 0, 2, 0, 4, 1, 2, 1, 1, 2, 0, 1, 1, 0, 1, 1, 0, 1, 4, 2, 1, 5, 5, 4, 72, 0, 0, 1, 8, 8, 3, 307]