This is to preprocess student data for ranking experiments.

In [9]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [10]:

student_data = pd.read_csv("../../InputData/StudentDataset/student-mat.csv", sep=';')
print(len(student_data))
student_data[:4]

395

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15

In [11]:
student_data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [12]:
student_data['age_binary'] = [0]*395

In [13]:
student_data[:4]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,age_binary
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,0
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,0

### age

In [14]:

def age_binary(x):
    if x <= 18:
        return 0
    else:
        return 1


print(student_data['age_binary'])
student_data['age_binary'] = student_data['age'].map(lambda x: age_binary(x))
print(student_data['age_binary'])

0      0
1      0
2      0
3      0
4      0
      ..
390    0
391    0
392    0
393    0
394    0
Name: age_binary, Length: 395, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
390    1
391    0
392    1
393    0
394    1
Name: age_binary, Length: 395, dtype: int64

In [15]:
student_data['rank'] = student_data['G3'].rank(method='first', na_option='bottom')
student_data['rank']

0       47.0
1       48.0
2      131.0
3      323.0
4      132.0
       ...
390    129.0
391    371.0
392     70.0
393    186.0
394    130.0
Name: rank, Length: 395, dtype: float64

In [17]:
selected_attributes = ["school", "sex", "age_binary", "address", "famsize", "Pstatus", "Medu", "Fedu", "Mjob", "Fjob", "rank"]

student_data_selected_att = student_data[selected_attributes]

In [18]:
student_data_selected_att = student_data_selected_att.sort_values(by=['rank'])
student_data_selected_att

,school,sex,age_binary,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,rank
128,GP,M,0,R,GT3,T,2,2,services,other,1.0
130,GP,F,0,R,GT3,T,3,4,services,teacher,2.0
131,GP,F,0,U,GT3,T,1,1,at_home,other,3.0
134,GP,M,0,R,GT3,T,3,4,at_home,teacher,4.0
135,GP,F,0,U,GT3,T,4,4,services,at_home,5.0
...,...,...,...,...,...,...,...,...,...,...,...
110,GP,M,0,U,LE3,A,4,4,teacher,teacher,391.0
113,GP,M,0,U,LE3,T,4,2,teacher,other,392.0
286,GP,F,0,U,GT3,T,2,2,at_home,at_home,393.0
374,MS,F,0,R,LE3,T,4,4,other,other,394.0
47,GP,M,0,U,GT3,T,4,3,health,services,395.0

In [19]:
student_data_selected_att.to_csv(r"../../InputData/StudentDataset/student-mat_selected_att.csv", index=False)

In [21]:
student_data_selected_att = pd.read_csv(r"../../InputData/StudentDataset/student-mat_selected_att.csv")
student_data_selected_att[:5]

,school,sex,age_binary,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,rank
0,GP,M,0,R,GT3,T,2,2,services,other,1.0
1,GP,F,0,R,GT3,T,3,4,services,teacher,2.0
2,GP,F,0,U,GT3,T,1,1,at_home,other,3.0
3,GP,M,0,R,GT3,T,3,4,at_home,teacher,4.0
4,GP,F,0,U,GT3,T,4,4,services,at_home,5.0

In [22]:

def school(x):
    if x == "GP":
        return 0
    else:
        return 1


print(student_data_selected_att['school'])
student_data_selected_att['school'] = student_data_selected_att['school'].map(lambda x: school(x))
print(student_data_selected_att['school'])

0      GP
1      GP
2      GP
3      GP
4      GP
       ..
390    GP
391    GP
392    GP
393    MS
394    GP
Name: school, Length: 395, dtype: object
0      0
1      0
2      0
3      0
4      0
      ..
390    0
391    0
392    0
393    1
394    0
Name: school, Length: 395, dtype: int64

In [23]:
def sex(x):
    if x == "F":
        return 0
    else:
        return 1


print(student_data_selected_att['sex'])
student_data_selected_att['sex'] = student_data_selected_att['sex'].map(lambda x: sex(x))
print(student_data_selected_att['sex'])

0      M
1      F
2      F
3      M
4      F
      ..
390    M
391    M
392    F
393    F
394    M
Name: sex, Length: 395, dtype: object
0      1
1      0
2      0
3      1
4      0
      ..
390    1
391    1
392    0
393    0
394    1
Name: sex, Length: 395, dtype: int64

In [24]:

def address(x):
    if x == "U":
        return 0
    else:
        return 1


print(student_data_selected_att['address'])
student_data_selected_att['address'] = student_data_selected_att['address'].map(lambda x: address(x))
print(student_data_selected_att['address'])

0      R
1      R
2      U
3      R
4      U
      ..
390    U
391    U
392    U
393    R
394    U
Name: address, Length: 395, dtype: object
0      1
1      1
2      0
3      1
4      0
      ..
390    0
391    0
392    0
393    1
394    0
Name: address, Length: 395, dtype: int64

In [25]:

def famsize(x):
    if x == "LE3":
        return 0
    else:
        return 1


print(student_data_selected_att['famsize'])
student_data_selected_att['famsize'] = student_data_selected_att['famsize'].map(lambda x: famsize(x))
print(student_data_selected_att['famsize'])

0      GT3
1      GT3
2      GT3
3      GT3
4      GT3
      ...
390    LE3
391    LE3
392    GT3
393    LE3
394    GT3
Name: famsize, Length: 395, dtype: object
0      1
1      1
2      1
3      1
4      1
      ..
390    0
391    0
392    1
393    0
394    1
Name: famsize, Length: 395, dtype: int64

In [26]:
def Pstatus(x):
    if x == "T":
        return 0
    else:
        return 1


print(student_data_selected_att['Pstatus'])
student_data_selected_att['Pstatus'] = student_data_selected_att['Pstatus'].map(lambda x: Pstatus(x))
print(student_data_selected_att['Pstatus'])

0      T
1      T
2      T
3      T
4      T
      ..
390    A
391    T
392    T
393    T
394    T
Name: Pstatus, Length: 395, dtype: object
0      0
1      0
2      0
3      0
4      0
      ..
390    1
391    0
392    0
393    0
394    0
Name: Pstatus, Length: 395, dtype: int64

In [27]:
# 9 Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
# 10 Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')

def Mjob(x):
    if x == 'teacher':
        return 0
    elif x == 'health':
        return 1
    elif x == 'services':
        return 2
    elif x == 'at_home':
        return 3
    else:
        return 4


print(student_data_selected_att['Mjob'])
student_data_selected_att['Mjob'] = student_data_selected_att['Mjob'].map(lambda x: Mjob(x))
print(student_data_selected_att['Mjob'])

0      services
1      services
2       at_home
3       at_home
4      services
         ...
390     teacher
391     teacher
392     at_home
393       other
394      health
Name: Mjob, Length: 395, dtype: object
0      2
1      2
2      3
3      3
4      2
      ..
390    0
391    0
392    3
393    4
394    1
Name: Mjob, Length: 395, dtype: int64

In [28]:
def Fjob(x):
    if x == 'teacher':
        return 0
    elif x == 'health':
        return 1
    elif x == 'services':
        return 2
    elif x == 'at_home':
        return 3
    else:
        return 4


print(student_data_selected_att['Fjob'])
student_data_selected_att['Fjob'] = student_data_selected_att['Fjob'].map(lambda x: Fjob(x))
print(student_data_selected_att['Fjob'])

0         other
1       teacher
2         other
3       teacher
4       at_home
         ...
390     teacher
391       other
392     at_home
393       other
394    services
Name: Fjob, Length: 395, dtype: object
0      4
1      0
2      4
3      0
4      3
      ..
390    0
391    4
392    3
393    4
394    2
Name: Fjob, Length: 395, dtype: int64

In [29]:
student_data_selected_att.to_csv(r"../../InputData/StudentDataset/student-mat_selected_att.csv", index=False)

In [38]:
student_data_selected_9att = student_data_selected_att[["school","sex","age_binary","address", "famsize",
                                                        "Pstatus", "Medu", "Fedu", "Mjob", "rank"]]

student_data_selected_9att.to_csv(r"../../InputData/StudentDataset/ForRanking/student-mat_selected_9att.csv", index=False)

In [2]:
#  [[0, -1, 0, 1, 1], [0, 1, 0, -1, 1], [0, 0, 0, 0, 1]]
# [0, 1, 0, 0, -1]

[1, 2, 3, 4, 7, 8, 9] [7, 8, 9, 1, 2, 3, 4]