In [1]:

import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# rank categorized data based on G3

In [2]:

student_data = pd.read_csv("../../InputData/StudentDataset/original/student-mat_cat.csv")
print(len(student_data))
student_data[:3]

395

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,quality of family relationships,free time after school,going out with friends,workday alcohol consumption,weekend alcohol consumption,current health status,number of school absences,first period grade,second period grade,final grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,good,average,above average,very low,very low,average,< 30,5 to 10,5 to 10,5 to 10
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,excellent,average,average,very low,very low,average,< 30,5 to 10,5 to 10,5 to 10
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,good,average,below average,below average,average,average,< 30,5 to 10,5 to 10,5 to 10

In [3]:
student_data['rank'] = student_data['G3'].rank(method='first', na_option='bottom', ascending=False)

student_data[:3]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,free time after school,going out with friends,workday alcohol consumption,weekend alcohol consumption,current health status,number of school absences,first period grade,second period grade,final grade,rank
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,average,above average,very low,very low,average,< 30,5 to 10,5 to 10,5 to 10,335.0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,average,average,very low,very low,average,< 30,5 to 10,5 to 10,5 to 10,336.0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,average,below average,below average,average,average,< 30,5 to 10,5 to 10,5 to 10,210.0

In [4]:
student_data.to_csv("../../InputData/StudentDataset/ForRanking_1/student-mat_cat_withrank.csv", index=False)
print(len(student_data))

395

In [5]:
student_data = student_data.sort_values(by='rank', ascending=True)
student_data[:3]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,free time after school,going out with friends,workday alcohol consumption,weekend alcohol consumption,current health status,number of school absences,first period grade,second period grade,final grade,rank
47,GP,M,16,U,GT3,T,4,3,health,services,...,below average,below average,very low,very low,bad,< 30,> 15,> 15,> 15,1.0
8,GP,M,15,U,LE3,A,3,2,services,other,...,below average,below average,very low,very low,very bad,< 30,> 15,> 15,> 15,2.0
110,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,very high,average,very low,very low,good,< 30,> 15,> 15,> 15,3.0

In [6]:
student_data.to_csv("../../InputData/StudentDataset/ForRanking_1/student-mat_cat_ranked.csv", index=False)
print(len(student_data))

395