Use "../cox-parsed-filtered.csv"
Categorize it

Attributes:

cox['sex'].replace(to_replace=['Male', 'Female'], value=[0, 1], inplace=True)

cox['age_cat'].replace(to_replace=['Less than 25', '25 - 45', 'Greater than 45'], value=[0, 1, 2], inplace=True)

cox['race_factor'].replace(to_replace=['African-American', 'Asian', 'Caucasian', 'Hispanic', 'Native American', 'Other'], value=[0, 1, 2, 3, 4, 5], inplace=True)

In [12]:
import pandas as pd

In [13]:
cox = pd.read_csv(r"../cox-parsed-filtered.csv", index_col=0)
cox[:4]

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,race_factor,score_factor
1,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,Other,Low
3,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,African-American,Low
4,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,African-American,Low
6,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,Medium,2013-01-13,NaN,NaN,1,0,1174,0,African-American,High

In [5]:
# # drop useless columns
# cox = cox.drop("id", axis=1)
# cox = cox.drop("name", axis=1)
# cox = cox.drop("first", axis=1)
# cox = cox.drop("last", axis=1)
# cox = cox.drop("dob", axis=1)
# cox = cox.drop("age", axis=1)
# cox[:4]

,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,juv_fel_count,...,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,race_factor,score_factor
1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,0,...,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,Other,Low
3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,0,...,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,African-American,Low
4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,0,...,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,African-American,Low
6,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,0,...,Medium,2013-01-13,NaN,NaN,1,0,1174,0,African-American,High

# categorize sex, age, race

In [14]:
# replace string with numerics

cox['sex'].replace(to_replace=['Male', 'Female'], value=[0, 1], inplace=True)

cox['sex']

1        0
3        0
4        0
6        0
7        0
        ..
13339    0
13340    1
13341    0
13342    1
13343    1
Name: sex, Length: 10314, dtype: int64

In [15]:
cox['age_cat'].replace(to_replace=['Less than 25', '25 - 45', 'Greater than 45'], value=[0, 1, 2], inplace=True)
cox['age_cat']

1        2
3        1
4        0
6        0
7        1
        ..
13339    0
13340    1
13341    2
13342    1
13343    0
Name: age_cat, Length: 10314, dtype: int64

In [16]:
cox['race_factor'].replace(to_replace=['African-American', 'Asian', 'Caucasian', 'Hispanic', 'Native American', 'Other'], value=[0, 1, 2, 3, 4, 5], inplace=True)
cox['race_factor']

1        5
3        0
4        0
6        0
7        5
        ..
13339    0
13340    0
13341    5
13342    0
13343    3
Name: race_factor, Length: 10314, dtype: int64

In [17]:
cox.to_csv(r"cox-parsed-filtered-cat.csv", index=False)

In [ ]:
# normalize score

In [20]:
cox = pd.read_csv(r"cox-parsed-filtered-cat.csv")
cox[:4]

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,race_factor,score_factor
0,1,miguel hernandez,miguel,hernandez,2013-08-14,0,1947-04-18,69,2,Other,...,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,5,Low
1,3,kevon dixon,kevon,dixon,2013-01-27,0,1982-01-22,34,1,African-American,...,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,0,Low
2,4,ed philo,ed,philo,2013-04-14,0,1991-05-14,24,0,African-American,...,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,0,Low
3,5,marcu brown,marcu,brown,2013-01-13,0,1993-01-21,23,0,African-American,...,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0,High

In [23]:
compas_data = cox
compas_describe = cox.describe()
compas_describe

,id,sex,age,age_cat,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,...,r_days_from_arrest,violent_recid,is_violent_recid,decile_score.1,v_decile_score,priors_count.1,start,end,event,race_factor
count,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,9887.000000,...,2311.000000,0.0,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000
mean,5492.537716,0.204770,35.025693,1.015222,0.065154,4.408183,0.080376,0.100737,3.279523,-0.661677,...,20.313284,NaN,0.079310,4.408183,3.600737,3.279523,23.885398,544.114698,0.267500,1.260811
std,3177.588909,0.403553,11.952345,0.656189,0.465655,2.866660,0.465254,0.491007,4.752899,73.854464,...,74.946709,NaN,0.270235,2.866660,2.503209,4.752899,109.233017,354.295096,0.442677,1.434244
min,1.000000,0.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-597.000000,...,-1.000000,NaN,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,2739.250000,0.000000,25.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,-1.000000,...,0.000000,NaN,0.000000,2.000000,1.000000,0.000000,0.000000,202.000000,0.000000,0.000000
50%,5485.500000,0.000000,32.000000,1.000000,0.000000,4.000000,0.000000,0.000000,1.000000,-1.000000,...,0.000000,NaN,0.000000,4.000000,3.000000,1.000000,0.000000,548.000000,0.000000,1.000000
75%,8243.750000,0.000000,43.000000,1.000000,0.000000,7.000000,0.000000,0.000000,4.000000,-1.000000,...,1.000000,NaN,0.000000,7.000000,5.000000,4.000000,2.000000,827.000000,1.000000,2.000000
max,11001.000000,1.000000,96.000000,2.000000,20.000000,10.000000,13.000000,17.000000,43.000000,1057.000000,...,993.000000,NaN,1.000000,10.000000,10.000000,43.000000,1185.000000,1186.000000,1.000000,5.000000

In [24]:

c_days_from_compas_max = compas_describe['c_days_from_compas']['max']
c_days_from_compas_min = compas_describe['c_days_from_compas']['min']

juv_other_count_max = compas_describe['juv_other_count']['max']
juv_other_count_min = compas_describe['juv_other_count']['min']

days_b_screening_arrest_max = compas_describe['days_b_screening_arrest']['max']
days_b_screening_arrest_min = compas_describe['days_b_screening_arrest']['min']

start_max = compas_describe['start']['max']
start_min = compas_describe['start']['min']

end_max = compas_describe['end']['max']
end_min = compas_describe['end']['min']

age_max = compas_describe['age']['max']
age_min = compas_describe['age']['min']

priors_count_max = compas_describe['priors_count']['max']
priors_count_min = compas_describe['priors_count']['min']

In [25]:

def c_days_from_compas(x):
    return (x-c_days_from_compas_min)/(c_days_from_compas_max - c_days_from_compas_min)


print(compas_data['c_days_from_compas'])
compas_data['c_days_from_compas_normalized'] = compas_data['c_days_from_compas'].map(lambda x: c_days_from_compas(x))
print(compas_data['c_days_from_compas_normalized'])

0         1.0
1         1.0
2         1.0
3         1.0
4        76.0
         ...
10309     1.0
10310     1.0
10311     1.0
10312     1.0
10313     2.0
Name: c_days_from_compas, Length: 10314, dtype: float64
0        0.000105
1        0.000105
2        0.000105
3        0.000105
4        0.008013
           ...
10309    0.000105
10310    0.000105
10311    0.000105
10312    0.000105
10313    0.000211
Name: c_days_from_compas_normalized, Length: 10314, dtype: float64

In [26]:

def juv_other_count(x):
    return (x - juv_other_count_min)/(juv_other_count_max - juv_other_count_min)


print(compas_data['juv_other_count'])
compas_data['juv_other_count_normalized'] = compas_data['juv_other_count'].map(lambda x: juv_other_count(x))
print(compas_data['juv_other_count_normalized'])

0        0
1        0
2        1
3        0
4        0
        ..
10309    0
10310    0
10311    0
10312    0
10313    0
Name: juv_other_count, Length: 10314, dtype: int64
0        0.000000
1        0.000000
2        0.058824
3        0.000000
4        0.000000
           ...
10309    0.000000
10310    0.000000
10311    0.000000
10312    0.000000
10313    0.000000
Name: juv_other_count_normalized, Length: 10314, dtype: float64

In [27]:

def days_b_screening_arrest(x):
    return (x - days_b_screening_arrest_min)/(days_b_screening_arrest_max - days_b_screening_arrest_min)


print(compas_data['days_b_screening_arrest'])
compas_data['days_b_screening_arrest_normalized'] = compas_data['days_b_screening_arrest'].map(lambda x: days_b_screening_arrest(x))
print(compas_data['days_b_screening_arrest_normalized'])

0       -1.0
1       -1.0
2       -1.0
3        NaN
4        NaN
        ...
10309   -1.0
10310   -1.0
10311   -1.0
10312   -1.0
10313   -2.0
Name: days_b_screening_arrest, Length: 10314, dtype: float64
0        0.360339
1        0.360339
2        0.360339
3             NaN
4             NaN
           ...
10309    0.360339
10310    0.360339
10311    0.360339
10312    0.360339
10313    0.359734
Name: days_b_screening_arrest_normalized, Length: 10314, dtype: float64

In [28]:

def start(x):
    return (x - start_min)/(start_max - start_min)


print(compas_data['start'])
compas_data['start_normalized'] = compas_data['start'].map(lambda x: start(x))
print(compas_data['start_normalized'])

0        0
1        9
2        0
3        0
4        0
        ..
10309    1
10310    9
10311    0
10312    0
10313    0
Name: start, Length: 10314, dtype: int64
0        0.000000
1        0.007595
2        0.000000
3        0.000000
4        0.000000
           ...
10309    0.000844
10310    0.007595
10311    0.000000
10312    0.000000
10313    0.000000
Name: start_normalized, Length: 10314, dtype: float64

In [29]:
def end(x):
    return (x - end_min)/(end_max - end_min)


print(compas_data['end'])
compas_data['end_normalized'] = compas_data['end'].map(lambda x: end(x))
print(compas_data['end_normalized'])

0         327
1         159
2          63
3        1174
4        1102
         ...
10309     790
10310     459
10311     808
10312     754
10313     258
Name: end, Length: 10314, dtype: int64
0        0.275105
1        0.133333
2        0.052321
3        0.989873
4        0.929114
           ...
10309    0.665823
10310    0.386498
10311    0.681013
10312    0.635443
10313    0.216878
Name: end_normalized, Length: 10314, dtype: float64

In [30]:

def age(x):
    return (x - age_min)/(age_max - age_min)


print(compas_data['age'])
compas_data['age_normalized'] = compas_data['age'].map(lambda x: age(x))
print(compas_data['age_normalized'])

0        69
1        34
2        24
3        23
4        43
         ..
10309    23
10310    31
10311    57
10312    33
10313    23
Name: age, Length: 10314, dtype: int64
0        0.653846
1        0.205128
2        0.076923
3        0.064103
4        0.320513
           ...
10309    0.064103
10310    0.166667
10311    0.500000
10312    0.192308
10313    0.064103
Name: age_normalized, Length: 10314, dtype: float64

In [31]:

def priors_count(x):
    return (x - priors_count_min)/(priors_count_max - priors_count_min)


print(compas_data['priors_count'])
compas_data['priors_count_normalized'] = compas_data['priors_count'].map(lambda x: priors_count(x))
print(compas_data['priors_count_normalized'])

0        0
1        0
2        4
3        1
4        2
        ..
10309    0
10310    5
10311    0
10312    3
10313    2
Name: priors_count, Length: 10314, dtype: int64
0        0.000000
1        0.000000
2        0.093023
3        0.023256
4        0.046512
           ...
10309    0.000000
10310    0.116279
10311    0.000000
10312    0.069767
10313    0.046512
Name: priors_count_normalized, Length: 10314, dtype: float64

# rank

In [32]:
compas_data['score'] = compas_data['c_days_from_compas_normalized'] + compas_data['juv_other_count_normalized'] + \
                       compas_data['days_b_screening_arrest_normalized'] + compas_data['start_normalized'] + compas_data['end_normalized'] \
                       + compas_data['priors_count_normalized'] - compas_data['age_normalized']


print(compas_data['score'])

0       -0.018297
1        0.296244
2        0.487688
3             NaN
4             NaN
           ...
10309    0.963008
10310    0.704149
10311    0.541457
10312    0.873347
10313    0.559232
Name: score, Length: 10314, dtype: float64

In [34]:
compas_data.to_csv(r"cox-parsed-filtered-cat-scored.csv")
compas_data[:4]

0          79.0
1         881.0
2        2725.0
3        9888.0
4        9889.0
          ...
10309    7830.0
10310    5241.0
10311    3357.0
10312    7026.0
10313    3578.0
Name: rank, Length: 10314, dtype: float64

In [ ]:
compas_data['rank'] = compas_data['score'].rank(method='first', na_option='bottom', ascending=False)
compas_data['rank']

In [35]:
compas_data.to_csv(r"cox-parsed-filtered-cat-score&rank.csv", index=False)

In [39]:
compas_data = pd.read_csv(r"cox-parsed-filtered-cat-score&rank.csv")
compas_data[:4]

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,score_factor,c_days_from_compas_normalized,juv_other_count_normalized,days_b_screening_arrest_normalized,start_normalized,end_normalized,age_normalized,priors_count_normalized,score,rank
0,1,miguel hernandez,miguel,hernandez,2013-08-14,0,1947-04-18,69,2,Other,...,Low,0.000105,0.000000,0.360339,0.000000,0.275105,0.653846,0.000000,-0.018297,79.0
1,3,kevon dixon,kevon,dixon,2013-01-27,0,1982-01-22,34,1,African-American,...,Low,0.000105,0.000000,0.360339,0.007595,0.133333,0.205128,0.000000,0.296244,881.0
2,4,ed philo,ed,philo,2013-04-14,0,1991-05-14,24,0,African-American,...,Low,0.000105,0.058824,0.360339,0.000000,0.052321,0.076923,0.093023,0.487688,2725.0
3,5,marcu brown,marcu,brown,2013-01-13,0,1993-01-21,23,0,African-American,...,High,0.000105,0.000000,NaN,0.000000,0.989873,0.064103,0.023256,NaN,9888.0

In [42]:
compas_data = compas_data.sort_values(by=['rank'])
compas_data[:8]

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,score_factor,c_days_from_compas_normalized,juv_other_count_normalized,days_b_screening_arrest_normalized,start_normalized,end_normalized,age_normalized,priors_count_normalized,score,rank
7548,8043,desi johnson,desi,johnson,2013-03-20,0,1974-06-06,41,1,African-American,...,High,0.000105,0.058824,0.360339,0.935021,0.935021,0.294872,0.674419,2.668857,1.0
5319,5656,daniel morgan,daniel,morgan,2013-02-03,0,1990-04-29,25,1,Caucasian,...,High,0.000105,0.411765,0.360339,0.495359,0.972152,0.089744,0.441860,2.591836,2.0
5161,5490,wacaltos virgile,wacaltos,virgile,2013-01-02,0,1988-04-15,28,1,Other,...,High,0.000000,0.000000,0.360943,1.000000,1.000000,0.128205,0.232558,2.465296,3.0
4824,5135,christopher marion,christopher,marion,2013-05-24,0,1991-04-02,25,1,African-American,...,High,0.000105,0.058824,0.360339,0.880169,0.880169,0.089744,0.348837,2.438699,4.0
6340,6746,shawn hankerson,shawn,hankerson,2013-05-09,0,1990-10-27,25,1,African-American,...,High,0.000105,0.176471,0.360339,0.892827,0.892827,0.089744,0.139535,2.372360,5.0
4265,4538,dontae pew,dontae,pew,2013-03-22,0,1978-08-28,37,1,African-American,...,High,0.000105,0.000000,0.360339,0.933333,0.933333,0.243590,0.372093,2.355614,6.0
1911,2032,joshua stuart,joshua,stuart,2013-01-16,0,1993-08-27,22,0,African-American,...,Medium,0.000105,0.000000,0.360339,0.988186,0.988186,0.051282,0.046512,2.332045,7.0
5292,5626,jahmal bodden,jahmal,bodden,2013-02-26,0,1988-05-06,27,1,African-American,...,High,0.000105,0.000000,0.360943,0.953586,0.953586,0.115385,0.162791,2.315628,8.0

In [43]:
compas_data.to_csv(r"cox-parsed-filtered-cat-ranked.csv", index=False)

# categorize other attributes

In [44]:

compas_data = pd.read_csv(r"cox-parsed-filtered-cat-ranked.csv")
compas_data[:4]

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,score_factor,c_days_from_compas_normalized,juv_other_count_normalized,days_b_screening_arrest_normalized,start_normalized,end_normalized,age_normalized,priors_count_normalized,score,rank
0,8043,desi johnson,desi,johnson,2013-03-20,0,1974-06-06,41,1,African-American,...,High,0.000105,0.058824,0.360339,0.935021,0.935021,0.294872,0.674419,2.668857,1.0
1,5656,daniel morgan,daniel,morgan,2013-02-03,0,1990-04-29,25,1,Caucasian,...,High,0.000105,0.411765,0.360339,0.495359,0.972152,0.089744,0.441860,2.591836,2.0
2,5490,wacaltos virgile,wacaltos,virgile,2013-01-02,0,1988-04-15,28,1,Other,...,High,0.000000,0.000000,0.360943,1.000000,1.000000,0.128205,0.232558,2.465296,3.0
3,5135,christopher marion,christopher,marion,2013-05-24,0,1991-04-02,25,1,African-American,...,High,0.000105,0.058824,0.360339,0.880169,0.880169,0.089744,0.348837,2.438699,4.0

In [45]:
compas_data.describe()

,id,sex,age,age_cat,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,...,race_factor,c_days_from_compas_normalized,juv_other_count_normalized,days_b_screening_arrest_normalized,start_normalized,end_normalized,age_normalized,priors_count_normalized,score,rank
count,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,10314.000000,9887.000000,...,10314.000000,10291.000000,10314.000000,9887.000000,10314.000000,10314.000000,10314.000000,10314.000000,9887.000000,10314.000000
mean,5492.537716,0.204770,35.025693,1.015222,0.065154,4.408183,0.080376,0.100737,3.279523,-0.661677,...,1.260811,0.006793,0.005926,0.360543,0.020156,0.458325,0.218278,0.076268,0.701884,5157.500000
std,3177.588909,0.403553,11.952345,0.656189,0.465655,2.866660,0.465254,0.491007,4.752899,73.854464,...,1.434244,0.036770,0.028883,0.044652,0.092180,0.298983,0.153235,0.110533,0.337279,2977.539672
min,1.000000,0.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-597.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.444676,1.000000
25%,2739.250000,0.000000,25.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,-1.000000,...,0.000000,0.000105,0.000000,0.360339,0.000000,0.169620,0.089744,0.000000,0.463447,2579.250000
50%,5485.500000,0.000000,32.000000,1.000000,0.000000,4.000000,0.000000,0.000000,1.000000,-1.000000,...,1.000000,0.000105,0.000000,0.360339,0.000000,0.461603,0.179487,0.023256,0.675435,5157.500000
75%,8243.750000,0.000000,43.000000,1.000000,0.000000,7.000000,0.000000,0.000000,4.000000,-1.000000,...,2.000000,0.000211,0.000000,0.360339,0.001688,0.697046,0.320513,0.093023,0.913065,7735.750000
max,11001.000000,1.000000,96.000000,2.000000,20.000000,10.000000,13.000000,17.000000,43.000000,1057.000000,...,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.668857,10314.000000