This notebook is for data preprocessing

In [2]:
import numpy as np 
import pandas as pd 
import csv
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [28]:
data = pd.read_csv("CleanAdult.csv")
data.shape

(45222, 14)

In [48]:
type(data)

pandas.core.frame.DataFrame

# group some non-discrete numbers

In [18]:
for index, row in data.iterrows():
    if row['age'] < 40:
        row['age'] = 0
    elif row['age'] < 60:
        row['age'] = 1
    elif row['age'] < 80:
        row['age'] = 2
    else:
        row['age'] = 3

In [19]:
for index, row in data.iterrows():
    if row['capital-gain'] == 0:
        row['capital-gain'] = 0
    elif row['capital-gain'] < 100:
        row['capital-gain'] = 1
    elif row['capital-gain'] < 200:
        row['capital-gain'] = 2
    elif row['capital-gain'] < 1000:
        row['capital-gain'] = 3
    else:
        row['capital-gain'] = 4

In [20]:
for index, row in data.iterrows():
    if row['capital-loss'] == 0:
        row['capital-loss'] = 0
    elif row['capital-loss'] < 50:
        row['capital-loss'] = 1
    elif row['capital-loss'] < 100:
        row['capital-loss'] = 2
    else:
        row['capital-loss'] = 3

In [22]:
for index, row in data.iterrows():
    if row['hours-per-week'] < 20:
        row['hours-per-week'] = 0
    elif row['hours-per-week'] < 40:
        row['hours-per-week'] = 1
    elif row['hours-per-week'] < 60:
        row['hours-per-week'] = 2
    elif row['hours-per-week'] < 80:
        row['hours-per-week'] = 3
    else:
        row['hours-per-week'] = 4

In [23]:
print(data)

       age  workclass  education  educational-num  marital-status  occupation  \
0        0          2          1                7               4           6
1        0          2         11                9               2           4
2        0          1          7               12               2          10
3        1          2         15               10               2           6
4        0          2          0                6               4           7
...    ...        ...        ...              ...             ...         ...
45217    0          2          7               12               2          12
45218    1          2         11                9               2           6
45219    1          2         11                9               6           0
45220    0          2         11                9               4           0
45221    1          3         11                9               2           3

       relationship  race  gender  capital-gain  capital-loss  hours-per-week  \
0                 3     2       1             0             0               2
1                 0     4       1             0             0               2
2                 0     4       1             0             0               2
3                 0     2       1             4             0               2
4                 1     4       1             0             0               1
...             ...   ...     ...           ...           ...             ...
45217             5     4       0             0             0               1
45218             0     4       1             0             0               2
45219             4     4       0             0             0               2
45220             3     4       1             0             0               1
45221             5     4       0             4             0               2

       native-country  income
0                  38       0
1                  38       0
2                  38       1
3                  38       1
4                  38       0
...               ...     ...
45217              38       0
45218              38       1
45219              38       0
45220              38       0
45221              38       1

[45222 rows x 14 columns]

In [26]:
### out put clean data into CleanAdult.csv
data.to_csv (r'CleanAdult2.csv', index = False, header=True)

# Prediction

In [29]:
predictors = ['age','workclass','education','educational-num',
              'marital-status', 'occupation','relationship','race','gender',
              'capital-gain','capital-loss','hours-per-week', 'native-country']

high_income = data[data['income'] == 1]
low_income = data[data['income'] == 0]


# splitting data arrays into two subsets: for training data and for testing data
X_train, X_test, y_train, y_test = train_test_split(data[predictors], data['income'], test_size=0.5, random_state=1)

clf = DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

num = 0
for index, row in X_test.iterrows():
    if clf.predict([row.to_list()]) != y_test.loc[index]:
        num = num + 1
        #print ('-----------------')
        #print (str(num) + '\n')
        #print (row)
        
print(num)
OverallAccuracy = (1-num/len(X_test))*100 # accuracy
print(OverallAccuracy)
AccThreshold = OverallAccuracy - 15 # Low accuracy threshold
NumThreshold = 10 # minority group size threshold

4325
80.87214187784706

# Preparation

In [30]:
X_test_res = X_test.copy()
X_test_res['act'] = y_test # actual result
X_test_res['pred'] = X_test.apply(lambda x: clf.predict([x.to_list()]), axis=1)
mis_class=X_test_res.loc[X_test_res['act']!=X_test_res['pred']]
#mis_class=X_test_res.loc[X_test_res['act']!=X_test_res['pred']]
mis_class.describe()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,act
count,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000,4325.000000
mean,43.088555,2.247399,10.695260,10.787514,2.137572,6.303353,0.840462,3.743584,0.812023,209.930405,55.022890,44.486705,36.313988,0.496879
std,11.033264,1.068566,3.175427,2.429378,1.077602,4.150666,1.588138,0.776421,0.390739,2091.187494,318.380758,11.828431,6.384634,0.500048
min,19.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000
25%,35.000000,2.000000,9.000000,9.000000,2.000000,3.000000,0.000000,4.000000,1.000000,0.000000,0.000000,40.000000,38.000000,0.000000
50%,42.000000,2.000000,11.000000,10.000000,2.000000,6.000000,0.000000,4.000000,1.000000,0.000000,0.000000,40.000000,38.000000,0.000000
75%,50.000000,2.000000,12.000000,13.000000,2.000000,10.000000,1.000000,4.000000,1.000000,0.000000,0.000000,50.000000,38.000000,1.000000
max,90.000000,6.000000,15.000000,16.000000,6.000000,13.000000,5.000000,4.000000,1.000000,99999.000000,3175.000000,99.000000,39.000000,1.000000

In [3]:
mc = pd.read_csv("miss_class.csv")
mc.shape

(4340, 15)

In [ ]:
for i in range(4340):
    mc.set_value

In [18]:
def age(x):
    if x < 40:
        return 0
    elif x < 60:
        return 1
    elif x < 80:
        return 2
    else:
        return 3

In [19]:
print(mc['age'])
mc['age'] = mc['age'].map(lambda x: age(x))
print(mc['age'])

0       56
1       40
2       43
3       34
4       33
        ..
4335    39
4336    66
4337    48
4338    53
4339    27
Name: age, Length: 4340, dtype: int64
0       1
1       1
2       1
3       0
4       0
       ..
4335    0
4336    2
4337    1
4338    1
4339    0
Name: age, Length: 4340, dtype: int64

In [20]:
     
def capitalgain(x):
    if x == 0:
        return 0
    elif x < 100:
        return 1
    elif x < 200:
        return 2
    elif x < 1000:
        return 3
    else:
        return 4

In [21]:
print(mc['capital-gain'])
mc['capital-gain'] = mc['capital-gain'].map(lambda x: capitalgain(x))
print(mc['capital-gain'])

0          0
1          0
2          0
3          0
4          0
        ...
4335       0
4336       0
4337       0
4338       0
4339    4064
Name: capital-gain, Length: 4340, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
4335    0
4336    0
4337    0
4338    0
4339    4
Name: capital-gain, Length: 4340, dtype: int64

In [22]:
     
def capitalloss(x):
    if x == 0:
        return 0
    elif x < 50:
        return 1
    elif x < 100:
        return 2
    else:
        return 3

In [23]:
print(mc['capital-loss'])
mc['capital-loss'] = mc['capital-loss'].map(lambda x: capitalloss(x))
print(mc['capital-loss'])

0          0
1       1340
2          0
3          0
4          0
        ...
4335       0
4336    1258
4337       0
4338       0
4339       0
Name: capital-loss, Length: 4340, dtype: int64
0       0
1       3
2       0
3       0
4       0
       ..
4335    0
4336    3
4337    0
4338    0
4339    0
Name: capital-loss, Length: 4340, dtype: int64

In [26]:
def hoursperweek(x):
    if x < 20:
        return 0
    elif x < 40:
        return 1
    elif x < 60:
        return 2
    elif x < 80:
        return 3
    else:
        return 4

In [27]:
print(mc['hours-per-week'])
mc['hours-per-week'] = mc['hours-per-week'].map(lambda x: hoursperweek(x))
print(mc['hours-per-week'])

0       40
1       40
2       99
3       50
4       45
        ..
4335    50
4336    20
4337    40
4338    70
4339    40
Name: hours-per-week, Length: 4340, dtype: int64
0       2
1       2
2       4
3       2
4       2
       ..
4335    2
4336    1
4337    2
4338    3
4339    2
Name: hours-per-week, Length: 4340, dtype: int64

In [28]:

### out put clean data into CleanAdult.csv
mc.to_csv (r'miss_class2.csv', index = False, header=True)

In [37]:
mcdes = mc.describe()
mcdes

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,act
count,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000
mean,0.657604,2.242166,10.715207,10.805760,2.131106,6.300000,0.858065,3.743088,0.808065,0.146544,0.090553,2.013594,36.329954,0.494931
std,0.627994,1.068142,3.174135,2.408848,1.069858,4.157129,1.605517,0.776549,0.393868,0.751552,0.513342,0.595016,6.375431,0.500032
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,9.000000,9.000000,2.000000,3.000000,0.000000,4.000000,1.000000,0.000000,0.000000,2.000000,38.000000,0.000000
50%,1.000000,2.000000,11.000000,10.000000,2.000000,6.000000,0.000000,4.000000,1.000000,0.000000,0.000000,2.000000,38.000000,0.000000
75%,1.000000,2.000000,12.000000,13.000000,2.000000,10.000000,1.000000,4.000000,1.000000,0.000000,0.000000,2.000000,38.000000,1.000000
max,3.000000,6.000000,15.000000,16.000000,6.000000,13.000000,5.000000,4.000000,1.000000,4.000000,3.000000,4.000000,39.000000,1.000000

In [56]:
attributes = mcdes.columns.values
print(mcdes[attributes[0]]['max'])

3.0

# Minority groups identified by one attribute

In [83]:
for attribute in predictors:
    print("\n")
    for i in range (mis_class[attribute].min(), mis_class[attribute].max()+1):
        X_test_min = X_test_res[(X_test[attribute] == i)]
        #print(len(X_test_min))
        if len(X_test_min) == 0:
            continue
        mis_class_min = mis_class[(X_test[attribute] == i)]
        min_acc = (1 - len(mis_class_min)/len(X_test_min))*100
        if min_acc < AccThreshold:
            #if len(X_test_min) < NumThreshold:
             #   print("group too small >_< : ")
            print(attribute, " = ", i, "group size = ", len(X_test_min), "acc = ", min_acc)

#X_test_res_min_mis_class = X_test_res_min.loc[X_test_res_min['act']!=X_test_res_min['pred']]
#min_acc = (1 - len(mis_class_min)/len(X_test_min))*100

age  =  75 group size =  26 acc =  65.38461538461539
age  =  83 group size =  5 acc =  60.0
age  =  88 group size =  3 acc =  33.333333333333336








marital-status  =  1 group size =  19 acc =  63.1578947368421




relationship  =  5 group size =  1054 acc =  65.84440227703985

<ipython-input-83-edaee6876fb0>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mis_class_min = mis_class[(X_test[attribute] == i)]

capital-gain  =  1409 group size =  3 acc =  33.333333333333336
capital-gain  =  2009 group size =  2 acc =  50.0
capital-gain  =  2105 group size =  8 acc =  62.5
capital-gain  =  2228 group size =  2 acc =  50.0
capital-gain  =  2346 group size =  2 acc =  50.0
capital-gain  =  2653 group size =  5 acc =  60.0
capital-gain  =  2829 group size =  21 acc =  61.904761904761905
capital-gain  =  2936 group size =  1 acc =  0.0
capital-gain  =  3432 group size =  2 acc =  50.0
capital-gain  =  3471 group size =  6 acc =  50.0
capital-gain  =  3908 group size =  19 acc =  63.1578947368421
capital-gain  =  4386 group size =  50 acc =  58.00000000000001
capital-gain  =  4687 group size =  2 acc =  50.0
capital-gain  =  4865 group size =  10 acc =  50.0
capital-gain  =  4931 group size =  2 acc =  0.0
capital-gain  =  6097 group size =  1 acc =  0.0
capital-gain  =  7978 group size =  1 acc =  0.0
capital-gain  =  18481 group size =  1 acc =  0.0
capital-gain  =  41310 group size =  2 acc =  0.0


capital-loss  =  323 group size =  2 acc =  50.0
capital-loss  =  653 group size =  3 acc =  33.333333333333336
capital-loss  =  1421 group size =  1 acc =  0.0
capital-loss  =  1485 group size =  31 acc =  51.61290322580645
capital-loss  =  1504 group size =  11 acc =  63.63636363636363
capital-loss  =  1564 group size =  21 acc =  42.85714285714286
capital-loss  =  1573 group size =  4 acc =  50.0
capital-loss  =  1648 group size =  1 acc =  0.0
capital-loss  =  1755 group size =  1 acc =  0.0
capital-loss  =  2129 group size =  1 acc =  0.0
capital-loss  =  2149 group size =  3 acc =  0.0
capital-loss  =  2238 group size =  2 acc =  50.0
capital-loss  =  2258 group size =  23 acc =  60.86956521739131
capital-loss  =  2267 group size =  1 acc =  0.0
capital-loss  =  2282 group size =  1 acc =  0.0
capital-loss  =  2352 group size =  2 acc =  50.0
capital-loss  =  2457 group size =  1 acc =  0.0
capital-loss  =  2603 group size =  2 acc =  50.0
capital-loss  =  2754 group size =  1 acc =  0.0
capital-loss  =  3175 group size =  2 acc =  0.0


hours-per-week  =  31 group size =  5 acc =  60.0
hours-per-week  =  57 group size =  7 acc =  57.14285714285714
hours-per-week  =  63 group size =  8 acc =  62.5
hours-per-week  =  67 group size =  2 acc =  50.0
hours-per-week  =  69 group size =  1 acc =  0.0
hours-per-week  =  73 group size =  1 acc =  0.0
hours-per-week  =  77 group size =  5 acc =  60.0
hours-per-week  =  81 group size =  2 acc =  50.0
hours-per-week  =  84 group size =  35 acc =  60.0
hours-per-week  =  86 group size =  2 acc =  0.0
hours-per-week  =  88 group size =  1 acc =  0.0
hours-per-week  =  92 group size =  1 acc =  0.0
hours-per-week  =  94 group size =  1 acc =  0.0
hours-per-week  =  97 group size =  1 acc =  0.0
hours-per-week  =  99 group size =  53 acc =  49.056603773584904


native-country  =  0 group size =  11 acc =  54.54545454545454
native-country  =  11 group size =  31 acc =  61.29032258064516
native-country  =  17 group size =  11 acc =  63.63636363636363

In [84]:
X_test_min1 = X_test_res[(X_test['age'] >= 83)]
mis_class_min1 = mis_class[(X_test['age'] >= 83)]
min_acc1 = (1 - len(mis_class_min1)/len(X_test_min1))*100
print("Age = ", i, "group size = ", len(X_test_min1), "acc = ", min_acc1)

Age =  39 group size =  38 acc =  68.42105263157895

<ipython-input-84-c8feee28848d>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mis_class_min1 = mis_class[(X_test['age'] >= 83)]

In [85]:
X_test_min2 = X_test_res[(X_test['capital-gain'] >= 1400) & (X_test['capital-gain'] <= 1500)]
mis_class_min2 = mis_class[(X_test['capital-gain'] >= 1400) & (X_test['capital-gain'] <= 1500)]
min_acc2 = (1 - len(mis_class_min2)/len(X_test_min2))*100
print("capital-gain = ", i, "group size = ", len(X_test_min2), "acc = ", min_acc2)

capital-gain =  39 group size =  9 acc =  77.77777777777779

<ipython-input-85-995efc6e718b>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mis_class_min2 = mis_class[(X_test['capital-gain'] >= 1400) & (X_test['capital-gain'] <= 1500)]

Minority groups identified by one attribute:

marital-status  =  1 group size =  19 acc =  57.89473684210527
hours-per-week  =  99 group size =  53 acc =  47.16981132075472
native-country  =  0 group size =  11 acc =  54.54545454545454

# Minority groups identified by two attribtues

## 2 of Race, gender, relationship

In [90]:
for race in range (mis_class['race'].min(), mis_class['race'].max()+1):
    for gender in range(mis_class['gender'].min(), mis_class['gender'].max()+1):
        X_test_min3 = X_test_res[(X_test['race'] == race) & (X_test['gender'] == gender)]
        if len(X_test_min3) == 0:
            continue
        mis_class_min3 = mis_class[(X_test['race'] == race) & (X_test['gender'] == gender)]
        min_acc3 = (1 - len(mis_class_min3)/len(X_test_min3))*100
        if (min_acc3 < AccThreshold):
            print("race = ", race, "gender = ", gender, "group size = ", len(X_test_min3), "acc = ", min_acc3)

<ipython-input-90-06c83435f66f>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mis_class_min3 = mis_class[(X_test['race'] == race) & (X_test['gender'] == gender)]

In [91]:
for relationship in range (mis_class['relationship'].min(), mis_class['relationship'].max()+1):
    for gender in range(mis_class['gender'].min(), mis_class['gender'].max()+1):
        X_test_min4 = X_test_res[(X_test['relationship'] == relationship) & (X_test['gender'] == gender)]
        if len(X_test_min4) == 0:
            continue
        mis_class_min4 = mis_class[(X_test['relationship'] == relationship) & (X_test['gender'] == gender)]
        min_acc4 = (1 - len(mis_class_min4)/len(X_test_min4))*100
        if (min_acc4 < AccThreshold):
            print("relationship = ", relationship, "gender = ", gender, "group size = ", len(X_test_min4), "acc = ", min_acc4)

relationship =  0 gender =  0 group size =  1 acc =  0.0
relationship =  5 gender =  0 group size =  1054 acc =  65.84440227703985

<ipython-input-91-0101d6aa12ad>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mis_class_min4 = mis_class[(X_test['relationship'] == relationship) & (X_test['gender'] == gender)]

In [92]:
for relationship in range (mis_class['relationship'].min(), mis_class['relationship'].max()+1):
    for race in range(mis_class['race'].min(), mis_class['race'].max()+1):
        X_test_min5 = X_test_res[(X_test['relationship'] == relationship) & (X_test['race'] == race)]
        if len(X_test_min5) == 0:
            continue
        mis_class_min5 = mis_class[(X_test['relationship'] == relationship) & (X_test['race'] == race)]
        min_acc5 = (1 - len(mis_class_min5)/len(X_test_min5))*100
        if (min_acc5 < AccThreshold):
            print("race = ", race, "relationship = ", relationship, "group size = ", len(X_test_min5), "acc = ", min_acc5)

race =  2 relationship =  5 group size =  102 acc =  64.70588235294117
race =  4 relationship =  5 group size =  898 acc =  65.70155902004454

<ipython-input-92-47e063f3f486>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mis_class_min5 = mis_class[(X_test['relationship'] == relationship) & (X_test['race'] == race)]

relationship =  0 gender =  0 group size =  1 acc =  0.0
relationship =  5 gender =  0 group size =  1054 acc =  65.84440227703985
race =  2 relationship =  5 group size =  102 acc =  64.70588235294117
race =  4 relationship =  5 group size =  898 acc =  65.70155902004454