In [2]:
import numpy as np
import pandas as pd

#  translate columns until PREGNT


make float64 to int

In [3]:

file_name = 'train.csv'
df = pd.read_csv(file_name)

print(df['RACE'])

df['RACE'] = df['RACE'].astype(np.int64)

print(df['RACE'])
df.to_csv(r'train.csv', index=False)

0       0.0
1       1.0
2       1.0
3       1.0
4       0.0
       ...
7910    1.0
7911    0.0
7912    0.0
7913    0.0
7914    0.0
Name: RACE, Length: 7915, dtype: float64
0       0
1       1
2       1
3       1
4       0
       ..
7910    1
7911    0
7912    0
7913    0
7914    0
Name: RACE, Length: 7915, dtype: int64

In [4]:
def add_col(df, col_name, num, minus_one = False):
    length = len(df)
    print("length: ", length)
    df[col_name] = [0]*length
    for i in range(length):
        # print("i=", i)
        found = False
        for j in range(1, num+1):
            feature_name = col_name + "=" + str(j)
            if df.iloc[i][feature_name] == 1:
                # print("df[{}] = {}".format(i, j))
                df._set_value(i, col_name, j)
                found = True
                break

        if minus_one:
            feature_name = col_name + "=-1"
            if df.iloc[i][feature_name] == 1:
                df._set_value(i, col_name, -1)
                found = True

        if found is False:
            print("{} not found".format(i))
    # print(df[col_name])

In [5]:

file_name = 'train.csv'
df = pd.read_csv(file_name)

col_name = 'REGION'
num = 4
add_col(df, col_name, num, False)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  INSCOV=1  INSCOV=2  INSCOV=3     TP     FP     TN     FN  \
0    0.0  ...       0.0       1.0       0.0  False  False  False   True
1    1.0  ...       0.0       1.0       0.0  False  False   True  False
2    1.0  ...       1.0       0.0       0.0  False  False   True  False

   ground_truth  prediction  REGION
0             0           0       1
1             0           0       1
2             0           0       4

[3 rows x 145 columns]

In [6]:
col_name = 'SEX'
num = 2
add_col(df, col_name, num, False)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  INSCOV=2  INSCOV=3     TP     FP     TN     FN  ground_truth  \
0    0.0  ...       1.0       0.0  False  False  False   True             0
1    1.0  ...       1.0       0.0  False  False   True  False             0
2    1.0  ...       0.0       0.0  False  False   True  False             0

   prediction  REGION  SEX
0           0       1    2
1           0       1    1
2           0       4    1

[3 rows x 146 columns]

In [7]:

col_name = 'MARRY'
num = 10
add_col(df, col_name, num, False)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  INSCOV=3     TP     FP     TN     FN  ground_truth  prediction  \
0    0.0  ...       0.0  False  False  False   True             0           0
1    1.0  ...       0.0  False  False   True  False             0           0
2    1.0  ...       0.0  False  False   True  False             0           0

   REGION  SEX  MARRY
0       1    2      2
1       1    1      5
2       4    1      3

[3 rows x 147 columns]

In [8]:
col_name = 'FTSTU'
num = 3
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...     TP     FP     TN     FN  ground_truth  prediction  REGION  \
0    0.0  ...  False  False  False   True             0           0       1
1    1.0  ...  False  False   True  False             0           0       1
2    1.0  ...  False  False   True  False             0           0       4

   SEX  MARRY  FTSTU
0    2      2     -1
1    1      5      3
2    1      3     -1

[3 rows x 148 columns]

In [9]:
col_name = 'ACTDTY'
num = 4
add_col(df, col_name, num, False)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...     FP     TN     FN  ground_truth  prediction  REGION  SEX  \
0    0.0  ...  False  False   True             0           0       1    2
1    1.0  ...  False   True  False             0           0       1    1
2    1.0  ...  False   True  False             0           0       4    1

   MARRY  FTSTU  ACTDTY
0      2     -1       2
1      5      3       2
2      3     -1       4

[3 rows x 149 columns]

In [10]:
col_name = 'HONRDC'
num = 4
add_col(df, col_name, num, False)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...     TN     FN  ground_truth  prediction  REGION  SEX  MARRY  \
0    0.0  ...  False   True             0           0       1    2      2
1    1.0  ...   True  False             0           0       1    1      5
2    1.0  ...   True  False             0           0       4    1      3

   FTSTU  ACTDTY  HONRDC
0     -1       2       2
1      3       2       2
2     -1       4       2

[3 rows x 150 columns]

In [11]:
col_name = 'RTHLTH'
num = 5
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...     FN  ground_truth  prediction  REGION  SEX  MARRY  FTSTU  \
0    0.0  ...   True             0           0       1    2      2     -1
1    1.0  ...  False             0           0       1    1      5      3
2    1.0  ...  False             0           0       4    1      3     -1

   ACTDTY  HONRDC  RTHLTH
0       2       2       3
1       2       2       1
2       4       2       1

[3 rows x 151 columns]

In [12]:
col_name = 'MNHLTH'
num = 5
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  ground_truth  prediction  REGION  SEX  MARRY  FTSTU  ACTDTY  \
0    0.0  ...             0           0       1    2      2     -1       2
1    1.0  ...             0           0       1    1      5      3       2
2    1.0  ...             0           0       4    1      3     -1       4

   HONRDC  RTHLTH  MNHLTH
0       2       3       3
1       2       1       1
2       2       1       1

[3 rows x 152 columns]

In [13]:
col_name = 'HIBPDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  prediction  REGION  SEX  MARRY  FTSTU  ACTDTY  HONRDC  RTHLTH  \
0    0.0  ...           0       1    2      2     -1       2       2       3
1    1.0  ...           0       1    1      5      3       2       2       1
2    1.0  ...           0       4    1      3     -1       4       2       1

   MNHLTH  HIBPDX
0       3       2
1       1       2
2       1       2

[3 rows x 153 columns]

In [14]:
col_name = 'CHDDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  REGION  SEX  MARRY  FTSTU  ACTDTY  HONRDC  RTHLTH  MNHLTH  \
0    0.0  ...       1    2      2     -1       2       2       3       3
1    1.0  ...       1    1      5      3       2       2       1       1
2    1.0  ...       4    1      3     -1       4       2       1       1

   HIBPDX  CHDDX
0       2      2
1       2      2
2       2      2

[3 rows x 154 columns]

In [15]:
col_name = 'ANGIDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  SEX  MARRY  FTSTU  ACTDTY  HONRDC  RTHLTH  MNHLTH  HIBPDX  \
0    0.0  ...    2      2     -1       2       2       3       3       2
1    1.0  ...    1      5      3       2       2       1       1       2
2    1.0  ...    1      3     -1       4       2       1       1       2

   CHDDX  ANGIDX
0      2       2
1      2       2
2      2       2

[3 rows x 155 columns]

In [16]:
col_name = 'MIDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  MARRY  FTSTU  ACTDTY  HONRDC  RTHLTH  MNHLTH  HIBPDX  CHDDX  \
0    0.0  ...      2     -1       2       2       3       3       2      2
1    1.0  ...      5      3       2       2       1       1       2      2
2    1.0  ...      3     -1       4       2       1       1       2      2

   ANGIDX  MIDX
0       2     2
1       2     2
2       2     2

[3 rows x 156 columns]

In [17]:
col_name = 'OHRTDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  FTSTU  ACTDTY  HONRDC  RTHLTH  MNHLTH  HIBPDX  CHDDX  ANGIDX  \
0    0.0  ...     -1       2       2       3       3       2      2       2
1    1.0  ...      3       2       2       1       1       2      2       2
2    1.0  ...     -1       4       2       1       1       2      2       2

   MIDX  OHRTDX
0     2       1
1     2       2
2     2       2

[3 rows x 157 columns]

In [18]:
col_name = 'STRKDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  ACTDTY  HONRDC  RTHLTH  MNHLTH  HIBPDX  CHDDX  ANGIDX  MIDX  \
0    0.0  ...       2       2       3       3       2      2       2     2
1    1.0  ...       2       2       1       1       2      2       2     2
2    1.0  ...       4       2       1       1       2      2       2     2

   OHRTDX  STRKDX
0       1       2
1       2       2
2       2       2

[3 rows x 158 columns]

In [19]:
col_name = 'EMPHDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  HONRDC  RTHLTH  MNHLTH  HIBPDX  CHDDX  ANGIDX  MIDX  OHRTDX  \
0    0.0  ...       2       3       3       2      2       2     2       1
1    1.0  ...       2       1       1       2      2       2     2       2
2    1.0  ...       2       1       1       2      2       2     2       2

   STRKDX  EMPHDX
0       2       1
1       2       2
2       2       2

[3 rows x 159 columns]

In [20]:
col_name = 'CHBRON'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  RTHLTH  MNHLTH  HIBPDX  CHDDX  ANGIDX  MIDX  OHRTDX  STRKDX  \
0    0.0  ...       3       3       2      2       2     2       1       2
1    1.0  ...       1       1       2      2       2     2       2       2
2    1.0  ...       1       1       2      2       2     2       2       2

   EMPHDX  CHBRON
0       1       2
1       2       2
2       2       2

[3 rows x 160 columns]

In [21]:
col_name = 'CHOLDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  MNHLTH  HIBPDX  CHDDX  ANGIDX  MIDX  OHRTDX  STRKDX  EMPHDX  \
0    0.0  ...       3       2      2       2     2       1       2       1
1    1.0  ...       1       2      2       2     2       2       2       2
2    1.0  ...       1       2      2       2     2       2       2       2

   CHBRON  CHOLDX
0       2       1
1       2       2
2       2       2

[3 rows x 161 columns]

In [22]:
col_name = 'CANCERDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  HIBPDX  CHDDX  ANGIDX  MIDX  OHRTDX  STRKDX  EMPHDX  CHBRON  \
0    0.0  ...       2      2       2     2       1       2       1       2
1    1.0  ...       2      2       2     2       2       2       2       2
2    1.0  ...       2      2       2     2       2       2       2       2

   CHOLDX  CANCERDX
0       1         2
1       2         2
2       2         2

[3 rows x 162 columns]

In [23]:
col_name = 'DIABDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  CHDDX  ANGIDX  MIDX  OHRTDX  STRKDX  EMPHDX  CHBRON  CHOLDX  \
0    0.0  ...      2       2     2       1       2       1       2       1
1    1.0  ...      2       2     2       2       2       2       2       2
2    1.0  ...      2       2     2       2       2       2       2       2

   CANCERDX  DIABDX
0         2       2
1         2       2
2         2       2

[3 rows x 163 columns]

In [24]:
col_name = 'JTPAIN'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  ANGIDX  MIDX  OHRTDX  STRKDX  EMPHDX  CHBRON  CHOLDX  CANCERDX  \
0    0.0  ...       2     2       1       2       1       2       1         2
1    1.0  ...       2     2       2       2       2       2       2         2
2    1.0  ...       2     2       2       2       2       2       2         2

   DIABDX  JTPAIN
0       2       1
1       2       2
2       2       2

[3 rows x 164 columns]

In [25]:
col_name = 'ARTHDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  MIDX  OHRTDX  STRKDX  EMPHDX  CHBRON  CHOLDX  CANCERDX  DIABDX  \
0    0.0  ...     2       1       2       1       2       1         2       2
1    1.0  ...     2       2       2       2       2       2         2       2
2    1.0  ...     2       2       2       2       2       2         2       2

   JTPAIN  ARTHDX
0       1       1
1       2       2
2       2       2

[3 rows x 165 columns]

In [26]:
col_name = 'ARTHTYPE'
num = 3
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  OHRTDX  STRKDX  EMPHDX  CHBRON  CHOLDX  CANCERDX  DIABDX  \
0    0.0  ...       1       2       1       2       1         2       2
1    1.0  ...       2       2       2       2       2         2       2
2    1.0  ...       2       2       2       2       2         2       2

   JTPAIN  ARTHDX  ARTHTYPE
0       1       1         1
1       2       2        -1
2       2       2        -1

[3 rows x 166 columns]

In [27]:
col_name = 'ASTHDX'
num = 2
add_col(df, col_name, num, False)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  STRKDX  EMPHDX  CHBRON  CHOLDX  CANCERDX  DIABDX  JTPAIN  \
0    0.0  ...       2       1       2       1         2       2       1
1    1.0  ...       2       2       2       2         2       2       2
2    1.0  ...       2       2       2       2         2       2       2

   ARTHDX  ARTHTYPE  ASTHDX
0       1         1       2
1       2        -1       2
2       2        -1       2

[3 rows x 167 columns]

In [28]:
col_name = 'ADHDADDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  EMPHDX  CHBRON  CHOLDX  CANCERDX  DIABDX  JTPAIN  ARTHDX  \
0    0.0  ...       1       2       1         2       2       1       1
1    1.0  ...       2       2       2         2       2       2       2
2    1.0  ...       2       2       2         2       2       2       2

   ARTHTYPE  ASTHDX  ADHDADDX
0         1       2        -1
1        -1       2         1
2        -1       2        -1

[3 rows x 168 columns]

In [29]:
col_name = 'PREGNT'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  CHBRON  CHOLDX  CANCERDX  DIABDX  JTPAIN  ARTHDX  ARTHTYPE  \
0    0.0  ...       2       1         2       2       1       1         1
1    1.0  ...       2       2         2       2       2       2        -1
2    1.0  ...       2       2         2       2       2       2        -1

   ASTHDX  ADHDADDX  PREGNT
0       2        -1      -1
1       2         1      -1
2       2        -1      -1

[3 rows x 169 columns]

In [31]:
df.to_csv("train_add_col2PREGNT.csv", index=False)

# translate all attributes

In [32]:
file_name = 'train_add_col2PREGNT.csv'
df = pd.read_csv(file_name)

col_name = 'WLKLIM'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  CHOLDX  CANCERDX  DIABDX  JTPAIN  ARTHDX  ARTHTYPE  ASTHDX  \
0    0.0  ...       1         2       2       1       1         1       2
1    1.0  ...       2         2       2       2       2        -1       2
2    1.0  ...       2         2       2       2       2        -1       2

   ADHDADDX  PREGNT  WLKLIM
0        -1      -1       1
1         1      -1       2
2        -1      -1       2

[3 rows x 170 columns]

In [33]:
col_name = 'ACTLIM'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  CANCERDX  DIABDX  JTPAIN  ARTHDX  ARTHTYPE  ASTHDX  ADHDADDX  \
0    0.0  ...         2       2       1       1         1       2        -1
1    1.0  ...         2       2       2       2        -1       2         1
2    1.0  ...         2       2       2       2        -1       2        -1

   PREGNT  WLKLIM  ACTLIM
0      -1       1       1
1      -1       2       2
2      -1       2       2

[3 rows x 171 columns]

In [34]:
col_name = 'SOCLIM'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  DIABDX  JTPAIN  ARTHDX  ARTHTYPE  ASTHDX  ADHDADDX  PREGNT  \
0    0.0  ...       2       1       1         1       2        -1      -1
1    1.0  ...       2       2       2        -1       2         1      -1
2    1.0  ...       2       2       2        -1       2        -1      -1

   WLKLIM  ACTLIM  SOCLIM
0       1       1       2
1       2       2       2
2       2       2       2

[3 rows x 172 columns]

In [35]:
col_name = 'COGLIM'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  JTPAIN  ARTHDX  ARTHTYPE  ASTHDX  ADHDADDX  PREGNT  WLKLIM  \
0    0.0  ...       1       1         1       2        -1      -1       1
1    1.0  ...       2       2        -1       2         1      -1       2
2    1.0  ...       2       2        -1       2        -1      -1       2

   ACTLIM  SOCLIM  COGLIM
0       1       2       1
1       2       2       2
2       2       2       2

[3 rows x 173 columns]

In [36]:
col_name = 'DFHEAR42'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  ARTHDX  ARTHTYPE  ASTHDX  ADHDADDX  PREGNT  WLKLIM  ACTLIM  \
0    0.0  ...       1         1       2        -1      -1       1       1
1    1.0  ...       2        -1       2         1      -1       2       2
2    1.0  ...       2        -1       2        -1      -1       2       2

   SOCLIM  COGLIM  DFHEAR42
0       2       1         2
1       2       2         2
2       2       2         2

[3 rows x 174 columns]

In [37]:
col_name = 'DFSEE42'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  ARTHTYPE  ASTHDX  ADHDADDX  PREGNT  WLKLIM  ACTLIM  SOCLIM  \
0    0.0  ...         1       2        -1      -1       1       1       2
1    1.0  ...        -1       2         1      -1       2       2       2
2    1.0  ...        -1       2        -1      -1       2       2       2

   COGLIM  DFHEAR42  DFSEE42
0       1         2        2
1       2         2        2
2       2         2        2

[3 rows x 175 columns]

In [38]:
col_name = 'ADSMOK42'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  ASTHDX  ADHDADDX  PREGNT  WLKLIM  ACTLIM  SOCLIM  COGLIM  \
0    0.0  ...       2        -1      -1       1       1       2       1
1    1.0  ...       2         1      -1       2       2       2       2
2    1.0  ...       2        -1      -1       2       2       2       2

   DFHEAR42  DFSEE42  ADSMOK42
0         2        2         1
1         2        2        -1
2         2        2        -1

[3 rows x 176 columns]

In [39]:

def add_col(df, col_name, num, zero, minus_one = False):
    length = len(df)
    print("length: ", length)
    df[col_name] = [0]*length
    for i in range(length):
        # print("i=", i)
        found = False
        for j in range(1, num+1):
            feature_name = col_name + "=" + str(j)
            if df.iloc[i][feature_name] == 1:
                # print("df[{}] = {}".format(i, j))
                df._set_value(i, col_name, j)
                found = True
                break

        if minus_one:
            feature_name = col_name + "=-1"
            if df.iloc[i][feature_name] == 1:
                df._set_value(i, col_name, -1)
                found = True

        if zero:
            feature_name = col_name + "=0"
            if df.iloc[i][feature_name] == 1:
                df._set_value(i, col_name, 0)
                found = True

        if found is False:
            print("{} not found".format(i))
    # print(df[col_name])

In [40]:

col_name = 'PHQ242'
num = 6
add_col(df, col_name, num, True, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  ADHDADDX  PREGNT  WLKLIM  ACTLIM  SOCLIM  COGLIM  DFHEAR42  \
0    0.0  ...        -1      -1       1       1       2       1         2
1    1.0  ...         1      -1       2       2       2       2         2
2    1.0  ...        -1      -1       2       2       2       2         2

   DFSEE42  ADSMOK42  PHQ242
0        2         1       5
1        2        -1      -1
2        2        -1      -1

[3 rows x 177 columns]

In [41]:

col_name = 'EMPST'
num = 4
add_col(df, col_name, num, False, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  PREGNT  WLKLIM  ACTLIM  SOCLIM  COGLIM  DFHEAR42  DFSEE42  \
0    0.0  ...      -1       1       1       2       1         2        2
1    1.0  ...      -1       2       2       2       2         2        2
2    1.0  ...      -1       2       2       2       2         2        2

   ADSMOK42  PHQ242  EMPST
0         1       5      4
1        -1      -1      1
2        -1      -1      1

[3 rows x 178 columns]

In [42]:

col_name = 'POVCAT'
num = 5
add_col(df, col_name, num, False, False)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  WLKLIM  ACTLIM  SOCLIM  COGLIM  DFHEAR42  DFSEE42  ADSMOK42  \
0    0.0  ...       1       1       2       1         2        2         1
1    1.0  ...       2       2       2       2         2        2        -1
2    1.0  ...       2       2       2       2         2        2        -1

   PHQ242  EMPST  POVCAT
0       5      4       1
1      -1      1       4
2      -1      1       5

[3 rows x 179 columns]

In [43]:

col_name = 'INSCOV'
num = 3
add_col(df, col_name, num, False, False)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0     0  24.59  38.23     11.0       1.0       0.0       0.0       0.0
1  19.0     1  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  73.0     1  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0

   SEX=1  ...  ACTLIM  SOCLIM  COGLIM  DFHEAR42  DFSEE42  ADSMOK42  PHQ242  \
0    0.0  ...       1       2       1         2        2         1       5
1    1.0  ...       2       2       2         2        2        -1      -1
2    1.0  ...       2       2       2         2        2        -1      -1

   EMPST  POVCAT  INSCOV
0      4       1       2
1      1       4       2
2      1       5       1

[3 rows x 180 columns]

In [44]:

# this file has all attributes and SEX=1, SEX=2...
df.to_csv("train_all_attributes.csv", index=False)

In [45]:

# delete attributes like SEX=1, SEX=2... , only have the necessary ones

list(df.columns)

['AGE',
 'RACE',
 'PCS42',
 'MCS42',
 'K6SUM42',
 'REGION=1',
 'REGION=2',
 'REGION=3',
 'REGION=4',
 'SEX=1',
 'SEX=2',
 'MARRY=1',
 'MARRY=2',
 'MARRY=3',
 'MARRY=4',
 'MARRY=5',
 'MARRY=6',
 'MARRY=7',
 'MARRY=8',
 'MARRY=9',
 'MARRY=10',
 'FTSTU=-1',
 'FTSTU=1',
 'FTSTU=2',
 'FTSTU=3',
 'ACTDTY=1',
 'ACTDTY=2',
 'ACTDTY=3',
 'ACTDTY=4',
 'HONRDC=1',
 'HONRDC=2',
 'HONRDC=3',
 'HONRDC=4',
 'RTHLTH=-1',
 'RTHLTH=1',
 'RTHLTH=2',
 'RTHLTH=3',
 'RTHLTH=4',
 'RTHLTH=5',
 'MNHLTH=-1',
 'MNHLTH=1',
 'MNHLTH=2',
 'MNHLTH=3',
 'MNHLTH=4',
 'MNHLTH=5',
 'HIBPDX=-1',
 'HIBPDX=1',
 'HIBPDX=2',
 'CHDDX=-1',
 'CHDDX=1',
 'CHDDX=2',
 'ANGIDX=-1',
 'ANGIDX=1',
 'ANGIDX=2',
 'MIDX=-1',
 'MIDX=1',
 'MIDX=2',
 'OHRTDX=-1',
 'OHRTDX=1',
 'OHRTDX=2',
 'STRKDX=-1',
 'STRKDX=1',
 'STRKDX=2',
 'EMPHDX=-1',
 'EMPHDX=1',
 'EMPHDX=2',
 'CHBRON=-1',
 'CHBRON=1',
 'CHBRON=2',
 'CHOLDX=-1',
 'CHOLDX=1',
 'CHOLDX=2',
 'CANCERDX=-1',
 'CANCERDX=1',
 'CANCERDX=2',
 'DIABDX=-1',
 'DIABDX=1',
 'DIABDX=2',
 'JTPAIN=-1',
 'JTPAIN=1',
 'JTPAIN=2',
 'ARTHDX=-1',
 'ARTHDX=1',
 'ARTHDX=2',
 'ARTHTYPE=-1',
 'ARTHTYPE=1',
 'ARTHTYPE=2',
 'ARTHTYPE=3',
 'ASTHDX=1',
 'ASTHDX=2',
 'ADHDADDX=-1',
 'ADHDADDX=1',
 'ADHDADDX=2',
 'PREGNT=-1',
 'PREGNT=1',
 'PREGNT=2',
 'WLKLIM=-1',
 'WLKLIM=1',
 'WLKLIM=2',
 'ACTLIM=-1',
 'ACTLIM=1',
 'ACTLIM=2',
 'SOCLIM=-1',
 'SOCLIM=1',
 'SOCLIM=2',
 'COGLIM=-1',
 'COGLIM=1',
 'COGLIM=2',
 'DFHEAR42=-1',
 'DFHEAR42=1',
 'DFHEAR42=2',
 'DFSEE42=-1',
 'DFSEE42=1',
 'DFSEE42=2',
 'ADSMOK42=-1',
 'ADSMOK42=1',
 'ADSMOK42=2',
 'PHQ242=-1',
 'PHQ242=0',
 'PHQ242=1',
 'PHQ242=2',
 'PHQ242=3',
 'PHQ242=4',
 'PHQ242=5',
 'PHQ242=6',
 'EMPST=-1',
 'EMPST=1',
 'EMPST=2',
 'EMPST=3',
 'EMPST=4',
 'POVCAT=1',
 'POVCAT=2',
 'POVCAT=3',
 'POVCAT=4',
 'POVCAT=5',
 'INSCOV=1',
 'INSCOV=2',
 'INSCOV=3',
 'TP',
 'FP',
 'TN',
 'FN',
 'ground_truth',
 'prediction',
 'REGION',
 'SEX',
 'MARRY',
 'FTSTU',
 'ACTDTY',
 'HONRDC',
 'RTHLTH',
 'MNHLTH',
 'HIBPDX',
 'CHDDX',
 'ANGIDX',
 'MIDX',
 'OHRTDX',
 'STRKDX',
 'EMPHDX',
 'CHBRON',
 'CHOLDX',
 'CANCERDX',
 'DIABDX',
 'JTPAIN',
 'ARTHDX',
 'ARTHTYPE',
 'ASTHDX',
 'ADHDADDX',
 'PREGNT',
 'WLKLIM',
 'ACTLIM',
 'SOCLIM',
 'COGLIM',
 'DFHEAR42',
 'DFSEE42',
 'ADSMOK42',
 'PHQ242',
 'EMPST',
 'POVCAT',
 'INSCOV']

In [76]:
# 41 attributes + ground_truth, prediction
attributes = ['AGE', 'RACE', 'PCS42', 'MCS42', 'K6SUM42',
              'REGION', 'SEX', 'MARRY', 'FTSTU', 'ACTDTY',
              'HONRDC', 'RTHLTH', 'MNHLTH', 'HIBPDX', 'CHDDX',
              'ANGIDX', 'MIDX', 'OHRTDX', 'STRKDX', 'EMPHDX',
              'CHBRON', 'CHOLDX', 'CANCERDX', 'DIABDX', 'JTPAIN',
              'ARTHDX', 'ARTHTYPE', 'ASTHDX', 'ADHDADDX', 'PREGNT',
              'WLKLIM', 'ACTLIM', 'SOCLIM', 'COGLIM', 'DFHEAR42',
              'DFSEE42', 'ADSMOK42', 'PHQ242', 'EMPST', 'POVCAT',
              'INSCOV', 'ground_truth',
              'prediction']

In [77]:

df_necessary_att1 = df_necessary_att[attributes]

In [78]:
df_necessary_att1.to_csv("train_41att.csv", index=False)

In [72]:

df_necessary_att = pd.read_csv("train_all_attributes.csv")
df_necessary_att["TP"] = df_necessary_att["TP"].astype(int)
df_necessary_att["TN"] = df_necessary_att["TN"].astype(int)
df_necessary_att["FP"] = df_necessary_att["FP"].astype(int)
df_necessary_att["FN"] = df_necessary_att["FN"].astype(int)

In [73]:

df_necessary_att[:3]

,AGE,RACE,PCS42,MCS42,K6SUM42,REGION=1,REGION=2,REGION=3,REGION=4,SEX=1,...,ACTLIM,SOCLIM,COGLIM,DFHEAR42,DFSEE42,ADSMOK42,PHQ242,EMPST,POVCAT,INSCOV
0,56.0,0,24.59,38.23,11.0,1.0,0.0,0.0,0.0,0.0,...,1,2,1,2,2,1,5,4,1,2
1,19.0,1,-1.00,-1.00,-1.0,1.0,0.0,0.0,0.0,1.0,...,2,2,2,2,2,-1,-1,1,4,2
2,73.0,1,-1.00,-1.00,-1.0,0.0,0.0,0.0,1.0,1.0,...,2,2,2,2,2,-1,-1,1,5,1

In [74]:



for index, row in df_necessary_att.iterrows():
    if row['TP'] == 1:
        df_necessary_att._set_value(index,'ground_truth',1)
        df_necessary_att._set_value(index,'prediction',1)
    elif row['FP'] == 1:
        df_necessary_att._set_value(index,'ground_truth',0)
        df_necessary_att._set_value(index,'prediction',1)
    elif row['TN'] == 1:
        df_necessary_att._set_value(index,'ground_truth',0)
        df_necessary_att._set_value(index,'prediction',0)
    elif row['FN'] == 1:
        df_necessary_att._set_value(index,'ground_truth',1)
        df_necessary_att._set_value(index,'prediction',0)

In [75]:

df_necessary_att.to_csv("train_all_attributes.csv", index=False)



# bucketize age

In [159]:

file_name = 'train_TN_41att.csv'
df = pd.read_csv(file_name)
len(df)

5576

In [160]:

df['AGE_C'] = [0] * 5576

In [161]:
def age(x):
    if x <= 30:
        return 0
    elif x <= 50:
        return 1
    else:
        return 2

df['AGE_C'] = df['AGE'].map(lambda x: age(x))

In [162]:
df['K6SUM42_C'] = [0] * 5576

In [163]:
def K6SUM42(x):
    if x == -9:
        return 0
    elif x == -1:
        return -1
    elif x < 8:
        return 1
    elif x < 16:
        return 2
    else:
        return 3

df['K6SUM42_C'] = df['K6SUM42'].map(lambda x: K6SUM42(x))

In [164]:
df.to_csv("train_TN_41att.csv", index=False)