In [14]:
import numpy as np
import pandas as pd


make float64 to int

In [96]:

file_name = 'train_TP_add_col2PREGNT.csv'
df = pd.read_csv(file_name)

print(df['RACE'])

df['RACE'] = df['RACE'].astype(np.int64)

print(df['RACE'])
df.to_csv(r'train_TP_add_col2PREGNT.csv', index=False)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
937    0.0
938    1.0
939    1.0
940    1.0
941    1.0
Name: RACE, Length: 942, dtype: float64
0      0
1      0
2      0
3      0
4      0
      ..
937    0
938    1
939    1
940    1
941    1
Name: RACE, Length: 942, dtype: int64

In [67]:
def add_col(df, col_name, num, minus_one = False):
    length = len(df)
    print("length: ", length)
    df[col_name] = [0]*length
    for i in range(length):
        # print("i=", i)
        found = False
        for j in range(1, num+1):
            feature_name = col_name + "=" + str(j)
            if df.iloc[i][feature_name] == 1:
                # print("df[{}] = {}".format(i, j))
                df._set_value(i, col_name, j)
                found = True
                break

        if minus_one:
            feature_name = col_name + "=-1"
            if df.iloc[i][feature_name] == 1:
                df._set_value(i, col_name, -1)
                found = True

        if found is False:
            print("{} not found".format(i))
    # print(df[col_name])


file_name = 'train_TP.csv'
df = pd.read_csv(file_name)

col_name = 'REGION'
num = 4
add_col(df, col_name, num, False)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  EMPST=4  POVCAT=1  POVCAT=2  POVCAT=3  POVCAT=4  POVCAT=5  \
0    0.0  ...      1.0       0.0       0.0       0.0       1.0       0.0
1    1.0  ...      1.0       0.0       1.0       0.0       0.0       0.0
2    0.0  ...      0.0       0.0       0.0       0.0       1.0       0.0

   INSCOV=1  INSCOV=2  INSCOV=3  REGION
0       1.0       0.0       0.0       3
1       0.0       1.0       0.0       1
2       1.0       0.0       0.0       3

[3 rows x 139 columns]

In [68]:
col_name = 'SEX'
num = 2
add_col(df, col_name, num, False)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  POVCAT=1  POVCAT=2  POVCAT=3  POVCAT=4  POVCAT=5  INSCOV=1  \
0    0.0  ...       0.0       0.0       0.0       1.0       0.0       1.0
1    1.0  ...       0.0       1.0       0.0       0.0       0.0       0.0
2    0.0  ...       0.0       0.0       0.0       1.0       0.0       1.0

   INSCOV=2  INSCOV=3  REGION  SEX
0       0.0       0.0       3    2
1       1.0       0.0       1    1
2       0.0       0.0       3    2

[3 rows x 140 columns]

In [69]:

col_name = 'MARRY'
num = 10
add_col(df, col_name, num, False)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  POVCAT=2  POVCAT=3  POVCAT=4  POVCAT=5  INSCOV=1  INSCOV=2  \
0    0.0  ...       0.0       0.0       1.0       0.0       1.0       0.0
1    1.0  ...       1.0       0.0       0.0       0.0       0.0       1.0
2    0.0  ...       0.0       0.0       1.0       0.0       1.0       0.0

   INSCOV=3  REGION  SEX  MARRY
0       0.0       3    2      1
1       0.0       1    1      3
2       0.0       3    2     10

[3 rows x 141 columns]

In [70]:
col_name = 'FTSTU'
num = 3
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  POVCAT=3  POVCAT=4  POVCAT=5  INSCOV=1  INSCOV=2  INSCOV=3  \
0    0.0  ...       0.0       1.0       0.0       1.0       0.0       0.0
1    1.0  ...       0.0       0.0       0.0       0.0       1.0       0.0
2    0.0  ...       0.0       1.0       0.0       1.0       0.0       0.0

   REGION  SEX  MARRY  FTSTU
0       3    2      1     -1
1       1    1      3     -1
2       3    2     10     -1

[3 rows x 142 columns]

In [71]:
col_name = 'ACTDTY'
num = 4
add_col(df, col_name, num, False)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  POVCAT=4  POVCAT=5  INSCOV=1  INSCOV=2  INSCOV=3  REGION  SEX  \
0    0.0  ...       1.0       0.0       1.0       0.0       0.0       3    2
1    1.0  ...       0.0       0.0       0.0       1.0       0.0       1    1
2    0.0  ...       1.0       0.0       1.0       0.0       0.0       3    2

   MARRY  FTSTU  ACTDTY
0      1     -1       2
1      3     -1       4
2     10     -1       2

[3 rows x 143 columns]

In [72]:
col_name = 'HONRDC'
num = 4
add_col(df, col_name, num, False)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  POVCAT=5  INSCOV=1  INSCOV=2  INSCOV=3  REGION  SEX  MARRY  \
0    0.0  ...       0.0       1.0       0.0       0.0       3    2      1
1    1.0  ...       0.0       0.0       1.0       0.0       1    1      3
2    0.0  ...       0.0       1.0       0.0       0.0       3    2     10

   FTSTU  ACTDTY  HONRDC
0     -1       2       2
1     -1       4       2
2     -1       2       2

[3 rows x 144 columns]

In [73]:
col_name = 'RTHLTH'
num = 5
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  INSCOV=1  INSCOV=2  INSCOV=3  REGION  SEX  MARRY  FTSTU  \
0    0.0  ...       1.0       0.0       0.0       3    2      1     -1
1    1.0  ...       0.0       1.0       0.0       1    1      3     -1
2    0.0  ...       1.0       0.0       0.0       3    2     10     -1

   ACTDTY  HONRDC  RTHLTH
0       2       2       4
1       4       2       1
2       2       2       1

[3 rows x 145 columns]

In [74]:
col_name = 'MNHLTH'
num = 5
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  INSCOV=2  INSCOV=3  REGION  SEX  MARRY  FTSTU  ACTDTY  HONRDC  \
0    0.0  ...       0.0       0.0       3    2      1     -1       2       2
1    1.0  ...       1.0       0.0       1    1      3     -1       4       2
2    0.0  ...       0.0       0.0       3    2     10     -1       2       2

   RTHLTH  MNHLTH
0       4       1
1       1       1
2       1       1

[3 rows x 146 columns]

In [75]:
col_name = 'HIBPDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  INSCOV=3  REGION  SEX  MARRY  FTSTU  ACTDTY  HONRDC  RTHLTH  \
0    0.0  ...       0.0       3    2      1     -1       2       2       4
1    1.0  ...       0.0       1    1      3     -1       4       2       1
2    0.0  ...       0.0       3    2     10     -1       2       2       1

   MNHLTH  HIBPDX
0       1       1
1       1       1
2       1       2

[3 rows x 147 columns]

In [76]:
col_name = 'CHDDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  REGION  SEX  MARRY  FTSTU  ACTDTY  HONRDC  RTHLTH  MNHLTH  \
0    0.0  ...       3    2      1     -1       2       2       4       1
1    1.0  ...       1    1      3     -1       4       2       1       1
2    0.0  ...       3    2     10     -1       2       2       1       1

   HIBPDX  CHDDX
0       1      2
1       1      2
2       2      1

[3 rows x 148 columns]

In [77]:
col_name = 'ANGIDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  SEX  MARRY  FTSTU  ACTDTY  HONRDC  RTHLTH  MNHLTH  HIBPDX  \
0    0.0  ...    2      1     -1       2       2       4       1       1
1    1.0  ...    1      3     -1       4       2       1       1       1
2    0.0  ...    2     10     -1       2       2       1       1       2

   CHDDX  ANGIDX
0      2       2
1      2       2
2      1       2

[3 rows x 149 columns]

In [78]:
col_name = 'MIDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  MARRY  FTSTU  ACTDTY  HONRDC  RTHLTH  MNHLTH  HIBPDX  CHDDX  \
0    0.0  ...      1     -1       2       2       4       1       1      2
1    1.0  ...      3     -1       4       2       1       1       1      2
2    0.0  ...     10     -1       2       2       1       1       2      1

   ANGIDX  MIDX
0       2     2
1       2     2
2       2     2

[3 rows x 150 columns]

In [79]:
col_name = 'OHRTDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  FTSTU  ACTDTY  HONRDC  RTHLTH  MNHLTH  HIBPDX  CHDDX  ANGIDX  \
0    0.0  ...     -1       2       2       4       1       1      2       2
1    1.0  ...     -1       4       2       1       1       1      2       2
2    0.0  ...     -1       2       2       1       1       2      1       2

   MIDX  OHRTDX
0     2       2
1     2       2
2     2       1

[3 rows x 151 columns]

In [80]:
col_name = 'STRKDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  ACTDTY  HONRDC  RTHLTH  MNHLTH  HIBPDX  CHDDX  ANGIDX  MIDX  \
0    0.0  ...       2       2       4       1       1      2       2     2
1    1.0  ...       4       2       1       1       1      2       2     2
2    0.0  ...       2       2       1       1       2      1       2     2

   OHRTDX  STRKDX
0       2       2
1       2       2
2       1       2

[3 rows x 152 columns]

In [81]:
col_name = 'EMPHDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  HONRDC  RTHLTH  MNHLTH  HIBPDX  CHDDX  ANGIDX  MIDX  OHRTDX  \
0    0.0  ...       2       4       1       1      2       2     2       2
1    1.0  ...       2       1       1       1      2       2     2       2
2    0.0  ...       2       1       1       2      1       2     2       1

   STRKDX  EMPHDX
0       2       2
1       2       2
2       2       2

[3 rows x 153 columns]

In [82]:
col_name = 'CHBRON'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  RTHLTH  MNHLTH  HIBPDX  CHDDX  ANGIDX  MIDX  OHRTDX  STRKDX  \
0    0.0  ...       4       1       1      2       2     2       2       2
1    1.0  ...       1       1       1      2       2     2       2       2
2    0.0  ...       1       1       2      1       2     2       1       2

   EMPHDX  CHBRON
0       2       2
1       2       2
2       2       2

[3 rows x 154 columns]

In [83]:
col_name = 'CHOLDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  MNHLTH  HIBPDX  CHDDX  ANGIDX  MIDX  OHRTDX  STRKDX  EMPHDX  \
0    0.0  ...       1       1      2       2     2       2       2       2
1    1.0  ...       1       1      2       2     2       2       2       2
2    0.0  ...       1       2      1       2     2       1       2       2

   CHBRON  CHOLDX
0       2       2
1       2       1
2       2       2

[3 rows x 155 columns]

In [84]:
col_name = 'CANCERDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  HIBPDX  CHDDX  ANGIDX  MIDX  OHRTDX  STRKDX  EMPHDX  CHBRON  \
0    0.0  ...       1      2       2     2       2       2       2       2
1    1.0  ...       1      2       2     2       2       2       2       2
2    0.0  ...       2      1       2     2       1       2       2       2

   CHOLDX  CANCERDX
0       2         2
1       1         2
2       2         2

[3 rows x 156 columns]

In [85]:
col_name = 'DIABDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  CHDDX  ANGIDX  MIDX  OHRTDX  STRKDX  EMPHDX  CHBRON  CHOLDX  \
0    0.0  ...      2       2     2       2       2       2       2       2
1    1.0  ...      2       2     2       2       2       2       2       1
2    0.0  ...      1       2     2       1       2       2       2       2

   CANCERDX  DIABDX
0         2       1
1         2       2
2         2       2

[3 rows x 157 columns]

In [86]:
col_name = 'JTPAIN'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  ANGIDX  MIDX  OHRTDX  STRKDX  EMPHDX  CHBRON  CHOLDX  CANCERDX  \
0    0.0  ...       2     2       2       2       2       2       2         2
1    1.0  ...       2     2       2       2       2       2       1         2
2    0.0  ...       2     2       1       2       2       2       2         2

   DIABDX  JTPAIN
0       1       1
1       2       2
2       2       2

[3 rows x 158 columns]

In [87]:
col_name = 'ARTHDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  MIDX  OHRTDX  STRKDX  EMPHDX  CHBRON  CHOLDX  CANCERDX  DIABDX  \
0    0.0  ...     2       2       2       2       2       2         2       1
1    1.0  ...     2       2       2       2       2       1         2       2
2    0.0  ...     2       1       2       2       2       2         2       2

   JTPAIN  ARTHDX
0       1       1
1       2       2
2       2       2

[3 rows x 159 columns]

In [88]:
col_name = 'ARTHTYPE'
num = 3
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  OHRTDX  STRKDX  EMPHDX  CHBRON  CHOLDX  CANCERDX  DIABDX  \
0    0.0  ...       2       2       2       2       2         2       1
1    1.0  ...       2       2       2       2       1         2       2
2    0.0  ...       1       2       2       2       2         2       2

   JTPAIN  ARTHDX  ARTHTYPE
0       1       1         3
1       2       2        -1
2       2       2        -1

[3 rows x 160 columns]

In [89]:
col_name = 'ASTHDX'
num = 2
add_col(df, col_name, num, False)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  STRKDX  EMPHDX  CHBRON  CHOLDX  CANCERDX  DIABDX  JTPAIN  \
0    0.0  ...       2       2       2       2         2       1       1
1    1.0  ...       2       2       2       1         2       2       2
2    0.0  ...       2       2       2       2         2       2       2

   ARTHDX  ARTHTYPE  ASTHDX
0       1         3       2
1       2        -1       2
2       2        -1       2

[3 rows x 161 columns]

In [90]:
col_name = 'ADHDADDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  EMPHDX  CHBRON  CHOLDX  CANCERDX  DIABDX  JTPAIN  ARTHDX  \
0    0.0  ...       2       2       2         2       1       1       1
1    1.0  ...       2       2       1         2       2       2       2
2    0.0  ...       2       2       2         2       2       2       2

   ARTHTYPE  ASTHDX  ADHDADDX
0         3       2        -1
1        -1       2        -1
2        -1       2        -1

[3 rows x 162 columns]

In [91]:
col_name = 'PREGNT'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  CHBRON  CHOLDX  CANCERDX  DIABDX  JTPAIN  ARTHDX  ARTHTYPE  \
0    0.0  ...       2       2         2       1       1       1         3
1    1.0  ...       2       1         2       2       2       2        -1
2    0.0  ...       2       2         2       2       2       2        -1

   ASTHDX  ADHDADDX  PREGNT
0       2        -1      -1
1       2        -1      -1
2       2        -1      -1

[3 rows x 163 columns]

In [92]:
df.to_csv("train_TP_add_col2PREGNT.csv", index=False)