In [1]:
import numpy as np
import pandas as pd

#  translate columns until PREGNT


make float64 to int

In [96]:

file_name = 'train_TP_add_col2PREGNT.csv'
df = pd.read_csv(file_name)

print(df['RACE'])

df['RACE'] = df['RACE'].astype(np.int64)

print(df['RACE'])
df.to_csv(r'train_TP_add_col2PREGNT.csv', index=False)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
937    0.0
938    1.0
939    1.0
940    1.0
941    1.0
Name: RACE, Length: 942, dtype: float64
0      0
1      0
2      0
3      0
4      0
      ..
937    0
938    1
939    1
940    1
941    1
Name: RACE, Length: 942, dtype: int64

In [102]:
def add_col(df, col_name, num, minus_one = False):
    length = len(df)
    print("length: ", length)
    df[col_name] = [0]*length
    for i in range(length):
        # print("i=", i)
        found = False
        for j in range(1, num+1):
            feature_name = col_name + "=" + str(j)
            if df.iloc[i][feature_name] == 1:
                # print("df[{}] = {}".format(i, j))
                df._set_value(i, col_name, j)
                found = True
                break

        if minus_one:
            feature_name = col_name + "=-1"
            if df.iloc[i][feature_name] == 1:
                df._set_value(i, col_name, -1)
                found = True

        if found is False:
            print("{} not found".format(i))
    # print(df[col_name])

In [ ]:

file_name = 'train_TP.csv'
df = pd.read_csv(file_name)

col_name = 'REGION'
num = 4
add_col(df, col_name, num, False)
print(df[:3])

In [3]:
col_name = 'SEX'
num = 2
add_col(df, col_name, num, False)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  POVCAT=1  POVCAT=2  POVCAT=3  POVCAT=4  POVCAT=5  INSCOV=1  \
0    0.0  ...       0.0       0.0       0.0       1.0       0.0       1.0
1    1.0  ...       0.0       1.0       0.0       0.0       0.0       0.0
2    0.0  ...       0.0       0.0       0.0       1.0       0.0       1.0

   INSCOV=2  INSCOV=3  REGION  SEX
0       0.0       0.0       3    2
1       1.0       0.0       1    1
2       0.0       0.0       3    2

[3 rows x 140 columns]

In [4]:

col_name = 'MARRY'
num = 10
add_col(df, col_name, num, False)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  POVCAT=2  POVCAT=3  POVCAT=4  POVCAT=5  INSCOV=1  INSCOV=2  \
0    0.0  ...       0.0       0.0       1.0       0.0       1.0       0.0
1    1.0  ...       1.0       0.0       0.0       0.0       0.0       1.0
2    0.0  ...       0.0       0.0       1.0       0.0       1.0       0.0

   INSCOV=3  REGION  SEX  MARRY
0       0.0       3    2      1
1       0.0       1    1      3
2       0.0       3    2     10

[3 rows x 141 columns]

In [5]:
col_name = 'FTSTU'
num = 3
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  POVCAT=3  POVCAT=4  POVCAT=5  INSCOV=1  INSCOV=2  INSCOV=3  \
0    0.0  ...       0.0       1.0       0.0       1.0       0.0       0.0
1    1.0  ...       0.0       0.0       0.0       0.0       1.0       0.0
2    0.0  ...       0.0       1.0       0.0       1.0       0.0       0.0

   REGION  SEX  MARRY  FTSTU
0       3    2      1     -1
1       1    1      3     -1
2       3    2     10     -1

[3 rows x 142 columns]

In [6]:
col_name = 'ACTDTY'
num = 4
add_col(df, col_name, num, False)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  POVCAT=4  POVCAT=5  INSCOV=1  INSCOV=2  INSCOV=3  REGION  SEX  \
0    0.0  ...       1.0       0.0       1.0       0.0       0.0       3    2
1    1.0  ...       0.0       0.0       0.0       1.0       0.0       1    1
2    0.0  ...       1.0       0.0       1.0       0.0       0.0       3    2

   MARRY  FTSTU  ACTDTY
0      1     -1       2
1      3     -1       4
2     10     -1       2

[3 rows x 143 columns]

In [7]:
col_name = 'HONRDC'
num = 4
add_col(df, col_name, num, False)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  POVCAT=5  INSCOV=1  INSCOV=2  INSCOV=3  REGION  SEX  MARRY  \
0    0.0  ...       0.0       1.0       0.0       0.0       3    2      1
1    1.0  ...       0.0       0.0       1.0       0.0       1    1      3
2    0.0  ...       0.0       1.0       0.0       0.0       3    2     10

   FTSTU  ACTDTY  HONRDC
0     -1       2       2
1     -1       4       2
2     -1       2       2

[3 rows x 144 columns]

In [73]:
col_name = 'RTHLTH'
num = 5
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  INSCOV=1  INSCOV=2  INSCOV=3  REGION  SEX  MARRY  FTSTU  \
0    0.0  ...       1.0       0.0       0.0       3    2      1     -1
1    1.0  ...       0.0       1.0       0.0       1    1      3     -1
2    0.0  ...       1.0       0.0       0.0       3    2     10     -1

   ACTDTY  HONRDC  RTHLTH
0       2       2       4
1       4       2       1
2       2       2       1

[3 rows x 145 columns]

In [74]:
col_name = 'MNHLTH'
num = 5
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  INSCOV=2  INSCOV=3  REGION  SEX  MARRY  FTSTU  ACTDTY  HONRDC  \
0    0.0  ...       0.0       0.0       3    2      1     -1       2       2
1    1.0  ...       1.0       0.0       1    1      3     -1       4       2
2    0.0  ...       0.0       0.0       3    2     10     -1       2       2

   RTHLTH  MNHLTH
0       4       1
1       1       1
2       1       1

[3 rows x 146 columns]

In [75]:
col_name = 'HIBPDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  INSCOV=3  REGION  SEX  MARRY  FTSTU  ACTDTY  HONRDC  RTHLTH  \
0    0.0  ...       0.0       3    2      1     -1       2       2       4
1    1.0  ...       0.0       1    1      3     -1       4       2       1
2    0.0  ...       0.0       3    2     10     -1       2       2       1

   MNHLTH  HIBPDX
0       1       1
1       1       1
2       1       2

[3 rows x 147 columns]

In [76]:
col_name = 'CHDDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  REGION  SEX  MARRY  FTSTU  ACTDTY  HONRDC  RTHLTH  MNHLTH  \
0    0.0  ...       3    2      1     -1       2       2       4       1
1    1.0  ...       1    1      3     -1       4       2       1       1
2    0.0  ...       3    2     10     -1       2       2       1       1

   HIBPDX  CHDDX
0       1      2
1       1      2
2       2      1

[3 rows x 148 columns]

In [77]:
col_name = 'ANGIDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  SEX  MARRY  FTSTU  ACTDTY  HONRDC  RTHLTH  MNHLTH  HIBPDX  \
0    0.0  ...    2      1     -1       2       2       4       1       1
1    1.0  ...    1      3     -1       4       2       1       1       1
2    0.0  ...    2     10     -1       2       2       1       1       2

   CHDDX  ANGIDX
0      2       2
1      2       2
2      1       2

[3 rows x 149 columns]

In [78]:
col_name = 'MIDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  MARRY  FTSTU  ACTDTY  HONRDC  RTHLTH  MNHLTH  HIBPDX  CHDDX  \
0    0.0  ...      1     -1       2       2       4       1       1      2
1    1.0  ...      3     -1       4       2       1       1       1      2
2    0.0  ...     10     -1       2       2       1       1       2      1

   ANGIDX  MIDX
0       2     2
1       2     2
2       2     2

[3 rows x 150 columns]

In [79]:
col_name = 'OHRTDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  FTSTU  ACTDTY  HONRDC  RTHLTH  MNHLTH  HIBPDX  CHDDX  ANGIDX  \
0    0.0  ...     -1       2       2       4       1       1      2       2
1    1.0  ...     -1       4       2       1       1       1      2       2
2    0.0  ...     -1       2       2       1       1       2      1       2

   MIDX  OHRTDX
0     2       2
1     2       2
2     2       1

[3 rows x 151 columns]

In [80]:
col_name = 'STRKDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  ACTDTY  HONRDC  RTHLTH  MNHLTH  HIBPDX  CHDDX  ANGIDX  MIDX  \
0    0.0  ...       2       2       4       1       1      2       2     2
1    1.0  ...       4       2       1       1       1      2       2     2
2    0.0  ...       2       2       1       1       2      1       2     2

   OHRTDX  STRKDX
0       2       2
1       2       2
2       1       2

[3 rows x 152 columns]

In [81]:
col_name = 'EMPHDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  HONRDC  RTHLTH  MNHLTH  HIBPDX  CHDDX  ANGIDX  MIDX  OHRTDX  \
0    0.0  ...       2       4       1       1      2       2     2       2
1    1.0  ...       2       1       1       1      2       2     2       2
2    0.0  ...       2       1       1       2      1       2     2       1

   STRKDX  EMPHDX
0       2       2
1       2       2
2       2       2

[3 rows x 153 columns]

In [82]:
col_name = 'CHBRON'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  RTHLTH  MNHLTH  HIBPDX  CHDDX  ANGIDX  MIDX  OHRTDX  STRKDX  \
0    0.0  ...       4       1       1      2       2     2       2       2
1    1.0  ...       1       1       1      2       2     2       2       2
2    0.0  ...       1       1       2      1       2     2       1       2

   EMPHDX  CHBRON
0       2       2
1       2       2
2       2       2

[3 rows x 154 columns]

In [83]:
col_name = 'CHOLDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  MNHLTH  HIBPDX  CHDDX  ANGIDX  MIDX  OHRTDX  STRKDX  EMPHDX  \
0    0.0  ...       1       1      2       2     2       2       2       2
1    1.0  ...       1       1      2       2     2       2       2       2
2    0.0  ...       1       2      1       2     2       1       2       2

   CHBRON  CHOLDX
0       2       2
1       2       1
2       2       2

[3 rows x 155 columns]

In [84]:
col_name = 'CANCERDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  HIBPDX  CHDDX  ANGIDX  MIDX  OHRTDX  STRKDX  EMPHDX  CHBRON  \
0    0.0  ...       1      2       2     2       2       2       2       2
1    1.0  ...       1      2       2     2       2       2       2       2
2    0.0  ...       2      1       2     2       1       2       2       2

   CHOLDX  CANCERDX
0       2         2
1       1         2
2       2         2

[3 rows x 156 columns]

In [85]:
col_name = 'DIABDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  CHDDX  ANGIDX  MIDX  OHRTDX  STRKDX  EMPHDX  CHBRON  CHOLDX  \
0    0.0  ...      2       2     2       2       2       2       2       2
1    1.0  ...      2       2     2       2       2       2       2       1
2    0.0  ...      1       2     2       1       2       2       2       2

   CANCERDX  DIABDX
0         2       1
1         2       2
2         2       2

[3 rows x 157 columns]

In [86]:
col_name = 'JTPAIN'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  ANGIDX  MIDX  OHRTDX  STRKDX  EMPHDX  CHBRON  CHOLDX  CANCERDX  \
0    0.0  ...       2     2       2       2       2       2       2         2
1    1.0  ...       2     2       2       2       2       2       1         2
2    0.0  ...       2     2       1       2       2       2       2         2

   DIABDX  JTPAIN
0       1       1
1       2       2
2       2       2

[3 rows x 158 columns]

In [87]:
col_name = 'ARTHDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  MIDX  OHRTDX  STRKDX  EMPHDX  CHBRON  CHOLDX  CANCERDX  DIABDX  \
0    0.0  ...     2       2       2       2       2       2         2       1
1    1.0  ...     2       2       2       2       2       1         2       2
2    0.0  ...     2       1       2       2       2       2         2       2

   JTPAIN  ARTHDX
0       1       1
1       2       2
2       2       2

[3 rows x 159 columns]

In [88]:
col_name = 'ARTHTYPE'
num = 3
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  OHRTDX  STRKDX  EMPHDX  CHBRON  CHOLDX  CANCERDX  DIABDX  \
0    0.0  ...       2       2       2       2       2         2       1
1    1.0  ...       2       2       2       2       1         2       2
2    0.0  ...       1       2       2       2       2         2       2

   JTPAIN  ARTHDX  ARTHTYPE
0       1       1         3
1       2       2        -1
2       2       2        -1

[3 rows x 160 columns]

In [89]:
col_name = 'ASTHDX'
num = 2
add_col(df, col_name, num, False)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  STRKDX  EMPHDX  CHBRON  CHOLDX  CANCERDX  DIABDX  JTPAIN  \
0    0.0  ...       2       2       2       2         2       1       1
1    1.0  ...       2       2       2       1         2       2       2
2    0.0  ...       2       2       2       2         2       2       2

   ARTHDX  ARTHTYPE  ASTHDX
0       1         3       2
1       2        -1       2
2       2        -1       2

[3 rows x 161 columns]

In [90]:
col_name = 'ADHDADDX'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  EMPHDX  CHBRON  CHOLDX  CANCERDX  DIABDX  JTPAIN  ARTHDX  \
0    0.0  ...       2       2       2         2       1       1       1
1    1.0  ...       2       2       1         2       2       2       2
2    0.0  ...       2       2       2         2       2       2       2

   ARTHTYPE  ASTHDX  ADHDADDX
0         3       2        -1
1        -1       2        -1
2        -1       2        -1

[3 rows x 162 columns]

In [91]:
col_name = 'PREGNT'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  942
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  56.0   0.0  17.70  53.37      3.0       0.0       0.0       1.0       0.0
1  78.0   0.0  -1.00  -1.00     -1.0       1.0       0.0       0.0       0.0
2  58.0   0.0  56.71  62.39      0.0       0.0       0.0       1.0       0.0

   SEX=1  ...  CHBRON  CHOLDX  CANCERDX  DIABDX  JTPAIN  ARTHDX  ARTHTYPE  \
0    0.0  ...       2       2         2       1       1       1         3
1    1.0  ...       2       1         2       2       2       2        -1
2    0.0  ...       2       2         2       2       2       2        -1

   ASTHDX  ADHDADDX  PREGNT
0       2        -1      -1
1       2        -1      -1
2       2        -1      -1

[3 rows x 163 columns]

In [92]:
df.to_csv("train_TP_add_col2PREGNT.csv", index=False)

# translate all attributes

In [103]:
file_name = 'train_add_col2PREGNT.csv'
df = pd.read_csv(file_name)

col_name = 'WLKLIM'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  48.0     0  -1.00  -1.00     -1.0       0.0       1.0       0.0       0.0
1  11.0     0  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0
2  25.0     0  51.45  53.44      7.0       0.0       1.0       0.0       0.0

   SEX=1  ...  CHOLDX  CANCERDX  DIABDX  JTPAIN  ARTHDX  ARTHTYPE  ASTHDX  \
0    1.0  ...       2         2       2       2       2        -1       2
1    0.0  ...      -1        -1      -1      -1      -1        -1       2
2    1.0  ...       2         2       2       2       2        -1       2

   ADHDADDX  PREGNT  WLKLIM
0        -1      -1       2
1         2      -1       2
2        -1      -1       2

[3 rows x 164 columns]

In [104]:
col_name = 'ACTLIM'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  48.0     0  -1.00  -1.00     -1.0       0.0       1.0       0.0       0.0
1  11.0     0  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0
2  25.0     0  51.45  53.44      7.0       0.0       1.0       0.0       0.0

   SEX=1  ...  CANCERDX  DIABDX  JTPAIN  ARTHDX  ARTHTYPE  ASTHDX  ADHDADDX  \
0    1.0  ...         2       2       2       2        -1       2        -1
1    0.0  ...        -1      -1      -1      -1        -1       2         2
2    1.0  ...         2       2       2       2        -1       2        -1

   PREGNT  WLKLIM  ACTLIM
0      -1       2       2
1      -1       2       2
2      -1       2       2

[3 rows x 165 columns]

In [105]:
col_name = 'SOCLIM'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  48.0     0  -1.00  -1.00     -1.0       0.0       1.0       0.0       0.0
1  11.0     0  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0
2  25.0     0  51.45  53.44      7.0       0.0       1.0       0.0       0.0

   SEX=1  ...  DIABDX  JTPAIN  ARTHDX  ARTHTYPE  ASTHDX  ADHDADDX  PREGNT  \
0    1.0  ...       2       2       2        -1       2        -1      -1
1    0.0  ...      -1      -1      -1        -1       2         2      -1
2    1.0  ...       2       2       2        -1       2        -1      -1

   WLKLIM  ACTLIM  SOCLIM
0       2       2       2
1       2       2       2
2       2       2       2

[3 rows x 166 columns]

In [106]:
col_name = 'COGLIM'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  48.0     0  -1.00  -1.00     -1.0       0.0       1.0       0.0       0.0
1  11.0     0  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0
2  25.0     0  51.45  53.44      7.0       0.0       1.0       0.0       0.0

   SEX=1  ...  JTPAIN  ARTHDX  ARTHTYPE  ASTHDX  ADHDADDX  PREGNT  WLKLIM  \
0    1.0  ...       2       2        -1       2        -1      -1       2
1    0.0  ...      -1      -1        -1       2         2      -1       2
2    1.0  ...       2       2        -1       2        -1      -1       2

   ACTLIM  SOCLIM  COGLIM
0       2       2       2
1       2       2      -1
2       2       2       2

[3 rows x 167 columns]

In [107]:
col_name = 'DFHEAR42'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  48.0     0  -1.00  -1.00     -1.0       0.0       1.0       0.0       0.0
1  11.0     0  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0
2  25.0     0  51.45  53.44      7.0       0.0       1.0       0.0       0.0

   SEX=1  ...  ARTHDX  ARTHTYPE  ASTHDX  ADHDADDX  PREGNT  WLKLIM  ACTLIM  \
0    1.0  ...       2        -1       2        -1      -1       2       2
1    0.0  ...      -1        -1       2         2      -1       2       2
2    1.0  ...       2        -1       2        -1      -1       2       2

   SOCLIM  COGLIM  DFHEAR42
0       2       2         2
1       2      -1         2
2       2       2         2

[3 rows x 168 columns]

In [108]:
col_name = 'DFSEE42'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  48.0     0  -1.00  -1.00     -1.0       0.0       1.0       0.0       0.0
1  11.0     0  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0
2  25.0     0  51.45  53.44      7.0       0.0       1.0       0.0       0.0

   SEX=1  ...  ARTHTYPE  ASTHDX  ADHDADDX  PREGNT  WLKLIM  ACTLIM  SOCLIM  \
0    1.0  ...        -1       2        -1      -1       2       2       2
1    0.0  ...        -1       2         2      -1       2       2       2
2    1.0  ...        -1       2        -1      -1       2       2       2

   COGLIM  DFHEAR42  DFSEE42
0       2         2        2
1      -1         2        2
2       2         2        2

[3 rows x 169 columns]

In [109]:
col_name = 'ADSMOK42'
num = 2
add_col(df, col_name, num, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  48.0     0  -1.00  -1.00     -1.0       0.0       1.0       0.0       0.0
1  11.0     0  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0
2  25.0     0  51.45  53.44      7.0       0.0       1.0       0.0       0.0

   SEX=1  ...  ASTHDX  ADHDADDX  PREGNT  WLKLIM  ACTLIM  SOCLIM  COGLIM  \
0    1.0  ...       2        -1      -1       2       2       2       2
1    0.0  ...       2         2      -1       2       2       2      -1
2    1.0  ...       2        -1      -1       2       2       2       2

   DFHEAR42  DFSEE42  ADSMOK42
0         2        2        -1
1         2        2        -1
2         2        2         2

[3 rows x 170 columns]

In [110]:

def add_col(df, col_name, num, zero, minus_one = False):
    length = len(df)
    print("length: ", length)
    df[col_name] = [0]*length
    for i in range(length):
        # print("i=", i)
        found = False
        for j in range(1, num+1):
            feature_name = col_name + "=" + str(j)
            if df.iloc[i][feature_name] == 1:
                # print("df[{}] = {}".format(i, j))
                df._set_value(i, col_name, j)
                found = True
                break

        if minus_one:
            feature_name = col_name + "=-1"
            if df.iloc[i][feature_name] == 1:
                df._set_value(i, col_name, -1)
                found = True

        if zero:
            feature_name = col_name + "=0"
            if df.iloc[i][feature_name] == 1:
                df._set_value(i, col_name, 0)
                found = True

        if found is False:
            print("{} not found".format(i))
    # print(df[col_name])

In [111]:

col_name = 'PHQ242'
num = 6
add_col(df, col_name, num, True, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  48.0     0  -1.00  -1.00     -1.0       0.0       1.0       0.0       0.0
1  11.0     0  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0
2  25.0     0  51.45  53.44      7.0       0.0       1.0       0.0       0.0

   SEX=1  ...  ADHDADDX  PREGNT  WLKLIM  ACTLIM  SOCLIM  COGLIM  DFHEAR42  \
0    1.0  ...        -1      -1       2       2       2       2         2
1    0.0  ...         2      -1       2       2       2      -1         2
2    1.0  ...        -1      -1       2       2       2       2         2

   DFSEE42  ADSMOK42  PHQ242
0        2        -1      -1
1        2        -1      -1
2        2         2       3

[3 rows x 171 columns]

In [112]:

col_name = 'EMPST'
num = 4
add_col(df, col_name, num, False, True)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  48.0     0  -1.00  -1.00     -1.0       0.0       1.0       0.0       0.0
1  11.0     0  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0
2  25.0     0  51.45  53.44      7.0       0.0       1.0       0.0       0.0

   SEX=1  ...  PREGNT  WLKLIM  ACTLIM  SOCLIM  COGLIM  DFHEAR42  DFSEE42  \
0    1.0  ...      -1       2       2       2       2         2        2
1    0.0  ...      -1       2       2       2      -1         2        2
2    1.0  ...      -1       2       2       2       2         2        2

   ADSMOK42  PHQ242  EMPST
0        -1      -1      1
1        -1      -1     -1
2         2       3      1

[3 rows x 172 columns]

In [113]:

col_name = 'POVCAT'
num = 5
add_col(df, col_name, num, False, False)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  48.0     0  -1.00  -1.00     -1.0       0.0       1.0       0.0       0.0
1  11.0     0  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0
2  25.0     0  51.45  53.44      7.0       0.0       1.0       0.0       0.0

   SEX=1  ...  WLKLIM  ACTLIM  SOCLIM  COGLIM  DFHEAR42  DFSEE42  ADSMOK42  \
0    1.0  ...       2       2       2       2         2        2        -1
1    0.0  ...       2       2       2      -1         2        2        -1
2    1.0  ...       2       2       2       2         2        2         2

   PHQ242  EMPST  POVCAT
0      -1      1       3
1      -1     -1       1
2       3      1       1

[3 rows x 173 columns]

In [114]:

col_name = 'INSCOV'
num = 3
add_col(df, col_name, num, False, False)
print(df[:3])

length:  7915
    AGE  RACE  PCS42  MCS42  K6SUM42  REGION=1  REGION=2  REGION=3  REGION=4  \
0  48.0     0  -1.00  -1.00     -1.0       0.0       1.0       0.0       0.0
1  11.0     0  -1.00  -1.00     -1.0       0.0       0.0       0.0       1.0
2  25.0     0  51.45  53.44      7.0       0.0       1.0       0.0       0.0

   SEX=1  ...  ACTLIM  SOCLIM  COGLIM  DFHEAR42  DFSEE42  ADSMOK42  PHQ242  \
0    1.0  ...       2       2       2         2        2        -1      -1
1    0.0  ...       2       2      -1         2        2        -1      -1
2    1.0  ...       2       2       2         2        2         2       3

   EMPST  POVCAT  INSCOV
0      1       3       3
1     -1       1       2
2      1       1       1

[3 rows x 174 columns]

In [115]:

# this file has all attributes and SEX=1, SEX=2...
df.to_csv("train_all_attributes.csv", index=False)

In [116]:

# delete attributes like SEX=1, SEX=2... , only have the necessary ones

list(df.columns)

['AGE',
 'RACE',
 'PCS42',
 'MCS42',
 'K6SUM42',
 'REGION=1',
 'REGION=2',
 'REGION=3',
 'REGION=4',
 'SEX=1',
 'SEX=2',
 'MARRY=1',
 'MARRY=2',
 'MARRY=3',
 'MARRY=4',
 'MARRY=5',
 'MARRY=6',
 'MARRY=7',
 'MARRY=8',
 'MARRY=9',
 'MARRY=10',
 'FTSTU=-1',
 'FTSTU=1',
 'FTSTU=2',
 'FTSTU=3',
 'ACTDTY=1',
 'ACTDTY=2',
 'ACTDTY=3',
 'ACTDTY=4',
 'HONRDC=1',
 'HONRDC=2',
 'HONRDC=3',
 'HONRDC=4',
 'RTHLTH=-1',
 'RTHLTH=1',
 'RTHLTH=2',
 'RTHLTH=3',
 'RTHLTH=4',
 'RTHLTH=5',
 'MNHLTH=-1',
 'MNHLTH=1',
 'MNHLTH=2',
 'MNHLTH=3',
 'MNHLTH=4',
 'MNHLTH=5',
 'HIBPDX=-1',
 'HIBPDX=1',
 'HIBPDX=2',
 'CHDDX=-1',
 'CHDDX=1',
 'CHDDX=2',
 'ANGIDX=-1',
 'ANGIDX=1',
 'ANGIDX=2',
 'MIDX=-1',
 'MIDX=1',
 'MIDX=2',
 'OHRTDX=-1',
 'OHRTDX=1',
 'OHRTDX=2',
 'STRKDX=-1',
 'STRKDX=1',
 'STRKDX=2',
 'EMPHDX=-1',
 'EMPHDX=1',
 'EMPHDX=2',
 'CHBRON=-1',
 'CHBRON=1',
 'CHBRON=2',
 'CHOLDX=-1',
 'CHOLDX=1',
 'CHOLDX=2',
 'CANCERDX=-1',
 'CANCERDX=1',
 'CANCERDX=2',
 'DIABDX=-1',
 'DIABDX=1',
 'DIABDX=2',
 'JTPAIN=-1',
 'JTPAIN=1',
 'JTPAIN=2',
 'ARTHDX=-1',
 'ARTHDX=1',
 'ARTHDX=2',
 'ARTHTYPE=-1',
 'ARTHTYPE=1',
 'ARTHTYPE=2',
 'ARTHTYPE=3',
 'ASTHDX=1',
 'ASTHDX=2',
 'ADHDADDX=-1',
 'ADHDADDX=1',
 'ADHDADDX=2',
 'PREGNT=-1',
 'PREGNT=1',
 'PREGNT=2',
 'WLKLIM=-1',
 'WLKLIM=1',
 'WLKLIM=2',
 'ACTLIM=-1',
 'ACTLIM=1',
 'ACTLIM=2',
 'SOCLIM=-1',
 'SOCLIM=1',
 'SOCLIM=2',
 'COGLIM=-1',
 'COGLIM=1',
 'COGLIM=2',
 'DFHEAR42=-1',
 'DFHEAR42=1',
 'DFHEAR42=2',
 'DFSEE42=-1',
 'DFSEE42=1',
 'DFSEE42=2',
 'ADSMOK42=-1',
 'ADSMOK42=1',
 'ADSMOK42=2',
 'PHQ242=-1',
 'PHQ242=0',
 'PHQ242=1',
 'PHQ242=2',
 'PHQ242=3',
 'PHQ242=4',
 'PHQ242=5',
 'PHQ242=6',
 'EMPST=-1',
 'EMPST=1',
 'EMPST=2',
 'EMPST=3',
 'EMPST=4',
 'POVCAT=1',
 'POVCAT=2',
 'POVCAT=3',
 'POVCAT=4',
 'POVCAT=5',
 'INSCOV=1',
 'INSCOV=2',
 'INSCOV=3',
 'REGION',
 'SEX',
 'MARRY',
 'FTSTU',
 'ACTDTY',
 'HONRDC',
 'RTHLTH',
 'MNHLTH',
 'HIBPDX',
 'CHDDX',
 'ANGIDX',
 'MIDX',
 'OHRTDX',
 'STRKDX',
 'EMPHDX',
 'CHBRON',
 'CHOLDX',
 'CANCERDX',
 'DIABDX',
 'JTPAIN',
 'ARTHDX',
 'ARTHTYPE',
 'ASTHDX',
 'ADHDADDX',
 'PREGNT',
 'WLKLIM',
 'ACTLIM',
 'SOCLIM',
 'COGLIM',
 'DFHEAR42',
 'DFSEE42',
 'ADSMOK42',
 'PHQ242',
 'EMPST',
 'POVCAT',
 'INSCOV']

In [117]:
# 41 attributes
attributes = ['AGE', 'RACE', 'PCS42', 'MCS42', 'K6SUM42',
              'REGION', 'SEX', 'MARRY', 'FTSTU', 'ACTDTY',
              'HONRDC', 'RTHLTH', 'MNHLTH', 'HIBPDX', 'CHDDX',
              'ANGIDX', 'MIDX', 'OHRTDX', 'STRKDX', 'EMPHDX',
              'CHBRON', 'CHOLDX', 'CANCERDX', 'DIABDX', 'JTPAIN',
              'ARTHDX', 'ARTHTYPE', 'ASTHDX', 'ADHDADDX', 'PREGNT',
              'WLKLIM', 'ACTLIM', 'SOCLIM', 'COGLIM', 'DFHEAR42',
              'DFSEE42', 'ADSMOK42', 'PHQ242', 'EMPST', 'POVCAT',
              'INSCOV']

In [118]:

df_necessary_att = df[attributes]

In [119]:
df_necessary_att.to_csv("train_41att.csv", index=False)



# bucketize age

In [159]:

file_name = 'train_TN_41att.csv'
df = pd.read_csv(file_name)
len(df)

5576

In [160]:

df['AGE_C'] = [0] * 5576

In [161]:
def age(x):
    if x <= 30:
        return 0
    elif x <= 50:
        return 1
    else:
        return 2

df['AGE_C'] = df['AGE'].map(lambda x: age(x))

In [162]:
df['K6SUM42_C'] = [0] * 5576

In [163]:
def K6SUM42(x):
    if x == -9:
        return 0
    elif x == -1:
        return -1
    elif x < 8:
        return 1
    elif x < 16:
        return 2
    else:
        return 3

df['K6SUM42_C'] = df['K6SUM42'].map(lambda x: K6SUM42(x))

In [164]:
df.to_csv("train_TN_41att.csv", index=False)