In [5]:

import pandas as pd
import numpy as np

In [6]:


def standardizeData(data,colums_to_exclude=[]):
    """
        data is a dataframe stored all the data read from a csv source file
        colums_to_exclude is a array like data structure stored the attributes which should be ignored in the normalization process.
        return the standardized data
    """
    df = data.loc[:, data.columns.difference(colums_to_exclude)]# remove no weight attributes
    df_stand = (df - df.mean())/np.std(df)
    data.loc[:, data.columns.difference(colums_to_exclude)] = df_stand

    return data

def normalizeDataset(data,colums_to_exclude=[]):
    """
        data is a dataframe stored all the data read from a csv source file
        colums_to_exclude is a array like data structure stored the attributes which should be ignored in the normalization process.
        return the normalized data
    """
    df = data.loc[:,data.columns.difference(colums_to_exclude)] # remove no weight attributes
    norm_df = (df - df.min()) / (df.max() - df.min())
    data.loc[:,data.columns.difference(colums_to_exclude)] = norm_df

    return data

In [17]:


# German credit
data = pd.read_csv("GermanCredit_age25.csv")
data.head(5)

,StatusExistingAcc,DurationMonth,CreditHistory,Purpose,CreditAmount,SavingsAccount,EmploymentLength,InstallmentRate,MarriedNSex,Debtors,...,Age,InstallmentPlans,Housing,ExistingCredit,Job,NumPeopleLiable,Telephone,ForeignWorker,CreditEval,AgeBinary
0,11,6,34,43,1169,65,75,4,93,101,...,67,143,152,2,173,1,192,201,1,other
1,12,48,32,43,5951,61,73,2,92,101,...,22,143,152,1,173,1,191,201,2,young
2,14,12,34,46,2096,61,74,2,93,101,...,49,143,152,1,172,2,191,201,1,other
3,11,42,32,42,7882,61,74,2,93,103,...,45,143,153,1,173,2,191,201,1,other
4,11,24,33,40,4870,61,73,3,93,101,...,53,143,153,2,173,2,191,201,2,other

In [18]:

all_att = data.columns.tolist()
print(len(all_att))
print(all_att)

22
['StatusExistingAcc', 'DurationMonth', 'CreditHistory', 'Purpose', 'CreditAmount', 'SavingsAccount', 'EmploymentLength', 'InstallmentRate', 'MarriedNSex', 'Debtors', 'ResidenceLength', 'Property', 'Age', 'InstallmentPlans', 'Housing', 'ExistingCredit', 'Job', 'NumPeopleLiable', 'Telephone', 'ForeignWorker', 'CreditEval', 'AgeBinary']

In [19]:
all_att.remove("DurationMonth")
all_att.remove("CreditAmount")

print(len(all_att))

20

In [20]:
ignore_atts = all_att

cur_data = data.copy()
norm_data = normalizeDataset(cur_data, ignore_atts)
# standarded_data = standardizeData(cur_data, ignore_atts)

norm_data.head(5)

,StatusExistingAcc,DurationMonth,CreditHistory,Purpose,CreditAmount,SavingsAccount,EmploymentLength,InstallmentRate,MarriedNSex,Debtors,...,Age,InstallmentPlans,Housing,ExistingCredit,Job,NumPeopleLiable,Telephone,ForeignWorker,CreditEval,AgeBinary
0,11,0.029412,34,43,0.050567,65,75,4,93,101,...,67,143,152,2,173,1,192,201,1,other
1,12,0.647059,32,43,0.313690,61,73,2,92,101,...,22,143,152,1,173,1,191,201,2,young
2,14,0.117647,34,46,0.101574,61,74,2,93,101,...,49,143,152,1,172,2,191,201,1,other
3,11,0.558824,32,42,0.419941,61,74,2,93,103,...,45,143,153,1,173,2,191,201,1,other
4,11,0.294118,33,40,0.254209,61,73,3,93,101,...,53,143,153,2,173,2,191,201,2,other

In [21]:
norm_data.head(20)

,StatusExistingAcc,DurationMonth,CreditHistory,Purpose,CreditAmount,SavingsAccount,EmploymentLength,InstallmentRate,MarriedNSex,Debtors,...,Age,InstallmentPlans,Housing,ExistingCredit,Job,NumPeopleLiable,Telephone,ForeignWorker,CreditEval,AgeBinary
0,11,0.029412,34,43,0.050567,65,75,4,93,101,...,67,143,152,2,173,1,192,201,1,other
1,12,0.647059,32,43,0.313690,61,73,2,92,101,...,22,143,152,1,173,1,191,201,2,young
2,14,0.117647,34,46,0.101574,61,74,2,93,101,...,49,143,152,1,172,2,191,201,1,other
3,11,0.558824,32,42,0.419941,61,74,2,93,103,...,45,143,153,1,173,2,191,201,1,other
4,11,0.294118,33,40,0.254209,61,73,3,93,101,...,53,143,153,2,173,2,191,201,2,other
5,14,0.470588,32,46,0.484483,65,73,2,93,101,...,35,143,153,1,172,2,192,201,1,other
6,14,0.294118,32,42,0.142236,63,75,3,93,101,...,53,143,152,1,173,1,191,201,1,other
7,12,0.470588,32,41,0.368548,61,73,2,93,101,...,35,143,151,1,174,1,192,201,1,other
8,14,0.117647,32,43,0.154561,64,74,2,91,101,...,61,143,152,1,172,1,191,201,1,other
9,12,0.382353,34,40,0.274238,61,71,4,94,101,...,28,143,152,2,174,1,191,201,2,other
10,12,0.117647,32,40,0.057500,61,72,3,92,101,...,25,143,151,1,173,1,191,201,2,young
11,11,0.647059,32,49,0.223286,61,72,3,92,101,...,24,143,151,1,173,1,191,201,2,young
12,12,0.117647,32,43,0.072466,61,73,1,92,101,...,22,143,152,1,173,1,192,201,1,young
13,11,0.294118,34,40,0.052217,61,75,4,93,101,...,60,143,152,2,172,1,191,201,2,other
14,11,0.161765,32,40,0.063442,61,73,2,92,101,...,28,143,151,1,173,1,191,201,1,other
15,11,0.294118,32,43,0.056784,62,73,4,92,101,...,32,143,152,1,172,1,191,201,2,other
16,14,0.294118,34,43,0.119621,65,75,4,93,101,...,53,143,152,2,173,1,191,201,1,other
17,11,0.382353,30,49,0.430395,65,72,2,93,101,...,25,141,152,3,173,1,191,201,1,young
18,12,0.294118,32,41,0.678387,61,75,4,92,101,...,44,143,153,1,174,1,192,201,2,other
19,14,0.294118,32,43,0.174975,63,75,3,93,101,...,31,143,152,1,173,2,192,201,1,other