In [1]:

import pandas as pd
from Algorithms import pattern_count

%load_ext autoreload
%autoreload 2

In [2]:


all_attributes = ['school_C', 'sex_C', 'age_C', 'address_C', 'famsize_C',
                  'Pstatus_C', 'Medu_C', 'Fedu_C', 'Mjob_C', 'Fjob_C',
                  'reason_C', 'guardian_C', 'traveltime_C', 'studytime_C', 'failures_C',
                  'schoolsup_C', 'famsup_C', 'paid_C', 'activities_C', 'nursery_C',
                  'higher_C', 'internet_C', 'romantic_C', 'famrel_C', 'freetime_C',
                  'goout_C', 'Dalc_C', 'Walc_C', 'health_C', 'absences_C',
                  'G1_C', 'G2_C', 'G3_C']

In [24]:

from Algorithms import NewAlgRanking_19_20211216 as newalg
from Algorithms import NaiveAlgRanking_4_20211213 as naivealg
selected_attributes = all_attributes[:4]

Thc_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
k_min = 10
k_max = 10

original_data_file = r"datasets/student-mat_cat_ranked.csv"

ranked_data = pd.read_csv(original_data_file)
ranked_data = ranked_data[selected_attributes]
time_limit = 10*60


List_k = list(range(k_min, k_max))

Thc = 50

Lowerbounds = [10] * 10


# Lowerbounds = [10] * 10 + [20] * 10 + [30] * 10 + [40] * 10

result1, num_patterns_visited1_, t1_ \
            = newalg.GraphTraverse(
            ranked_data, selected_attributes, Thc,
            Lowerbounds,
            k_min, k_max, time_limit)

print(len(result1[0]))

5

In [25]:

for r in result1[0]:
    print(r)

[0, -1, -1, -1]
[-1, 0, -1, -1]
[-1, 1, -1, -1]
[-1, -1, -1, 0]
[-1, -1, -1, 1]

In [26]:
from Algorithms import WholeProcess_0_20201211 as wholeprocess
from Algorithms import NewAlgRanking_definition2_13_20220509 as newalg



selected_attributes = all_attributes[:4]

k=50

alpha = 0.8


k_min = 10
k_max = 10

original_data_file = r"datasets/student-mat_cat_ranked.csv"


ranked_data = pd.read_csv(original_data_file)
ranked_data = ranked_data[selected_attributes]

time_limit = 10 * 60



result2, num_patterns_visited1_, t1_ \
            = newalg.GraphTraverse(
            ranked_data, selected_attributes, Thc,
            alpha,
            k_min, k_max, time_limit)


print(len(result2[0]))
print(result2)

time for k_min = 0.013398170471191406
finish kmin
2
[{'|1||', '|||1'}]

In [40]:
%load_ext autoreload
%autoreload 2

import os
import pandas as pd
from divexplorer.FP_DivergenceExplorer import FP_DivergenceExplorer
# from divexplorer.FP_DivergenceExplorer_original import FP_DivergenceExplorer


inputDir=os.path.join(".", "datasets")


df= pd.read_csv(os.path.join(inputDir, "student-mat_cat_ranked.csv"))
selected_attributes = all_attributes[:10] + ["truth", "prediction", "rank"]

df = df[selected_attributes]

class_map={'N': 0, 'P': 1}
df.head()

min_sup = 0.13
fp_diver = FP_DivergenceExplorer(df,"truth", "prediction", class_map=class_map)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [41]:

TopK = 10
FP_fm=fp_diver.getFrequentPatternDivergence(min_support=min_sup,
                                            TopK=TopK,
                                            metrics=["d_accuracy"])

/Users/jinyangli/opt/anaconda3/lib/python3.8/site-packages/divexplorer/FP_DivergenceExplorer.py:501: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  fp = fp.append(row_root, ignore_index=True)

In [42]:
print(len(FP_fm))
FP_fm[:5]

641

,support,itemsets,sum_rank,average_rank,fn,tp,avg_rank_computed,fp,rank,tn,length,support_count,accuracy,d_accuracy,t_value_tp_tn
0,1.000000,(),NaN,NaN,92,92,0.025316,105.0,78210.0,106.0,0,395.0,0.025316,0.000000,0.000000
1,0.926582,(age_C=0),1.0,0.002732,0,1,0.027322,NaN,NaN,NaN,1,366.0,0.027322,0.002006,0.697830
2,0.896203,(Pstatus_C=0),73.0,0.206215,1,1,0.019774,NaN,NaN,NaN,1,354.0,0.019774,-0.005542,0.005597
3,0.883544,(school_C=0),143.0,0.409742,0,3,0.025788,NaN,NaN,NaN,1,349.0,0.025788,0.000472,1.808232
4,0.832911,"(age_C=0, Pstatus_C=0)",1.0,0.003040,0,1,0.021277,NaN,NaN,NaN,2,329.0,0.021277,-0.004040,0.697830

In [44]:

FP_fm_sorted = FP_fm.reindex(FP_fm['d_accuracy'].abs().sort_values(ascending=False).index)
FP_fm_sorted

,support,itemsets,sum_rank,average_rank,fn,tp,avg_rank_computed,fp,rank,tn,length,support_count,accuracy,d_accuracy,t_value_tp_tn
542,0.141772,"(Medu_C=4, address_C=0, sex_C=0, school_C=0, a...",1.0,0.017857,0,1,0.089286,NaN,NaN,NaN,5,56.0,0.089286,0.063969,0.697830
519,0.146835,"(Medu_C=4, sex_C=0, age_C=0, address_C=0)",101.0,1.741379,0,2,0.086207,NaN,NaN,NaN,4,58.0,0.086207,0.060890,1.273866
517,0.146835,"(Medu_C=4, sex_C=0, address_C=0, school_C=0)",1.0,0.017241,0,1,0.086207,NaN,NaN,NaN,4,58.0,0.086207,0.060890,0.697830
480,0.151899,"(Medu_C=4, sex_C=0, address_C=0)",615.0,10.250000,0,3,0.083333,NaN,NaN,NaN,3,60.0,0.083333,0.058017,1.808232
432,0.162025,"(Medu_C=4, sex_C=0, age_C=0, school_C=0)",1.0,0.015625,0,1,0.078125,NaN,NaN,NaN,4,64.0,0.078125,0.052809,0.697830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,0.200000,"(age_C=0, Pstatus_C=0, Fedu_C=4)",6.0,0.075949,0,0,0.025316,NaN,NaN,NaN,3,79.0,0.025316,0.000000,0.004346
275,0.200000,"(school_C=0, age_C=0, Medu_C=3)",2.0,0.025316,0,1,0.025316,NaN,NaN,NaN,3,79.0,0.025316,0.000000,0.697830
274,0.200000,"(school_C=0, age_C=0, Pstatus_C=0, Fjob_C=2)",1.0,0.012658,0,1,0.025316,NaN,NaN,NaN,4,79.0,0.025316,0.000000,0.697830
55,0.400000,"(sex_C=0, age_C=0, Pstatus_C=0)",1.0,0.006329,0,1,0.025316,NaN,NaN,NaN,3,158.0,0.025316,0.000000,0.697830
0,1.000000,(),NaN,NaN,92,92,0.025316,105.0,78210.0,106.0,0,395.0,0.025316,0.000000,0.000000

In [45]:

FP_fm_sorted.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
FP_fm_sorted

,support,itemsets,sum_rank,average_rank,fn,tp,avg_rank_computed,fp,rank,tn,length,support_count,accuracy,d_accuracy,t_value_tp_tn
0,0.141772,"(Medu_C=4, address_C=0, sex_C=0, school_C=0, a...",1.0,0.017857,0,1,0.089286,NaN,NaN,NaN,5,56.0,0.089286,0.063969,0.697830
1,0.146835,"(Medu_C=4, sex_C=0, age_C=0, address_C=0)",101.0,1.741379,0,2,0.086207,NaN,NaN,NaN,4,58.0,0.086207,0.060890,1.273866
2,0.146835,"(Medu_C=4, sex_C=0, address_C=0, school_C=0)",1.0,0.017241,0,1,0.086207,NaN,NaN,NaN,4,58.0,0.086207,0.060890,0.697830
3,0.151899,"(Medu_C=4, sex_C=0, address_C=0)",615.0,10.250000,0,3,0.083333,NaN,NaN,NaN,3,60.0,0.083333,0.058017,1.808232
4,0.162025,"(Medu_C=4, sex_C=0, age_C=0, school_C=0)",1.0,0.015625,0,1,0.078125,NaN,NaN,NaN,4,64.0,0.078125,0.052809,0.697830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,0.200000,"(age_C=0, Pstatus_C=0, Fedu_C=4)",6.0,0.075949,0,0,0.025316,NaN,NaN,NaN,3,79.0,0.025316,0.000000,0.004346
637,0.200000,"(school_C=0, age_C=0, Medu_C=3)",2.0,0.025316,0,1,0.025316,NaN,NaN,NaN,3,79.0,0.025316,0.000000,0.697830
638,0.200000,"(school_C=0, age_C=0, Pstatus_C=0, Fjob_C=2)",1.0,0.012658,0,1,0.025316,NaN,NaN,NaN,4,79.0,0.025316,0.000000,0.697830
639,0.400000,"(sex_C=0, age_C=0, Pstatus_C=0)",1.0,0.006329,0,1,0.025316,NaN,NaN,NaN,3,158.0,0.025316,0.000000,0.697830
640,1.000000,(),NaN,NaN,92,92,0.025316,105.0,78210.0,106.0,0,395.0,0.025316,0.000000,0.000000

In [46]:

FP_fm_unfair = FP_fm_sorted[:TopK]
FP_fm_unfair

,support,itemsets,sum_rank,average_rank,fn,tp,avg_rank_computed,fp,rank,tn,length,support_count,accuracy,d_accuracy,t_value_tp_tn
0,0.141772,"(Medu_C=4, address_C=0, sex_C=0, school_C=0, a...",1.0,0.017857,0,1,0.089286,NaN,NaN,NaN,5,56.0,0.089286,0.063969,0.697830
1,0.146835,"(Medu_C=4, sex_C=0, age_C=0, address_C=0)",101.0,1.741379,0,2,0.086207,NaN,NaN,NaN,4,58.0,0.086207,0.060890,1.273866
2,0.146835,"(Medu_C=4, sex_C=0, address_C=0, school_C=0)",1.0,0.017241,0,1,0.086207,NaN,NaN,NaN,4,58.0,0.086207,0.060890,0.697830
3,0.151899,"(Medu_C=4, sex_C=0, address_C=0)",615.0,10.250000,0,3,0.083333,NaN,NaN,NaN,3,60.0,0.083333,0.058017,1.808232
4,0.162025,"(Medu_C=4, sex_C=0, age_C=0, school_C=0)",1.0,0.015625,0,1,0.078125,NaN,NaN,NaN,4,64.0,0.078125,0.052809,0.697830
5,0.131646,"(school_C=0, famsize_C=0, age_C=0, sex_C=0)",2.0,0.038462,0,1,0.076923,NaN,NaN,NaN,4,52.0,0.076923,0.051607,0.697830
6,0.131646,"(address_C=0, sex_C=0, Pstatus_C=0, Medu_C=4, ...",1.0,0.019231,0,1,0.076923,NaN,NaN,NaN,5,52.0,0.076923,0.051607,0.697830
7,0.167089,"(Medu_C=4, sex_C=0, school_C=0)",192.0,2.909091,0,2,0.075758,NaN,NaN,NaN,3,66.0,0.075758,0.050441,1.273866
8,0.134177,"(Medu_C=4, sex_C=0, Pstatus_C=0, address_C=0)",421.0,7.943396,0,2,0.075472,NaN,NaN,NaN,4,53.0,0.075472,0.050155,1.273866
9,0.134177,"(school_C=0, famsize_C=0, sex_C=0)",193.0,3.641509,0,2,0.075472,NaN,NaN,NaN,3,53.0,0.075472,0.050155,1.273866

In [47]:

for row in FP_fm_unfair.iterrows():
    print(row[1]['itemsets'])

frozenset({'Medu_C=4', 'address_C=0', 'sex_C=0', 'school_C=0', 'age_C=0'})
frozenset({'Medu_C=4', 'sex_C=0', 'age_C=0', 'address_C=0'})
frozenset({'Medu_C=4', 'sex_C=0', 'address_C=0', 'school_C=0'})
frozenset({'Medu_C=4', 'sex_C=0', 'address_C=0'})
frozenset({'Medu_C=4', 'sex_C=0', 'age_C=0', 'school_C=0'})
frozenset({'school_C=0', 'famsize_C=0', 'age_C=0', 'sex_C=0'})
frozenset({'address_C=0', 'sex_C=0', 'Pstatus_C=0', 'Medu_C=4', 'age_C=0'})
frozenset({'Medu_C=4', 'sex_C=0', 'school_C=0'})
frozenset({'Medu_C=4', 'sex_C=0', 'Pstatus_C=0', 'address_C=0'})
frozenset({'school_C=0', 'famsize_C=0', 'sex_C=0'})

In [48]:

FP_fm_sorted[FP_fm_sorted['itemsets'] == frozenset({'sex_C=0'})]

,support,itemsets,sum_rank,average_rank,fn,tp,avg_rank_computed,fp,rank,tn,length,support_count,accuracy,d_accuracy,t_value_tp_tn
294,0.473418,(sex_C=0),3372.0,18.032086,3,11,0.037433,NaN,NaN,NaN,1,187.0,0.037433,0.012117,2.30379

In [49]:

FP_fm_sorted[FP_fm_sorted['itemsets'] == frozenset({'school_C=0'})]

,support,itemsets,sum_rank,average_rank,fn,tp,avg_rank_computed,fp,rank,tn,length,support_count,accuracy,d_accuracy,t_value_tp_tn
628,0.883544,(school_C=0),143.0,0.409742,0,3,0.025788,NaN,NaN,NaN,1,349.0,0.025788,0.000472,1.808232

In [50]:

import time
import math
import numpy as np
import pandas as pd
from Algorithms import NaiveAlgRanking_definition2_5_20220506 as naiveranking
from Algorithms import pattern_count
from sortedcontainers import SortedDict
import cProfile
import pstats
import logging

selected_attributes = all_attributes[:4]

original_data_file = r"datasets/student-mat_cat_ranked.csv"


ranked_data = pd.read_csv(original_data_file)
ranked_data = ranked_data[selected_attributes]


pc_whole_data = pattern_count.PatternCounter(ranked_data, encoded=False)
pc_whole_data.parse_data()

patterns = [[0, -1, -1, -1],
[-1, 0, -1, -1],
[-1, 1, -1, -1],
[-1, -1, -1, 0],
[-1, -1, -1, 1]]


def num2string(pattern):
    st = ''
    for i in pattern:
        if i != -1:
            st += str(i)
        st += '|'
    st = st[:-1]
    return st



for p in patterns:
    st = num2string(p)
    whole_cardinality = pc_whole_data.pattern_count(st)
    print(st, whole_cardinality)

0||| 349
|0|| 187
|1|| 208
|||0 307
|||1 88