In [1]:
import pandas as pd
import numpy as np
import random

In [16]:
df = pd.read_csv(r"datasets/GermanCredit_ranked_w_classification.csv")
df[:4]

,StatusExistingAcc,CreditHistory,Purpose,SavingsAccount,EmploymentLength,InstallmentRate,MarriedNSex,Debtors,ResidenceLength,Property,...,ExistingCredit,Job,NumPeopleLiable,Telephone,ForeignWorker,CreditEval,DurationMonth_C,CreditAmount_C,Age_C,rank
0,12,33,0,62,75,2,93,101,4,123,...,4,174,1,192,201,2,2,3,2,1
1,11,34,9,61,75,4,93,101,4,123,...,4,174,2,192,201,1,2,2,2,2
2,11,34,0,61,75,1,92,101,4,121,...,3,173,1,192,201,2,1,2,1,3
3,12,34,2,61,75,1,93,101,4,123,...,3,173,1,192,201,1,1,2,1,4

In [17]:
df['prediction'] = df.apply(lambda x: bool(random.getrandbits(1)), axis=1)

df[:20]

,StatusExistingAcc,CreditHistory,Purpose,SavingsAccount,EmploymentLength,InstallmentRate,MarriedNSex,Debtors,ResidenceLength,Property,...,Job,NumPeopleLiable,Telephone,ForeignWorker,CreditEval,DurationMonth_C,CreditAmount_C,Age_C,rank,prediction
0,12,33,0,62,75,2,93,101,4,123,...,174,1,192,201,2,2,3,2,1,True
1,11,34,9,61,75,4,93,101,4,123,...,174,2,192,201,1,2,2,2,2,True
2,11,34,0,61,75,1,92,101,4,121,...,173,1,192,201,2,1,2,1,3,True
3,12,34,2,61,75,1,93,101,4,123,...,173,1,192,201,1,1,2,1,4,True
4,11,34,0,61,75,2,93,101,4,124,...,174,1,192,201,1,1,3,2,5,False
5,11,33,9,61,75,3,93,101,4,124,...,173,1,192,201,2,3,3,3,6,True
6,14,34,3,65,75,4,93,101,4,121,...,173,1,191,201,1,1,1,3,7,True
7,11,30,1,61,75,3,93,101,4,124,...,173,2,191,201,2,2,3,1,8,False
8,14,32,5,65,75,4,93,101,4,122,...,173,2,192,201,1,2,3,2,9,False
9,11,34,2,61,75,1,92,101,4,122,...,173,1,191,201,1,1,3,1,10,True
10,11,34,0,61,75,1,92,101,4,124,...,173,1,192,201,1,1,1,2,11,True
11,12,34,3,61,75,2,93,101,4,121,...,172,1,191,201,1,1,1,2,12,False
12,14,34,1,65,75,1,93,101,4,123,...,173,1,191,201,1,2,3,3,13,False
13,14,32,0,61,75,2,93,101,4,122,...,174,1,192,201,1,3,3,2,14,True
14,13,34,0,61,75,1,93,101,4,121,...,173,2,191,202,1,1,1,2,15,False
15,14,34,1,61,75,1,93,101,4,123,...,174,1,192,201,1,1,2,2,16,False
16,14,32,3,62,75,2,93,101,4,123,...,173,1,191,201,2,1,2,1,17,False
17,14,34,6,61,75,2,92,101,4,124,...,172,1,191,201,1,1,2,3,18,True
18,11,34,1,61,75,2,92,101,4,124,...,174,2,192,201,1,1,3,2,19,True
19,11,34,3,64,75,4,92,101,4,122,...,174,1,192,201,1,1,1,3,20,False

In [18]:
df['truth'] = df.apply(lambda x: bool(random.getrandbits(1)), axis=1)

df[:20]

,StatusExistingAcc,CreditHistory,Purpose,SavingsAccount,EmploymentLength,InstallmentRate,MarriedNSex,Debtors,ResidenceLength,Property,...,NumPeopleLiable,Telephone,ForeignWorker,CreditEval,DurationMonth_C,CreditAmount_C,Age_C,rank,prediction,truth
0,12,33,0,62,75,2,93,101,4,123,...,1,192,201,2,2,3,2,1,True,False
1,11,34,9,61,75,4,93,101,4,123,...,2,192,201,1,2,2,2,2,True,True
2,11,34,0,61,75,1,92,101,4,121,...,1,192,201,2,1,2,1,3,True,False
3,12,34,2,61,75,1,93,101,4,123,...,1,192,201,1,1,2,1,4,True,False
4,11,34,0,61,75,2,93,101,4,124,...,1,192,201,1,1,3,2,5,False,True
5,11,33,9,61,75,3,93,101,4,124,...,1,192,201,2,3,3,3,6,True,True
6,14,34,3,65,75,4,93,101,4,121,...,1,191,201,1,1,1,3,7,True,False
7,11,30,1,61,75,3,93,101,4,124,...,2,191,201,2,2,3,1,8,False,True
8,14,32,5,65,75,4,93,101,4,122,...,2,192,201,1,2,3,2,9,False,True
9,11,34,2,61,75,1,92,101,4,122,...,1,191,201,1,1,3,1,10,True,False
10,11,34,0,61,75,1,92,101,4,124,...,1,192,201,1,1,1,2,11,True,False
11,12,34,3,61,75,2,93,101,4,121,...,1,191,201,1,1,1,2,12,False,False
12,14,34,1,65,75,1,93,101,4,123,...,1,191,201,1,2,3,3,13,False,True
13,14,32,0,61,75,2,93,101,4,122,...,1,192,201,1,3,3,2,14,True,True
14,13,34,0,61,75,1,93,101,4,121,...,2,191,202,1,1,1,2,15,False,True
15,14,34,1,61,75,1,93,101,4,123,...,1,192,201,1,1,2,2,16,False,True
16,14,32,3,62,75,2,93,101,4,123,...,1,191,201,2,1,2,1,17,False,True
17,14,34,6,61,75,2,92,101,4,124,...,1,191,201,1,1,2,3,18,True,False
18,11,34,1,61,75,2,92,101,4,124,...,2,192,201,1,1,3,2,19,True,False
19,11,34,3,64,75,4,92,101,4,122,...,1,192,201,1,1,1,3,20,False,True

In [19]:

df.to_csv(r"datasets/GermanCredit_ranked_w_classification.csv", index=False)


# analysis of data

In [21]:

df = pd.read_csv(r"datasets/GermanCredit_ranked_w_classification.csv")
df[:4]

,StatusExistingAcc,CreditHistory,Purpose,SavingsAccount,EmploymentLength,InstallmentRate,MarriedNSex,Debtors,ResidenceLength,Property,...,NumPeopleLiable,Telephone,ForeignWorker,CreditEval,DurationMonth_C,CreditAmount_C,Age_C,rank,prediction,truth
0,12,33,0,62,75,2,93,101,4,123,...,1,192,201,2,2,3,2,1,True,False
1,11,34,9,61,75,4,93,101,4,123,...,2,192,201,1,2,2,2,2,True,True
2,11,34,0,61,75,1,92,101,4,121,...,1,192,201,2,1,2,1,3,True,False
3,12,34,2,61,75,1,93,101,4,123,...,1,192,201,1,1,2,1,4,True,False

In [24]:

df_selected = df[df['Debtors'] == 101]

print(len(df_selected))

907

In [6]:

import os
import pandas as pd
from divexplorer.FP_DivergenceExplorer import FP_DivergenceExplorer
# from divexplorer.FP_DivergenceExplorer_original import FP_DivergenceExplorer


inputDir=os.path.join(".", "datasets")


df= pd.read_csv(os.path.join(inputDir, "GermanCredit_ranked_w_classification.csv"))

# df= pd.read_csv(os.path.join(inputDir, "compas_discretized.csv"))

class_map={'N': 0, 'P': 1}
df.head()

min_sup = 0.05
fp_diver = FP_DivergenceExplorer(df,"truth", "prediction", class_map=class_map)

In [7]:

FP_fm=fp_diver.getFrequentPatternDivergence(min_support=min_sup,
                                            metrics=["d_accuracy"])

/Users/jinyangli/opt/anaconda3/lib/python3.8/site-packages/divexplorer/FP_DivergenceExplorer.py:498: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  fp = fp.append(row_root, ignore_index=True)

In [8]:
print(len(FP_fm))
FP_fm[:5]

158316

,support,itemsets,sum_rank,average_rank,fn,tp,avg_rank_computed,fp,rank,tn,length,support_count,accuracy,d_accuracy,t_value_tp_tn
0,1.000,(),NaN,NaN,263,247,500.500000,248.0,500500.0,242.0,0,1000.0,500.500000,0.000000,0.000000
1,0.963,(ForeignWorker=201),1.0,0.001038,0,0,496.466251,NaN,NaN,NaN,1,963.0,496.466251,-4.033749,0.037972
2,0.907,(Debtors=101),16.0,0.017641,1,0,497.790518,NaN,NaN,NaN,1,907.0,497.790518,-2.709482,0.659055
3,0.880,"(Debtors=101, ForeignWorker=201)",1.0,0.001136,0,0,494.119318,NaN,NaN,NaN,2,880.0,494.119318,-6.380682,0.037972
4,0.845,(NumPeopleLiable=1),381.0,0.450888,0,2,513.189349,NaN,NaN,NaN,1,845.0,513.189349,12.689349,1.343230

In [13]:


FP_fm_unfair = FP_fm[FP_fm["d_accuracy"].abs() > 420]

print(len(FP_fm_unfair))
FP_fm_unfair

13

,support,itemsets,sum_rank,average_rank,fn,tp,avg_rank_computed,fp,rank,tn,length,support_count,accuracy,d_accuracy,t_value_tp_tn
76416,0.066,"(EmploymentLength=75, ResidenceLength=4, Exist...",2600.0,39.393939,11,13,74.075758,NaN,NaN,NaN,3,66.0,74.075758,-426.424242,0.508483
88687,0.063,"(EmploymentLength=75, ResidenceLength=4, Forei...",6.0,0.095238,0,1,74.571429,NaN,NaN,NaN,4,63.0,74.571429,-425.928571,0.751998
94034,0.061,"(EmploymentLength=75, ResidenceLength=4, Debto...",21.0,0.344262,1,1,72.475410,NaN,NaN,NaN,4,61.0,72.475410,-428.024590,0.048973
104935,0.059,"(Debtors=101, ForeignWorker=201, ExistingCredi...",6.0,0.101695,0,1,72.881356,NaN,NaN,NaN,5,59.0,72.881356,-427.618644,0.751998
120175,0.056,"(EmploymentLength=75, ResidenceLength=4, Insta...",182.0,3.250000,2,2,76.892857,NaN,NaN,NaN,4,56.0,76.892857,-423.607143,0.057889
128381,0.054,"(ResidenceLength=1, EmploymentLength=72)",44504.0,824.148148,16,15,931.925926,NaN,NaN,NaN,2,54.0,931.925926,431.425926,0.047888
133304,0.053,"(ResidenceLength=1, DurationMonth_C=1, NumPeop...",1595.0,30.094340,1,1,921.698113,NaN,NaN,NaN,5,53.0,921.698113,421.198113,0.048973
133767,0.053,"(ResidenceLength=1, EmploymentLength=72, Forei...",635.0,11.981132,0,0,931.000000,NaN,NaN,NaN,3,53.0,931.000000,430.500000,0.037972
134422,0.053,"(ForeignWorker=201, ExistingCredit=2, Installm...",6.0,0.113208,0,1,77.641509,NaN,NaN,NaN,5,53.0,77.641509,-422.858491,0.751998
142490,0.052,"(ForeignWorker=201, ExistingCredit=2, NumPeopl...",6.0,0.115385,0,1,77.365385,NaN,NaN,NaN,5,52.0,77.365385,-423.134615,0.751998
142491,0.052,"(Debtors=101, ExistingCredit=2, InstallmentPla...",21.0,0.403846,1,1,75.269231,NaN,NaN,NaN,5,52.0,75.269231,-425.230769,0.048973
142559,0.052,"(EmploymentLength=75, ResidenceLength=4, NumPe...",194.0,3.730769,0,2,77.365385,NaN,NaN,NaN,4,52.0,77.365385,-423.134615,1.343230
151401,0.050,"(Debtors=101, ForeignWorker=201, ExistingCredi...",6.0,0.120000,0,1,75.860000,NaN,NaN,NaN,6,50.0,75.860000,-424.640000,0.751998

In [58]:
for row in FP_fm_unfair.iterrows():
    print(row[1]['itemsets'])

frozenset({'DurationMonth_C=1'})
frozenset({'ForeignWorker=201', 'DurationMonth_C=1'})
frozenset({'Housing=152'})
frozenset({'Debtors=101', 'DurationMonth_C=1'})
frozenset({'ForeignWorker=201', 'Housing=152'})
frozenset({'Debtors=101', 'ForeignWorker=201', 'DurationMonth_C=1'})
frozenset({'NumPeopleLiable=1', 'DurationMonth_C=1'})
frozenset({'Debtors=101', 'Housing=152'})
frozenset({'ExistingCredit=1'})
frozenset({'InstallmentPlans=143', 'DurationMonth_C=1'})
frozenset({'Job=173'})
frozenset({'NumPeopleLiable=1', 'ForeignWorker=201', 'DurationMonth_C=1'})
frozenset({'Debtors=101', 'ForeignWorker=201', 'Housing=152'})
frozenset({'CreditEval=1', 'ForeignWorker=201', 'Debtors=101'})
frozenset({'Job=173', 'ForeignWorker=201'})
frozenset({'ExistingCredit=1', 'ForeignWorker=201'})
frozenset({'NumPeopleLiable=1', 'Housing=152'})
frozenset({'SavingsAccount=61'})

In [ ]:



import os
import pandas as pd
from divexplorer.FP_DivergenceExplorer import FP_DivergenceExplorer
# from divexplorer.FP_DivergenceExplorer_original import FP_DivergenceExplorer


inputDir=os.path.join(".", "datasets")


df= pd.read_csv(os.path.join(inputDir, "student-mat_cat_ranked.csv"))

# df= pd.read_csv(os.path.join(inputDir, "compas_discretized.csv"))

class_map={'N': 0, 'P': 1}
df.head()

min_sup = 0.6
fp_diver = FP_DivergenceExplorer(df,"truth", "prediction", class_map=class_map)


# student dataset

In [18]:
df = pd.read_csv(r'datasets/student-mat_cat_ranked.csv')
df[:4]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Dalc_C,Walc_C,health_C,absences_C,G1_C,G2_C,G3_C,rank,truth,prediction
0,GP,M,16,U,GT3,T,4,3,health,services,...,1,1,2,0,3,3,3,1,True,True
1,GP,M,15,U,LE3,A,3,2,services,other,...,1,1,1,0,3,3,3,2,True,True
2,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,1,1,4,0,3,3,3,3,False,True
3,GP,M,15,U,LE3,T,4,2,teacher,other,...,1,1,3,0,3,3,3,4,False,True

In [5]:
df['truth'] = df.apply(lambda x: bool(random.getrandbits(1)), axis=1)
df[:4]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout_C,Dalc_C,Walc_C,health_C,absences_C,G1_C,G2_C,G3_C,rank,truth
0,GP,M,16,U,GT3,T,4,3,health,services,...,2,1,1,2,0,3,3,3,1.0,True
1,GP,M,15,U,LE3,A,3,2,services,other,...,2,1,1,1,0,3,3,3,2.0,True
2,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,3,1,1,4,0,3,3,3,3.0,False
3,GP,M,15,U,LE3,T,4,2,teacher,other,...,2,1,1,3,0,3,3,3,4.0,False

In [6]:
df['prediction'] = df.apply(lambda x: bool(random.getrandbits(1)), axis=1)
df[:4]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Dalc_C,Walc_C,health_C,absences_C,G1_C,G2_C,G3_C,rank,truth,prediction
0,GP,M,16,U,GT3,T,4,3,health,services,...,1,1,2,0,3,3,3,1.0,True,True
1,GP,M,15,U,LE3,A,3,2,services,other,...,1,1,1,0,3,3,3,2.0,True,True
2,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,1,1,4,0,3,3,3,3.0,False,True
3,GP,M,15,U,LE3,T,4,2,teacher,other,...,1,1,3,0,3,3,3,4.0,False,True

In [17]:
df.to_csv(r'datasets/student-mat_cat_ranked.csv', index=False)

In [16]:
df["rank"] = df["rank"].astype(int)
#
df[:4]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Dalc_C,Walc_C,health_C,absences_C,G1_C,G2_C,G3_C,rank,truth,prediction
0,GP,M,16,U,GT3,T,4,3,health,services,...,1,1,2,0,3,3,3,1,True,True
1,GP,M,15,U,LE3,A,3,2,services,other,...,1,1,1,0,3,3,3,2,True,True
2,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,1,1,4,0,3,3,3,3,False,True
3,GP,M,15,U,LE3,T,4,2,teacher,other,...,1,1,3,0,3,3,3,4,False,True

In [19]:


import os
import pandas as pd
from divexplorer.FP_DivergenceExplorer import FP_DivergenceExplorer
# from divexplorer.FP_DivergenceExplorer_original import FP_DivergenceExplorer


inputDir=os.path.join(".", "datasets")


df= pd.read_csv(os.path.join(inputDir, "student-mat_cat_ranked.csv"))

# df= pd.read_csv(os.path.join(inputDir, "compas_discretized.csv"))

class_map={'N': 0, 'P': 1}
df.head()

min_sup = 0.05
fp_diver = FP_DivergenceExplorer(df,"truth", "prediction", class_map=class_map)

In [ ]:


FP_fm=fp_diver.getFrequentPatternDivergence(min_support=min_sup,
                                            metrics=["d_accuracy"])

In [ ]:
print(len(FP_fm))
FP_fm[:5]

In [ ]:



FP_fm_unfair = FP_fm[FP_fm["d_accuracy"].abs() > 420]

print(len(FP_fm_unfair))
FP_fm_unfair