In [1]:

import pandas as pd
import numpy as np

In [3]:


# German credit
data_all_att = pd.read_csv("RankingFacts/GermanCredit_age25.csv")
data_all_att.head(5)

,StatusExistingAcc,DurationMonth,CreditHistory,Purpose,CreditAmount,SavingsAccount,EmploymentLength,InstallmentRate,MarriedNSex,Debtors,...,Age,InstallmentPlans,Housing,ExistingCredit,Job,NumPeopleLiable,Telephone,ForeignWorker,CreditEval,AgeBinary
0,11,6,34,43,1169,65,75,4,93,101,...,67,143,152,2,173,1,192,201,1,other
1,12,48,32,43,5951,61,73,2,92,101,...,22,143,152,1,173,1,191,201,2,young
2,14,12,34,46,2096,61,74,2,93,101,...,49,143,152,1,172,2,191,201,1,other
3,11,42,32,42,7882,61,74,2,93,103,...,45,143,153,1,173,2,191,201,1,other
4,11,24,33,40,4870,61,73,3,93,101,...,53,143,153,2,173,2,191,201,2,other

In [4]:

data_score = pd.read_csv(r"FairRank/GermanCredit_age25.csv")
data_score.head(5)

   DurationMonth  CreditAmount     score  age25
0       0.029412      0.949433  0.600715      0
1       0.647059      0.686310  0.496131      1
2       0.117647      0.898426  0.506866      0
3       0.558824      0.580059  0.599482      0
4       0.294118      0.745791  0.550060      0

In [5]:

data_merged = pd.merge(data_all_att, data_score, left_index=True, right_index=True)

data_merged.head(5)

,StatusExistingAcc,DurationMonth_x,CreditHistory,Purpose,CreditAmount_x,SavingsAccount,EmploymentLength,InstallmentRate,MarriedNSex,Debtors,...,Job,NumPeopleLiable,Telephone,ForeignWorker,CreditEval,AgeBinary,DurationMonth_y,CreditAmount_y,score,age25
0,11,6,34,43,1169,65,75,4,93,101,...,173,1,192,201,1,other,0.029412,0.949433,0.600715,0
1,12,48,32,43,5951,61,73,2,92,101,...,173,1,191,201,2,young,0.647059,0.686310,0.496131,1
2,14,12,34,46,2096,61,74,2,93,101,...,172,2,191,201,1,other,0.117647,0.898426,0.506866,0
3,11,42,32,42,7882,61,74,2,93,103,...,173,2,191,201,1,other,0.558824,0.580059,0.599482,0
4,11,24,33,40,4870,61,73,3,93,101,...,173,2,191,201,2,other,0.294118,0.745791,0.550060,0

In [6]:
len(data_merged)

1000

In [7]:

data_merged.describe()

,StatusExistingAcc,DurationMonth_x,CreditHistory,Purpose,CreditAmount_x,SavingsAccount,EmploymentLength,InstallmentRate,MarriedNSex,Debtors,...,ExistingCredit,Job,NumPeopleLiable,Telephone,ForeignWorker,CreditEval,DurationMonth_y,CreditAmount_y,score,age25
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,12.577000,20.903000,32.54500,47.148000,3271.258000,62.105000,73.384000,2.973000,92.68200,101.145000,...,1.407000,172.904000,1.155000,191.404000,201.037000,1.300000,0.248574,0.833759,0.493116,0.149000
std,1.257638,12.058814,1.08312,40.095333,2822.736876,1.580023,1.208306,1.118715,0.70808,0.477706,...,0.577654,0.653614,0.362086,0.490943,0.188856,0.458487,0.177336,0.155317,0.097706,0.356267
min,11.000000,4.000000,30.00000,40.000000,250.000000,61.000000,71.000000,1.000000,91.00000,101.000000,...,1.000000,171.000000,1.000000,191.000000,201.000000,1.000000,0.000000,0.000000,0.184614,0.000000
25%,11.000000,12.000000,32.00000,41.000000,1365.500000,61.000000,73.000000,2.000000,92.00000,101.000000,...,1.000000,173.000000,1.000000,191.000000,201.000000,1.000000,0.117647,0.795188,0.424975,0.000000
50%,12.000000,18.000000,32.00000,42.000000,2319.500000,61.000000,73.000000,3.000000,93.00000,101.000000,...,1.000000,173.000000,1.000000,191.000000,201.000000,1.000000,0.205882,0.886129,0.491771,0.000000
75%,14.000000,24.000000,34.00000,43.000000,3972.250000,63.000000,75.000000,4.000000,93.00000,101.000000,...,2.000000,173.000000,1.000000,192.000000,201.000000,2.000000,0.294118,0.938621,0.565130,0.000000
max,14.000000,72.000000,34.00000,410.000000,18424.000000,65.000000,75.000000,4.000000,94.00000,103.000000,...,4.000000,174.000000,2.000000,192.000000,202.000000,2.000000,1.000000,1.000000,0.790280,1.000000

In [ ]:
data_merged.columns

In [9]:

data_merged.to_csv(r"GermanCredit_without_cate.csv", index=False)

## categorize

In [10]:
def cate(x):
    if x < 25:
        return 1
    elif x < 50:
        return 2
    else:
        return 3

data_merged['DurationMonth_C'] = data_merged['DurationMonth_x'].apply(cate)

In [11]:
def cate(x):
    if x < 2000:
        return 1
    elif x < 4000:
        return 2
    else:
        return 3

data_merged['CreditAmount_C'] = data_merged['CreditAmount_x'].apply(cate)

In [12]:
def cate(x):
    if x < 35:
        return 1
    elif x < 50:
        return 2
    else:
        return 3

data_merged['Age_C'] = data_merged['Age'].apply(cate)

In [13]:
def cate(x):
    if x == 410:
        return 10
    else:
        return x - 40

data_merged['Purpose'] = data_merged['Purpose'].apply(cate)

In [14]:

data_merged.dtypes

StatusExistingAcc      int64
DurationMonth_x        int64
CreditHistory          int64
Purpose                int64
CreditAmount_x         int64
SavingsAccount         int64
EmploymentLength       int64
InstallmentRate        int64
MarriedNSex            int64
Debtors                int64
ResidenceLength        int64
Property               int64
Age                    int64
InstallmentPlans       int64
Housing                int64
ExistingCredit         int64
Job                    int64
NumPeopleLiable        int64
Telephone              int64
ForeignWorker          int64
CreditEval             int64
AgeBinary             object
DurationMonth_y      float64
CreditAmount_y       float64
score                float64
age25                  int64
DurationMonth_C        int64
CreditAmount_C         int64
Age_C                  int64
dtype: object

In [15]:

data_merged.to_csv(r"GermanCredit_age25_cate.csv", index=False)

In [18]:

data_merged['rank'] = data_merged['score'].rank(method='first', ascending=False).astype(int)

In [19]:
data_merged[:6]

,StatusExistingAcc,DurationMonth_x,CreditHistory,Purpose,CreditAmount_x,SavingsAccount,EmploymentLength,InstallmentRate,MarriedNSex,Debtors,...,CreditEval,AgeBinary,DurationMonth_y,CreditAmount_y,score,age25,DurationMonth_C,CreditAmount_C,Age_C,rank
0,11,6,34,3,1169,65,75,4,93,101,...,1,other,0.029412,0.949433,0.600715,0,1,1,3,149
1,12,48,32,3,5951,61,73,2,92,101,...,2,young,0.647059,0.686310,0.496131,1,2,3,1,486
2,14,12,34,6,2096,61,74,2,93,101,...,1,other,0.117647,0.898426,0.506866,0,1,2,2,452
3,11,42,32,2,7882,61,74,2,93,103,...,1,other,0.558824,0.580059,0.599482,0,2,3,2,152
4,11,24,33,0,4870,61,73,3,93,101,...,2,other,0.294118,0.745791,0.550060,0,1,3,3,303
5,14,36,32,6,9055,65,73,2,93,101,...,1,other,0.470588,0.515517,0.501291,0,2,3,2,468

In [21]:
data_merged.sort_values(by=['rank'], inplace=True)
data_merged[:10]

,StatusExistingAcc,DurationMonth_x,CreditHistory,Purpose,CreditAmount_x,SavingsAccount,EmploymentLength,InstallmentRate,MarriedNSex,Debtors,...,CreditEval,AgeBinary,DurationMonth_y,CreditAmount_y,score,age25,DurationMonth_C,CreditAmount_C,Age_C,rank
653,12,36,33,0,8086,62,75,2,93,101,...,2,other,0.470588,0.568835,0.790280,0,2,3,2,1
890,11,27,34,9,2442,61,75,4,93,101,...,1,other,0.338235,0.879388,0.761418,0,2,2,2,2
826,11,18,34,0,3966,61,75,1,92,101,...,2,other,0.205882,0.795532,0.744449,0,1,2,1,3
768,12,12,34,2,3617,61,75,1,93,101,...,1,other,0.117647,0.814735,0.731606,0,1,2,1,4
262,11,18,34,0,5302,61,75,2,93,101,...,1,other,0.205882,0.722020,0.723021,0,1,3,2,5
29,11,60,33,9,6836,61,75,3,93,101,...,2,other,0.823529,0.637614,0.721453,0,3,3,3,6
807,14,12,34,3,930,65,75,4,93,101,...,1,other,0.117647,0.962584,0.712601,0,1,1,3,7
242,11,48,30,1,4605,61,75,3,93,101,...,2,young,0.647059,0.760372,0.711460,1,2,3,1,8
65,14,27,32,5,5190,65,75,4,93,101,...,1,other,0.338235,0.728183,0.710031,0,2,3,2,9
802,11,20,34,2,4272,61,75,1,92,101,...,1,young,0.235294,0.778695,0.700277,1,1,3,1,10

In [28]:
data_merged.to_csv(r"GermanCredit_allatt_ranked.csv", index=False)

In [29]:
data_merged.to_csv(r"GermanCredit_allatt_ranked_w_index.csv")

In [27]:
data_merged.columns

Index(['StatusExistingAcc', 'DurationMonth_x', 'CreditHistory', 'Purpose',
       'CreditAmount_x', 'SavingsAccount', 'EmploymentLength',
       'InstallmentRate', 'MarriedNSex', 'Debtors', 'ResidenceLength',
       'Property', 'Age', 'InstallmentPlans', 'Housing', 'ExistingCredit',
       'Job', 'NumPeopleLiable', 'Telephone', 'ForeignWorker', 'CreditEval',
       'AgeBinary', 'DurationMonth_y', 'CreditAmount_y', 'score', 'age25',
       'DurationMonth_C', 'CreditAmount_C', 'Age_C', 'rank'],
      dtype='object')

In [30]:
all_att = ['StatusExistingAcc', 'DurationMonth_x', 'CreditHistory', 'Purpose',
       'CreditAmount_x', 'SavingsAccount', 'EmploymentLength',
       'InstallmentRate', 'MarriedNSex', 'Debtors', 'ResidenceLength',
       'Property', 'Age', 'InstallmentPlans', 'Housing', 'ExistingCredit',
       'Job', 'NumPeopleLiable', 'Telephone', 'ForeignWorker', 'CreditEval',
       'AgeBinary', 'DurationMonth_y', 'CreditAmount_y', 'score', 'age25',
       'DurationMonth_C', 'CreditAmount_C', 'Age_C', 'rank']

In [32]:
necessary_att = ['StatusExistingAcc', 'CreditHistory', 'Purpose', 'SavingsAccount', 'EmploymentLength', 'InstallmentRate', 'MarriedNSex', 'Debtors', 'ResidenceLength',
       'Property', 'InstallmentPlans', 'Housing', 'ExistingCredit',
       'Job', 'NumPeopleLiable', 'Telephone', 'ForeignWorker', 'CreditEval',
       'DurationMonth_C', 'CreditAmount_C', 'Age_C', 'rank']

In [33]:
data_merged[necessary_att].to_csv(r"GermanCredit_ranked.csv", index=False)