This is to preprocess compasa data for ranking experiments.

In [ ]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:

compas_data = pd.read_csv("../../InputData/CompasData/RecidivismData_Original-categorized.csv")
print(len(compas_data))
compas_data[:4]

In [ ]:
compas_data = compas_data.drop('ageC', axis=1)
compas_data = compas_data.drop('sexC', axis=1)
compas_data = compas_data.drop('raceC', axis=1)
compas_data = compas_data.drop('MC', axis=1)
compas_data[:4]

In [ ]:
compas_data.to_csv(r"../../InputData/CompasData/CompasData_original_classified_col_cropped.csv")

In [ ]:
compas_data.describe()

In [ ]:
compas_data['age_binary'] = [0]*6889
compas_data['age_bucketized'] = [0]*6889
compas_data['sex_binary'] = [0]*6889
compas_data['race_C'] = [0]*6889

In [ ]:
compas_data[:4]

### age, sex, race

In [ ]:

def age_binary(x):
    if x <= 35:
        return 0
    else:
        return 1


print(compas_data['age_binary'])
compas_data['age_binary'] = compas_data['age'].map(lambda x: age_binary(x))
print(compas_data['age_binary'])

In [ ]:

def age_bucketized(x):
    if x <= 30:
        return 0
    elif x <= 40:
        return 1
    else:
        return 2


print(compas_data['age_bucketized'])
compas_data['age_bucketized'] = compas_data['age'].map(lambda x: age_binary(x))
print(compas_data['age_bucketized'])

In [ ]:
compas_data_ageok = compas_data.copy()

In [ ]:

def sex(x):
    if x == "Male":
        return 0
    else:
        return 1


print(compas_data_ageok['sex_binary'])
compas_data_ageok['sex_binary'] = compas_data_ageok['sex'].map(lambda x: sex(x))
print(compas_data_ageok['sex_binary'])

In [ ]:

def race(x):
    if x == "African-American":
        return 0
    elif x == "Caucasian":
        return 1
    else:
        return 2


print(compas_data_ageok['race_C'])
compas_data_ageok['race_C'] = compas_data_ageok['race'].map(lambda x: race(x))
print(compas_data_ageok['race_C'])

In [22]:
# printout

compas_data_ageok.to_csv(r"../../InputData/CompasData/ForRanking/CompasData_original_classified.csv", index=False)

In [78]:
compas_data = pd.read_csv(r"../../InputData/CompasData/ForRanking/CompasData_original_classified.csv", index_col=0)

compas_describe = compas_data.describe()

In [79]:
compas_describe

,age,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_days_from_compas,is_recid,is_violent_recid,...,start,end,event,two_year_recid,Violence_score,Recidivism_score,age_binary,age_bucketized,sex_binary,race_C
count,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6595.000000,6868.000000,6889.000000,6889.000000,...,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000
mean,34.869792,0.068225,4.507621,0.090289,0.111047,3.466686,2.206065,57.663221,0.479895,0.112353,...,11.567281,554.479315,0.382204,0.450428,-2.368951,-0.693594,0.385978,0.385978,0.192771,0.635070
std,11.924183,0.480444,2.855803,0.484343,0.508643,4.881592,71.840165,331.867889,0.499632,0.315823,...,47.454454,399.199550,0.485961,0.497573,0.871101,0.843544,0.486861,0.486861,0.394503,0.725407
min,18.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-414.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-4.630000,-3.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,0.000000,2.000000,0.000000,0.000000,0.000000,-1.000000,1.000000,0.000000,0.000000,...,0.000000,149.000000,0.000000,0.000000,-2.990000,-1.280000,0.000000,0.000000,0.000000,0.000000
50%,31.000000,0.000000,4.000000,0.000000,0.000000,2.000000,-1.000000,1.000000,0.000000,0.000000,...,0.000000,532.000000,0.000000,0.000000,-2.330000,-0.640000,0.000000,0.000000,0.000000,0.000000
75%,43.000000,0.000000,7.000000,0.000000,0.000000,5.000000,-1.000000,2.000000,1.000000,0.000000,...,2.000000,914.000000,1.000000,1.000000,-1.740000,-0.080000,1.000000,1.000000,0.000000,1.000000
max,83.000000,20.000000,10.000000,13.000000,17.000000,38.000000,1057.000000,9485.000000,1.000000,1.000000,...,937.000000,1186.000000,1.000000,1.000000,0.930000,1.690000,1.000000,1.000000,1.000000,2.000000

In [80]:
c_days_from_compas_max = compas_describe['c_days_from_compas']['max']
c_days_from_compas_min = compas_describe['c_days_from_compas']['min']

juv_other_count_max = compas_describe['juv_other_count']['max']
juv_other_count_min = compas_describe['juv_other_count']['min']

days_b_screening_arrest_max = compas_describe['days_b_screening_arrest']['max']
days_b_screening_arrest_min = compas_describe['days_b_screening_arrest']['min']

start_max = compas_describe['start']['max']
start_min = compas_describe['start']['min']

end_max = compas_describe['end']['max']
end_min = compas_describe['end']['min']

age_max = compas_describe['age']['max']
age_min = compas_describe['age']['min']

priors_count_max = compas_describe['priors_count']['max']
priors_count_min = compas_describe['priors_count']['min']

In [81]:

def c_days_from_compas(x):
    return (x-c_days_from_compas_min)/(c_days_from_compas_max - c_days_from_compas_min)


print(compas_data['c_days_from_compas'])
compas_data['c_days_from_compas'] = compas_data['c_days_from_compas'].map(lambda x: c_days_from_compas(x))
print(compas_data['c_days_from_compas'])

name
miguel hernandez        1.0
kevon dixon             1.0
ed philo                1.0
marcu brown             1.0
bouthy pierrelouis     76.0
                       ...
steven butler           1.0
malcolm simmons         1.0
winston gregory         1.0
farrah jean             1.0
florencia sanmartin     2.0
Name: c_days_from_compas, Length: 6889, dtype: float64
name
miguel hernandez       0.000105
kevon dixon            0.000105
ed philo               0.000105
marcu brown            0.000105
bouthy pierrelouis     0.008013
                         ...
steven butler          0.000105
malcolm simmons        0.000105
winston gregory        0.000105
farrah jean            0.000105
florencia sanmartin    0.000211
Name: c_days_from_compas, Length: 6889, dtype: float64

In [82]:

def juv_other_count(x):
    return (x - juv_other_count_min)/(juv_other_count_max - juv_other_count_min)


print(compas_data['juv_other_count'])
compas_data['juv_other_count'] = compas_data['juv_other_count'].map(lambda x: juv_other_count(x))
print(compas_data['juv_other_count'])

name
miguel hernandez       0
kevon dixon            0
ed philo               1
marcu brown            0
bouthy pierrelouis     0
                      ..
steven butler          0
malcolm simmons        0
winston gregory        0
farrah jean            0
florencia sanmartin    0
Name: juv_other_count, Length: 6889, dtype: int64
name
miguel hernandez       0.000000
kevon dixon            0.000000
ed philo               0.058824
marcu brown            0.000000
bouthy pierrelouis     0.000000
                         ...
steven butler          0.000000
malcolm simmons        0.000000
winston gregory        0.000000
farrah jean            0.000000
florencia sanmartin    0.000000
Name: juv_other_count, Length: 6889, dtype: float64

In [83]:

def days_b_screening_arrest(x):
    return (x - days_b_screening_arrest_min)/(days_b_screening_arrest_max - days_b_screening_arrest_min)


print(compas_data['days_b_screening_arrest'])
compas_data['days_b_screening_arrest'] = compas_data['days_b_screening_arrest'].map(lambda x: days_b_screening_arrest(x))
print(compas_data['days_b_screening_arrest'])

name
miguel hernandez      -1.0
kevon dixon           -1.0
ed philo              -1.0
marcu brown            NaN
bouthy pierrelouis     NaN
                      ...
steven butler         -1.0
malcolm simmons       -1.0
winston gregory       -1.0
farrah jean           -1.0
florencia sanmartin   -2.0
Name: days_b_screening_arrest, Length: 6889, dtype: float64
name
miguel hernandez       0.280761
kevon dixon            0.280761
ed philo               0.280761
marcu brown                 NaN
bouthy pierrelouis          NaN
                         ...
steven butler          0.280761
malcolm simmons        0.280761
winston gregory        0.280761
farrah jean            0.280761
florencia sanmartin    0.280082
Name: days_b_screening_arrest, Length: 6889, dtype: float64

In [84]:

def start(x):
    return (x - start_min)/(start_max - start_min)


print(compas_data['start'])
compas_data['start'] = compas_data['start'].map(lambda x: start(x))
print(compas_data['start'])

name
miguel hernandez       0
kevon dixon            9
ed philo               0
marcu brown            0
bouthy pierrelouis     0
                      ..
steven butler          1
malcolm simmons        1
winston gregory        0
farrah jean            0
florencia sanmartin    0
Name: start, Length: 6889, dtype: int64
name
miguel hernandez       0.000000
kevon dixon            0.009605
ed philo               0.000000
marcu brown            0.000000
bouthy pierrelouis     0.000000
                         ...
steven butler          0.001067
malcolm simmons        0.001067
winston gregory        0.000000
farrah jean            0.000000
florencia sanmartin    0.000000
Name: start, Length: 6889, dtype: float64

In [85]:
def end(x):
    return (x - end_min)/(end_max - end_min)


print(compas_data['end'])
compas_data['end'] = compas_data['end'].map(lambda x: end(x))
print(compas_data['end'])

name
miguel hernandez        327
kevon dixon             159
ed philo                 63
marcu brown            1174
bouthy pierrelouis     1102
                       ...
steven butler           860
malcolm simmons         790
winston gregory         808
farrah jean             754
florencia sanmartin     258
Name: end, Length: 6889, dtype: int64
name
miguel hernandez       0.275717
kevon dixon            0.134064
ed philo               0.053120
marcu brown            0.989882
bouthy pierrelouis     0.929174
                         ...
steven butler          0.725126
malcolm simmons        0.666105
winston gregory        0.681282
farrah jean            0.635750
florencia sanmartin    0.217538
Name: end, Length: 6889, dtype: float64

In [86]:

def age(x):
    return (x - age_min)/(age_max - age_min)


print(compas_data['age'])
compas_data['age'] = compas_data['age'].map(lambda x: age(x))
print(compas_data['age'])

name
miguel hernandez       69
kevon dixon            34
ed philo               24
marcu brown            23
bouthy pierrelouis     43
                       ..
steven butler          23
malcolm simmons        23
winston gregory        57
farrah jean            33
florencia sanmartin    23
Name: age, Length: 6889, dtype: int64
name
miguel hernandez       0.784615
kevon dixon            0.246154
ed philo               0.092308
marcu brown            0.076923
bouthy pierrelouis     0.384615
                         ...
steven butler          0.076923
malcolm simmons        0.076923
winston gregory        0.600000
farrah jean            0.230769
florencia sanmartin    0.076923
Name: age, Length: 6889, dtype: float64

In [87]:

def priors_count(x):
    return (x - priors_count_min)/(priors_count_max - priors_count_min)


print(compas_data['priors_count'])
compas_data['priors_count'] = compas_data['priors_count'].map(lambda x: priors_count(x))
print(compas_data['priors_count'])

name
miguel hernandez       0
kevon dixon            0
ed philo               4
marcu brown            1
bouthy pierrelouis     2
                      ..
steven butler          0
malcolm simmons        0
winston gregory        0
farrah jean            3
florencia sanmartin    2
Name: priors_count, Length: 6889, dtype: int64
name
miguel hernandez       0.000000
kevon dixon            0.000000
ed philo               0.105263
marcu brown            0.026316
bouthy pierrelouis     0.052632
                         ...
steven butler          0.000000
malcolm simmons        0.000000
winston gregory        0.000000
farrah jean            0.078947
florencia sanmartin    0.052632
Name: priors_count, Length: 6889, dtype: float64

In [88]:
compas_data.to_csv(r"../../InputData/CompasData/ForRanking/CompasData_score_normalized.csv", index=False)

In [89]:
compas_data['score'] = [0]*6889

In [90]:

print(compas_data['score'])

compas_data['score'] = compas_data['c_days_from_compas'] + compas_data['juv_other_count'] + \
                       compas_data['days_b_screening_arrest'] + compas_data['start'] + compas_data['end'] \
                       + compas_data['priors_count']


print(compas_data['score'])

name
miguel hernandez       0
kevon dixon            0
ed philo               0
marcu brown            0
bouthy pierrelouis     0
                      ..
steven butler          0
malcolm simmons        0
winston gregory        0
farrah jean            0
florencia sanmartin    0
Name: score, Length: 6889, dtype: int64
name
miguel hernandez       0.556584
kevon dixon            0.424536
ed philo               0.498073
marcu brown                 NaN
bouthy pierrelouis          NaN
                         ...
steven butler          1.007061
malcolm simmons        0.948039
winston gregory        0.962148
farrah jean            0.995565
florencia sanmartin    0.550462
Name: score, Length: 6889, dtype: float64

In [91]:
compas_data.to_csv(r"../../InputData/CompasData/ForRanking/CompasData_with_score.csv", index=False)

In [92]:
compas_data = pd.read_csv(r"../../InputData/CompasData/ForRanking/CompasData_with_score.csv", index_col=0)

In [93]:
compas_data['rank'] = compas_data['score'].rank(method='first', na_option='bottom')
compas_data['rank']

FirstName
miguel       1677.0
kevon         786.0
ed           1303.0
marcu        6596.0
bouthy       6597.0
              ...
steven       4119.0
malcolm      3641.0
winston      3752.0
farrah       4032.0
florencia    1634.0
Name: rank, Length: 6889, dtype: float64

In [94]:
compas_data = compas_data.sort_values(by=['rank'])
compas_data

,LastName,sex,DateOfBirth,age,race,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,...,two_year_recid,Violence_score,Recidivism_score,MarriageStatus,age_binary,age_bucketized,sex_binary,race_C,score,rank
FirstName,,,,,,,,,,,,,,,,,,,,,
miguel,garcia-silverio,Male,11/18/1995,0.030769,Caucasian,0,2,0,0.000000,0.000000,...,1,-1.92,-1.07,Single,0,0,0,1,0.281605,1.0
christopher,mcewan,Male,3/3/1988,0.153846,African-American,0,4,0,0.000000,0.000000,...,1,-2.31,-0.52,Single,0,0,0,0,0.282390,2.0
steven,king,Male,12/30/1980,0.261538,African-American,0,7,0,0.000000,0.000000,...,1,-2.28,-0.09,Single,0,0,0,0,0.283396,3.0
benjamin,robinson,Male,7/4/1989,0.123077,African-American,0,4,0,0.000000,0.000000,...,1,-1.99,-0.51,Single,0,0,0,0,0.284239,4.0
gregory,lugo,Male,1/13/1977,0.323077,Caucasian,0,1,0,0.000000,0.000000,...,1,-2.80,-1.05,Divorced,1,1,0,1,0.284688,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
clayton,mitchell,Male,10/11/1992,0.076923,African-American,2,6,0,0.000000,0.078947,...,0,-0.89,-0.17,Significant Other,0,0,0,0,NaN,6885.0
marion,davis,Male,2/26/1988,0.153846,African-American,0,3,0,0.000000,0.000000,...,1,-2.53,-0.95,Single,0,0,0,0,NaN,6886.0
michelle,st. surin,Female,2/27/1987,0.169231,African-American,0,4,0,0.000000,0.000000,...,0,-2.33,-0.90,Single,0,0,1,0,NaN,6887.0
joseph,alvardo,Male,1/26/1985,0.200000,African-American,0,6,0,0.000000,0.026316,...,0,-1.60,-0.25,Single,0,0,0,0,NaN,6888.0
stanley,givens,Male,10/1/1992,0.076923,African-American,0,2,0,0.058824,0.000000,...,0,-2.24,-1.24,Single,0,0,0,0,NaN,6889.0

In [95]:
compas_data_ranked = compas_data.copy()
compas_data_ranked = compas_data_ranked.drop("name", axis=1)
compas_data_ranked=compas_data_ranked.drop("FirstName", axis=1)
compas_data_ranked=compas_data_ranked.drop("LastName", axis=1)
compas_data_ranked=compas_data_ranked.drop("sex", axis=1)
compas_data_ranked=compas_data_ranked.drop("DateOfBirth", axis=1)

KeyError: "['name'] not found in axis"

In [96]:
compas_data_ranked.columns

Index(['LastName', 'sex', 'DateOfBirth', 'age', 'race', 'juv_fel_count',
       'decile_score', 'juv_misd_count', 'juv_other_count', 'priors_count',
       'days_b_screening_arrest', 'c_days_from_compas', 'c_charge_degree',
       'is_recid', 'is_violent_recid', 'v_decile_score', 'priors_count_C',
       'start', 'end', 'event', 'two_year_recid', 'Violence_score',
       'Recidivism_score', 'MarriageStatus', 'age_binary', 'age_bucketized',
       'sex_binary', 'race_C', 'score', 'rank'],
      dtype='object')

In [97]:
compas_data_ranked[:5]

,LastName,sex,DateOfBirth,age,race,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,...,two_year_recid,Violence_score,Recidivism_score,MarriageStatus,age_binary,age_bucketized,sex_binary,race_C,score,rank
FirstName,,,,,,,,,,,,,,,,,,,,,
miguel,garcia-silverio,Male,11/18/1995,0.030769,Caucasian,0,2,0,0.0,0.0,...,1,-1.92,-1.07,Single,0,0,0,1,0.281605,1.0
christopher,mcewan,Male,3/3/1988,0.153846,African-American,0,4,0,0.0,0.0,...,1,-2.31,-0.52,Single,0,0,0,0,0.282390,2.0
steven,king,Male,12/30/1980,0.261538,African-American,0,7,0,0.0,0.0,...,1,-2.28,-0.09,Single,0,0,0,0,0.283396,3.0
benjamin,robinson,Male,7/4/1989,0.123077,African-American,0,4,0,0.0,0.0,...,1,-1.99,-0.51,Single,0,0,0,0,0.284239,4.0
gregory,lugo,Male,1/13/1977,0.323077,Caucasian,0,1,0,0.0,0.0,...,1,-2.80,-1.05,Divorced,1,1,0,1,0.284688,5.0

In [98]:
compas_data_ranked.to_csv(r"../../InputData/CompasData/ForRanking/CompasData_ranked.csv", index=False)

In [99]:
compas_data_ranked = pd.read_csv(r"../../InputData/CompasData/ForRanking/CompasData_ranked.csv", index_col=0)

In [101]:
selected_columns = compas_data_ranked[["sex_binary","age_binary","race_C","age_bucketized","rank"]]
new_df = selected_columns.copy()
new_df.to_csv(r"../../InputData/CompasData/ForRanking/CompasData_ranked_5att.csv", index=False)

In [102]:
new_df_small = new_df[:100]
new_df_small.to_csv(r"../../InputData/CompasData/ForRanking/SmallDataset/CompasData_ranked_5att_100.csv", index=False)

    Unnamed: 0  sex_binary  age_binary  race_C  age_bucketized   rank
0         1987           0           0       1               0    1.0
1         1485           0           0       0               0    2.0
2         3013           0           0       0               0    3.0
3          919           0           0       0               0    4.0
4         5462           0           1       1               1    5.0
..         ...         ...         ...     ...             ...    ...
95        5721           1           0       2               0   96.0
96        5340           1           0       0               0   97.0
97        4914           0           0       0               0   98.0
98        6809           1           1       2               1   99.0
99          70           1           0       0               0  100.0

[100 rows x 6 columns]

In [103]:
original_file = r"../../InputData/CompasData/ForRanking/SmallDataset/CompasData_ranked_5att_100.csv"
ranked_data = pd.read_csv(original_file, index_col=0)
print(ranked_data)

            age_binary  race_C  age_bucketized   rank
sex_binary
0                    0       1               0    1.0
0                    0       0               0    2.0
0                    0       0               0    3.0
0                    0       0               0    4.0
0                    1       1               1    5.0
...                ...     ...             ...    ...
1                    0       2               0   96.0
1                    0       0               0   97.0
0                    0       0               0   98.0
1                    1       2               1   99.0
1                    0       0               0  100.0

[100 rows x 4 columns]

In [105]:
ranked_data=ranked_data.drop("rank", axis=1)

In [106]:
ranked_data.columns

Index(['age_binary', 'race_C', 'age_bucketized'], dtype='object')