This notebook is to prepare credit card dataset

In [5]:
import pandas as pd
from Algorithms import pattern_count

In [21]:
file_path = r'../../InputData/CreditcardDataset/credit_card_clients.xls'
original_data = pd.read_excel(file_path)
print(len(original_data))

30000

In [22]:
print(type(original_data))
print(original_data)

<class 'pandas.core.frame.DataFrame'>
       limit_bal  sex  education  marriage  age  pay_0  pay_2  pay_3  pay_4  \
0          20000    2          2         1   24      2      2     -1     -1
1         120000    2          2         2   26     -1      2      0      0
2          90000    2          2         2   34      0      0      0      0
3          50000    2          2         1   37      0      0      0      0
4          50000    1          2         1   57     -1      0     -1      0
...          ...  ...        ...       ...  ...    ...    ...    ...    ...
29995     220000    1          3         1   39      0      0      0      0
29996     150000    1          3         2   43     -1     -1     -1     -1
29997      30000    1          2         2   37      4      3      2     -1
29998      80000    1          3         1   41      1     -1      0      0
29999      50000    1          2         1   46      0      0      0      0

       pay_5  ...  bill_amt4  bill_amt5  bill_amt6  pay_amt1  pay_amt2  \
0         -2  ...          0          0          0         0       689
1          0  ...       3272       3455       3261         0      1000
2          0  ...      14331      14948      15549      1518      1500
3          0  ...      28314      28959      29547      2000      2019
4          0  ...      20940      19146      19131      2000     36681
...      ...  ...        ...        ...        ...       ...       ...
29995      0  ...      88004      31237      15980      8500     20000
29996      0  ...       8979       5190          0      1837      3526
29997      0  ...      20878      20582      19357         0         0
29998      0  ...      52774      11855      48944     85900      3409
29999      0  ...      36535      32428      15313      2078      1800

       pay_amt3  pay_amt4  pay_amt5  pay_amt6  default payment next month
0             0         0         0         0                           1
1          1000      1000         0      2000                           1
2          1000      1000      1000      5000                           0
3          1200      1100      1069      1000                           0
4         10000      9000       689       679                           0
...         ...       ...       ...       ...                         ...
29995      5003      3047      5000      1000                           0
29996      8998       129         0         0                           0
29997     22000      4200      2000      3100                           1
29998      1178      1926     52964      1804                           1
29999      1430      1000      1000      1000                           1

[30000 rows x 24 columns]

In [23]:
print(original_data[1:5])

   limit_bal  sex  education  marriage  age  pay_0  pay_2  pay_3  pay_4  \
1     120000    2          2         2   26     -1      2      0      0
2      90000    2          2         2   34      0      0      0      0
3      50000    2          2         1   37      0      0      0      0
4      50000    1          2         1   57     -1      0     -1      0

   pay_5  ...  bill_amt4  bill_amt5  bill_amt6  pay_amt1  pay_amt2  pay_amt3  \
1      0  ...       3272       3455       3261         0      1000      1000
2      0  ...      14331      14948      15549      1518      1500      1000
3      0  ...      28314      28959      29547      2000      2019      1200
4      0  ...      20940      19146      19131      2000     36681     10000

   pay_amt4  pay_amt5  pay_amt6  default payment next month
1      1000         0      2000                           1
2      1000      1000      5000                           0
3      1100      1069      1000                           0
4      9000       689       679                           0

[4 rows x 24 columns]

In [60]:
original_data = pd.read_csv(r'../../InputData/CreditcardDataset/credit_card_clients.csv')

original_data.describe()

,Unnamed: 0,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,14999.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,0.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7499.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,14999.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22499.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,29999.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [61]:
del original_data['Unnamed: 0']

In [62]:
original_data.to_csv(r'../../InputData/CreditcardDataset/credit_card_clients.csv')

In [63]:
original_data.describe()

,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [64]:
def limit_bal(x):
    if x < 200000:
        return 0
    elif x < 400000:
        return 1
    elif x < 600000:
        return 2
    elif x < 800000:
        return 3
    else:
        return 4

In [65]:
print(original_data['limit_bal'])
original_data['limit_bal'] = original_data['limit_bal'].map(lambda x: limit_bal(x))
print(original_data['limit_bal'])

0         20000
1        120000
2         90000
3         50000
4         50000
          ...
29995    220000
29996    150000
29997     30000
29998     80000
29999     50000
Name: limit_bal, Length: 30000, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
29995    1
29996    0
29997    0
29998    0
29999    0
Name: limit_bal, Length: 30000, dtype: int64

In [66]:

def age(x):
    if x < 40:
        return 0
    elif x < 60:
        return 1
    else:
        return 2

print(original_data['age'])
original_data['age'] = original_data['age'].map(lambda x: age(x))
print(original_data['age'])

0        24
1        26
2        34
3        37
4        57
         ..
29995    39
29996    43
29997    37
29998    41
29999    46
Name: age, Length: 30000, dtype: int64
0        0
1        0
2        0
3        0
4        1
        ..
29995    0
29996    1
29997    0
29998    1
29999    1
Name: age, Length: 30000, dtype: int64

In [67]:

original_data.describe()

,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,0.444100,1.603733,1.853133,1.551867,0.31610,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,0.631259,0.489129,0.790349,0.521970,0.48866,1.123802,1.197186,1.196868,1.169139,1.133187,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,0.000000,1.000000,0.000000,0.000000,0.00000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,1.000000,0.00000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,0.000000,2.000000,2.000000,2.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,1.000000,2.000000,2.000000,2.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,4.000000,2.000000,6.000000,3.000000,2.00000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [176]:
original_data.to_csv(r'../../InputData/CreditcardDataset/credit_card_clients_categorized_1.csv')

In [175]:
original_data.describe()

,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
mean,0.444100,1.603733,1.853133,1.551867,0.31610,1.983300,1.866233,1.833800,1.779333,1.733800,...,1.014967,0.031767,0.984733,1.001533,0.000467,0.001533,0.001267,0.007200,0.009933,0.221200
std,0.631259,0.489129,0.790349,0.521970,0.48866,1.123802,1.197186,1.196868,1.169139,1.133187,...,0.258221,0.190155,0.174646,0.044696,0.033662,0.046163,0.039981,0.104953,0.124238,0.415062
min,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,2.000000,2.000000,2.000000,0.00000,2.000000,2.000000,2.000000,2.000000,2.000000,...,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,2.000000,2.000000,2.000000,1.00000,2.000000,2.000000,2.000000,2.000000,2.000000,...,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.000000,2.000000,6.000000,3.000000,2.00000,10.000000,10.000000,10.000000,10.000000,10.000000,...,5.000000,4.000000,3.000000,4.000000,3.000000,3.000000,2.000000,3.000000,4.000000,1.000000

In [157]:

def pay_6(x):
    return x+2

print(original_data['pay_6'])
original_data['pay_6'] = original_data['pay_6'].map(lambda x: pay_6(x))
print(original_data['pay_6'])

0       -2
1        2
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    0
29998   -1
29999    0
Name: pay_6, Length: 30000, dtype: int64
0        0
1        4
2        2
3        2
4        2
        ..
29995    2
29996    2
29997    2
29998    1
29999    2
Name: pay_6, Length: 30000, dtype: int64

In [158]:
original_data.describe()['pay_6']

count    30000.000000
mean         1.708900
std          1.149988
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         10.000000
Name: pay_6, dtype: float64

## redundancy check