# Large dataset for student data

In [3]:
import numpy as np
import pandas as pd
import random
from Algorithms import pattern_count

In [22]:


df = pd.read_csv("student-mat_cat_ranked.csv")

df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,freetime_C,goout_C,Dalc_C,Walc_C,health_C,absences_C,G1_C,G2_C,G3_C,rank
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,...,395.000000,395.000000,395.000000,395.000000,395.000000,395.00000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,...,3.235443,3.108861,1.481013,2.291139,3.554430,0.01519,1.592405,1.524051,1.513924,198.000000
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,...,0.998862,1.113278,0.890741,1.287897,1.390303,0.14168,0.704188,0.751515,0.828848,114.170924
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.00000,0.000000,0.000000,0.000000,1.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,...,3.000000,2.000000,1.000000,1.000000,3.000000,0.00000,1.000000,1.000000,1.000000,99.500000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,...,3.000000,3.000000,1.000000,2.000000,4.000000,0.00000,2.000000,2.000000,2.000000,198.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,...,4.000000,4.000000,2.000000,3.000000,5.000000,0.00000,2.000000,2.000000,2.000000,296.500000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,2.00000,3.000000,3.000000,3.000000,395.000000

In [23]:

df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'school_C', 'sex_C',
       'age_C', 'address_C', 'famsize_C', 'Pstatus_C', 'Medu_C', 'Fedu_C',
       'Mjob_C', 'Fjob_C', 'reason_C', 'guardian_C', 'traveltime_C',
       'studytime_C', 'failures_C', 'schoolsup_C', 'famsup_C', 'paid_C',
       'activities_C', 'nursery_C', 'higher_C', 'internet_C', 'romantic_C',
       'famrel_C', 'freetime_C', 'goout_C', 'Dalc_C', 'Walc_C', 'health_C',
       'absences_C', 'G1_C', 'G2_C', 'G3_C', 'rank'],
      dtype='object')

In [24]:
# columns = ['G1', 'G2', 'G3', 'school_C', 'sex_C',
#         'age_C', 'address_C', 'famsize_C', 'Pstatus_C', 'Medu_C',
#         'Fedu_C', 'Mjob_C', 'Fjob_C', 'reason_C', 'guardian_C',
#         'traveltime_C', 'studytime_C', 'failures_C', 'schoolsup_C', 'famsup_C',
#         'paid_C', 'activities_C', 'nursery_C', 'higher_C', 'internet_C',
#         'romantic_C', 'famrel_C', 'freetime_C', 'goout_C', 'Dalc_C',
#         'Walc_C', 'health_C', 'absences_C', 'G1_C', 'G2_C',
#         'G3_C', 'rank']

In [25]:

columns = ['school_C', 'sex_C', 'age_C', 'address_C', 'famsize_C',
           'Pstatus_C', 'Medu_C', 'Fedu_C', 'Mjob_C', 'Fjob_C',
           'reason_C', 'guardian_C', 'traveltime_C', 'studytime_C', 'failures_C',
           'schoolsup_C', 'famsup_C', 'paid_C', 'activities_C', 'nursery_C',
           'higher_C', 'internet_C', 'romantic_C', 'famrel_C', 'freetime_C',
           'goout_C', 'Dalc_C', 'Walc_C', 'health_C', 'absences_C',
           'G1_C', 'G2_C', 'G3_C', 'rank']

In [16]:

df = df[columns]
df[:4]

,school_C,sex_C,age_C,address_C,famsize_C,Pstatus_C,Medu_C,Fedu_C,Mjob_C,Fjob_C,...,freetime_C,goout_C,Dalc_C,Walc_C,health_C,absences_C,G1_C,G2_C,G3_C,rank
0,0,0,0,0,1,0,4,3,1,2,...,2,2,1,1,2,0,3,3,3,1.0
1,0,0,0,0,0,1,3,2,2,4,...,2,2,1,1,1,0,3,3,3,2.0
2,0,0,0,0,0,1,4,4,0,0,...,5,3,1,1,4,0,3,3,3,3.0
3,0,0,0,0,0,0,4,2,0,4,...,5,2,1,1,3,0,3,3,3,4.0

In [17]:
df.to_csv("mat_cat_numeric_withrank.csv", index=False)

In [26]:


columns2 = ['G1', 'G2', 'G3', 'school_C', 'sex_C',
        'age_C', 'address_C', 'famsize_C', 'Pstatus_C', 'Medu_C',
        'Fedu_C', 'Mjob_C', 'Fjob_C', 'reason_C', 'guardian_C',
        'traveltime_C', 'studytime_C', 'failures_C', 'schoolsup_C', 'famsup_C',
        'paid_C', 'activities_C', 'nursery_C', 'higher_C', 'internet_C',
        'romantic_C', 'famrel_C', 'freetime_C', 'goout_C', 'Dalc_C',
        'Walc_C', 'health_C', 'absences_C', 'G1_C', 'G2_C',
        'G3_C', 'rank']

In [27]:

df2 = df[columns2].copy()
df2[:4]

,G1,G2,G3,school_C,sex_C,age_C,address_C,famsize_C,Pstatus_C,Medu_C,...,freetime_C,goout_C,Dalc_C,Walc_C,health_C,absences_C,G1_C,G2_C,G3_C,rank
0,19,19,20,0,0,0,0,1,0,4,...,2,2,1,1,2,0,3,3,3,1.0
1,16,18,19,0,0,0,0,0,1,3,...,2,2,1,1,1,0,3,3,3,2.0
2,18,19,19,0,0,0,0,0,1,4,...,5,3,1,1,4,0,3,3,3,3.0
3,18,19,19,0,0,0,0,0,0,4,...,5,2,1,1,3,0,3,3,3,4.0

In [30]:


df2.to_csv("student_to_extend.csv", index=False)

In [31]:

df2.describe()

,G1,G2,G3,school_C,sex_C,age_C,address_C,famsize_C,Pstatus_C,Medu_C,...,freetime_C,goout_C,Dalc_C,Walc_C,health_C,absences_C,G1_C,G2_C,G3_C,rank
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,...,395.000000,395.000000,395.000000,395.000000,395.000000,395.00000,395.000000,395.000000,395.000000,395.000000
mean,10.908861,10.713924,10.415190,0.116456,0.526582,0.073418,0.222785,0.711392,0.103797,2.749367,...,3.235443,3.108861,1.481013,2.291139,3.554430,0.01519,1.592405,1.524051,1.513924,198.000000
std,3.319195,3.761505,4.581443,0.321177,0.499926,0.261152,0.416643,0.453690,0.305384,1.094735,...,0.998862,1.113278,0.890741,1.287897,1.390303,0.14168,0.704188,0.751515,0.828848,114.170924
min,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.00000,0.000000,0.000000,0.000000,1.000000
25%,8.000000,9.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,...,3.000000,2.000000,1.000000,1.000000,3.000000,0.00000,1.000000,1.000000,1.000000,99.500000
50%,11.000000,11.000000,11.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,3.000000,...,3.000000,3.000000,1.000000,2.000000,4.000000,0.00000,2.000000,2.000000,2.000000,198.000000
75%,13.000000,13.000000,14.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,4.000000,...,4.000000,4.000000,2.000000,3.000000,5.000000,0.00000,2.000000,2.000000,2.000000,296.500000
max,19.000000,19.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,2.00000,3.000000,3.000000,3.000000,395.000000

In [33]:


def generateTuple(original_data):
    describe_data = original_data.describe()
    attributes = original_data.columns.tolist()
    tuple = list()
    for att in attributes:
        min = int(describe_data[att]['min'])
        max = int(describe_data[att]['max'])
        a = random.randint(min, max)
        tuple.append(a)
    return tuple


def extendDataset(newsize, filepath, output_pre):
    global tp
    original_data = pd.read_csv(filepath)

    oldsize = len(original_data)
    num_new_tuples = newsize - oldsize
    print("num_new_tuples={}".format(num_new_tuples))
    for i in range(num_new_tuples):
        tp = generateTuple(original_data)
        original_data.loc[len(original_data)] = tp
        if i % 1000 == 0:
            print(i, tp)
    output_path = output_pre + str(newsize) + ".csv"
    original_data.to_csv(output_path, index=False)

In [34]:

def UpdateAndRank(file_path, ranked_by):
    data = pd.read_csv(file_path)

    data['rank'] = data[ranked_by].rank(method='first', na_option='bottom', ascending=False)
    data = data.sort_values(by='rank', ascending=True)
    data.to_csv(file_path, index=False)


def ExtendAndRank(size, input_file_path, output_pre, ranked_by_att):
    extendDataset(size, input_file_path, output_pre)
    new_file_path = output_pre + str(size) + '.csv'
    UpdateAndRank(new_file_path, ranked_by_att)

In [36]:

# 395 rows

In [45]:

input_file_path = "student_to_extend.csv"
output_pre = r"./"
ExtendAndRank(1200, input_file_path, output_pre, 'G3')

num_new_tuples=804
0 [18, 10, 3, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 0, 1, 1, 3, 4, 2, 3, 3, 3, 0, 0, 1, 3, 62]

all_attributes = ["age_binary","sex_binary","race_C","MarriageStatus_C","juv_fel_count_C",
                  "decile_score_C", "juv_misd_count_C","juv_other_count_C","priors_count_C","days_b_screening_arrest_C",
                  "c_days_from_compas_C","c_charge_degree_C","v_decile_score_C","start_C","end_C",
                  "event_C"]

In [46]:

# G1_C, G2_C, G3_C:


def grades(x):
    if x <= 5:
        return 0
    elif x <= 10:
        return 1
    elif x <= 15:
        return 2
    else:
        return 3

for i in range(400, 1300, 100):
    print("i={}".format(i))
    student_data = pd.read_csv(str(i) + ".csv")

    student_data['G1_C'] = student_data['G1'].map(lambda x: grades(x))

    student_data['G2_C'] = student_data['G2'].map(lambda x: grades(x))

    student_data['G3_C'] = student_data['G3'].map(lambda x: grades(x))

i=400
i=500
i=600
i=700
i=800
i=900
i=1000
i=1100
i=1200

In [ ]:

for i in range(10000, 22000, 2000):
    print(i)
    output_pre = r"./"
    input_file_path = str(i-2000) + ".csv"
    extendDataset(i, input_file_path, output_pre)

## bucketize

In [24]:

def age(x):
    if x <= 30:
        return 0
    elif x <= 50:
        return 1
    else:
        return 2


def K6SUM42(x):
    if x == -9:
        return 0
    elif x == -1:
        return -1
    elif x < 8:
        return 1
    elif x < 16:
        return 2
    else:
        return 3

In [45]:


for i in range(8000, 22000, 2000):
    print(i)
    input_file_path = str(i) + ".csv"
    df = pd.read_csv(input_file_path)
    df['AGE_C'] = [0] * len(df)

    df['AGE_C'] = df['AGE'].map(lambda x: age(x))
    df['K6SUM42_C'] = [0] * len(df)

    df['K6SUM42_C'] = df['K6SUM42'].map(lambda x: K6SUM42(x))
    df.to_csv(input_file_path, index=False)

20000

# make mis, TP, TN, FP, FN

In [27]:

for i in range(8000, 22000, 2000):
    print(i)
    input_file_path = str(i) + '.csv'
    df = pd.read_csv(input_file_path)
    print(df['ground_truth'])
    mis = df[df['prediction'] + df['ground_truth'] == 1].copy()
    mis.to_csv(str(i) + '_mis.csv', index = False)

8000
0       1
1       0
2       0
3       1
4       0
       ..
7995    1
7996    0
7997    0
7998    1
7999    1
Name: ground_truth, Length: 8000, dtype: int64
10000
0       1
1       0
2       0
3       1
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: ground_truth, Length: 10000, dtype: int64
12000
0        1
1        0
2        0
3        1
4        0
        ..
11995    1
11996    1
11997    1
11998    0
11999    1
Name: ground_truth, Length: 12000, dtype: int64
14000
0        1
1        0
2        0
3        1
4        0
        ..
13995    1
13996    1
13997    0
13998    1
13999    1
Name: ground_truth, Length: 14000, dtype: int64
16000
0        1
1        0
2        0
3        1
4        0
        ..
15995    0
15996    0
15997    1
15998    0
15999    1
Name: ground_truth, Length: 16000, dtype: int64
18000
0        1
1        0
2        0
3        1
4        0
        ..
17995    1
17996    1
17997    0
17998    1
17999    1
Name: ground_truth, Length: 18000, dtype: int64
20000
0        1
1        0
2        0
3        1
4        0
        ..
19995    0
19996    0
19997    1
19998    1
19999    0
Name: ground_truth, Length: 20000, dtype: int64

In [39]:


for i in range(8000, 22000, 2000):
    print(i)
    input_file_path = str(i) + '.csv'
    df = pd.read_csv(input_file_path)
    TP = df[(df['prediction'] == 1) & (df['ground_truth'] == 1)].copy()
    TP.to_csv(str(i) + '_TP.csv', index = False)
    TN = df[(df['prediction'] == 0) & (df['ground_truth'] == 0)].copy()
    TN.to_csv(str(i) + '_TN.csv', index = False)
    FP = df[(df['prediction'] == 1) & (df['ground_truth'] == 0)].copy()
    FP.to_csv(str(i) + '_FP.csv', index = False)
    FN = df[(df['prediction'] == 0) & (df['ground_truth'] == 1)].copy()
    FN.to_csv(str(i) + '_FN.csv', index = False)

8000
10000
12000
14000
16000
18000
20000