
This notebook aims to create datasets with different sizes

# 1. Small Dataset to Check Implementation Correctness

In [1]:
import numpy as np
import pandas as pd

# 1.1 small dataset

In [2]:
adult3 = pd.read_csv("../InputData/CleanAdult3.csv")
print(adult3.shape)
print(adult3[:5])

(45222, 13)
   age  workclass  education  educational-num  marital-status  occupation  \
0    0          2          1                7               4           6
1    0          2         11                9               2           4
2    0          1          7               12               2          10
3    1          2         15               10               2           6
4    0          2          0                6               4           7

   relationship  race  gender  capital-gain  capital-loss  hours-per-week  \
0             3     2       1             0             0               2
1             0     4       1             0             0               2
2             0     4       1             0             0               2
3             0     2       1             4             0               2
4             1     4       1             0             0               1

   native-country
0              38
1              38
2              38
3              38
4              38

In [3]:
SmallWhole_3_20 = adult3[adult3.columns[0:3]].head(20)

In [4]:
# this is dataset with only attributes
SmallWhole_3_20.to_csv (r'../InputData/SmallDataset/SmallWhole_3_20.csv', index = False, header=True)

In [5]:
# suppose mis-classified tuples are the first 10
SmallMisClass_3_20 = SmallWhole_3_20[:10]
SmallMisClass_3_20.to_csv(r'../InputData/SmallDataset/SmallMisClass_3_20.csv', index = False, header=True)

In [35]:
# this is dataset with income levels
adult2 = pd.read_csv("../InputData/CleanAdult2.csv")
s = adult2.columns[0:5].tolist()
s.append('income')


Small_5_20_income = adult2[s].head(20)
Small_5_20_income

    age  workclass  education  educational-num  marital-status  income
0     0          2          1                7               4       0
1     0          2         11                9               2       0
2     0          1          7               12               2       1
3     1          2         15               10               2       1
4     0          2          0                6               4       0
5     2          4         14               15               2       1
6     0          2         15               10               4       0
7     1          2          5                4               2       0
8     2          2         11                9               2       1
9     0          0          9               13               2       0
10    0          2         11                9               4       0
11    1          2         11                9               2       1
12    1          2         12               14               2       1
13    0          5         15               10               4       0
14    1          2         11                9               2       0
15    0          2         11                9               6       0
16    0          2          9               13               2       1
17    0          2         15               10               4       0
18    0          2          9               13               4       0
19    0          2          9               13               2       0