In [13]:
import pandas as pd

In [14]:
data = pd.read_csv("cox-parsed_7214rows_cat.csv")
data[:4]

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event
0,1,miguel hernandez,miguel,hernandez,2013-08-14,0,1947-04-18,69,2,5,...,Risk of Violence,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0
1,3,kevon dixon,kevon,dixon,2013-01-27,0,1982-01-22,34,1,0,...,Risk of Violence,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1
2,4,ed philo,ed,philo,2013-04-14,0,1991-05-14,24,0,0,...,Risk of Violence,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0
3,5,marcu brown,marcu,brown,2013-01-13,0,1993-01-21,23,0,0,...,Risk of Violence,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0

In [15]:
data.columns

Index(['id', 'name', 'first', 'last', 'compas_screening_date', 'sex', 'dob',
       'age', 'age_cat', 'race', 'juv_fel_count', 'decile_score',
       'juv_misd_count', 'juv_other_count', 'priors_count',
       'days_b_screening_arrest', 'c_jail_in', 'c_jail_out', 'c_case_number',
       'c_offense_date', 'c_arrest_date', 'c_days_from_compas',
       'c_charge_degree', 'c_charge_desc', 'is_recid', 'r_case_number',
       'r_charge_degree', 'r_days_from_arrest', 'r_offense_date',
       'r_charge_desc', 'r_jail_in', 'r_jail_out', 'violent_recid',
       'is_violent_recid', 'vr_case_number', 'vr_charge_degree',
       'vr_offense_date', 'vr_charge_desc', 'type_of_assessment',
       'decile_score.1', 'score_text', 'screening_date',
       'v_type_of_assessment', 'v_decile_score', 'v_score_text',
       'v_screening_date', 'in_custody', 'out_custody', 'priors_count.1',
       'start', 'end', 'event'],
      dtype='object')

In [16]:
data2 = data.drop("id", axis=1)

In [17]:
data2 = data2.drop("name", axis=1)
data2 = data2.drop("first", axis=1)
data2 = data2.drop("last", axis=1)
data2 = data2.drop("age", axis=1)
data2 = data2.drop("dob", axis=1)

In [18]:
data2[:4]

,compas_screening_date,sex,age_cat,race,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,...,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event
0,2013-08-14,0,2,5,0,1,0,0,0,-1.0,...,Risk of Violence,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0
1,2013-01-27,0,1,0,0,3,0,0,0,-1.0,...,Risk of Violence,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1
2,2013-04-14,0,0,0,0,4,0,1,4,-1.0,...,Risk of Violence,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0
3,2013-01-13,0,0,0,0,8,1,0,1,NaN,...,Risk of Violence,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0

In [10]:
data2 = data2.rename(columns={'age_cat': 'age'})

In [11]:
data2[:3]

,compas_screening_date,sex,age,race,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,...,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event
0,2013-08-14,0,2,5,0,1,0,0,0,-1.0,...,Risk of Violence,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0
1,2013-01-27,0,1,0,0,3,0,0,0,-1.0,...,Risk of Violence,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1
2,2013-04-14,0,0,0,0,4,0,1,4,-1.0,...,Risk of Violence,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0

In [19]:
data2.to_csv("cox-parsed_7214rows_cat_necessary_att1.csv", index=False)